{% extends "_gen-varibles.njk" %}

{% macro color(data = colorName[0]) %}
  {% for name, item in data %}
    <h5 class="mv20">{{ name | capitalize }}</h5>
    <div class="row row-20">
      {% for name2, item2 in data[name] %}
        <div class="col-md-auto col-6">
          <div class="color-block">
            <div class="color-block-color ubg-{{ name2 }} ubg-hover ubg-active h6">
              <div class="p text-truncate">{{ name2 }}</div>
              <div class="p text-truncate">{{ data[name][name2]['color'] }}</div>
            </div>
            <div class="color-block-info h6">
              {% if name == 'level' %}
                <div class="row row-5 justify-content-between">
                  <div class="col-auto">{{ data[name][name2] }}</div>
                </div>
              {% else %}
                <div class="row row-5 justify-content-between">
                  <div class="col-auto color-block-label">Active</div>
                  <div class="col text-right text-truncate">{{ data[name][name2]['active'] }}
                    <div class="color-block-sample" style="background: {{data[name][name2]['active']}}"></div>
                  </div>
                </div>
                <div class="row row-5 justify-content-between">
                  <div class="col-auto color-block-label">Hover</div>
                  <div class="col text-right text-truncate">{{ data[name][name2]['hover']}}
                    <div class="color-block-sample" style="background: {{data[name][name2]['hover']}}"></div>
                  </div>
                </div>
                <div class="row row-5 justify-content-between">
                  <div class="col-auto color-block-label">Text</div>
                  <div class="col text-right text-truncate">{{ data[name][name2]['text'] }}
                    <div class="color-block-sample"></div>
                  </div>
                </div>
                <div class="row row-5 justify-content-between">
                  <div class="col-auto color-block-label">Shadow</div>
                  <div class="col text-right text-truncate">{{ data[name][name2]['shadow'] }}
                    <div class="color-block-sample"></div>
                  </div>
                </div>
              {% endif %}

            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  {% endfor %}
{% endmacro %}