{% import '_dev-gen-varibles.njk' as globalsVarImg %}
{% import '_gen-varibles.njk' as globalsVarColor %}

{% import '_devMacro.njk' as macro %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <base href="..\..\.">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dev</title>
    <link rel="stylesheet" href="dev-only/devSrc/libs/tippy/tippy.min.css">
    <link rel="stylesheet" href="dev-only/devSrc/devCss.css">
  </head>
  <body>
    <div id="listWrap" class="list-wrap">
      <div class="copy-console-wrap">
        <div id="copyConsole"></div>
      </div>
      <div class="search-wrap">
        <input type="checkbox" class="hidden" id="sectionSelectToggle">
        <div class="row row-10 align-items-center">
          <div class="col">
            <div class="search-inner">
              <input class="search" id="search" type="text" placeholder="Search...">
              <label for="search" class="clear-btn" id="searchClear"></label>
            </div>
          </div>
          <div class="col-auto">
            <label for="sectionSelectToggle" data-tippy-content="Filter"></label>
          </div>
        </div>
        <div class="lang">
          <label class="lang-item">
            <input type="radio" name="asset" value="sectionAll" checked="checked">
            <div class="lang-inner icAllAsset" data-tippy-content="All"></div>
          </label>
          <label class="lang-item">
            <input type="radio" name="asset" value="sectionText">
            <div class="lang-inner icTextAsset" data-tippy-content="Text"></div>
          </label>
          <label class="lang-item">
            <input type="radio" name="asset" value="sectionIconColor">
            <div class="lang-inner icIconColorAsset" data-tippy-content="Icon Color"></div>
          </label>
          <label class="lang-item">
            <input type="radio" name="asset" value="sectionIcon">
            <div class="lang-inner icIcon" data-tippy-content="Icons"></div>
          </label>
          <label class="lang-item">
            <input type="radio" name="asset" value="sectionImage">
            <div class="lang-inner icImage" data-tippy-content="Images"></div>
          </label>
          <label class="lang-item">
            <input type="radio" name="asset" value="sectionColor">
            <div class="lang-inner icColorAsset" data-tippy-content="Color"></div>
          </label>
        </div>
      </div>
      <div class="list-wrap-inner">
        {% block main %}{% endblock %}
      </div>
      <div class="info-section">
        <div class="info-group icon-info-group hidden">
          <div class="img-holder" data-action="zoom">
            <img src="" alt="" data-zoomable="data-zoomable">
          </div>
          <div class="btn file-name" data-clipboard-text=""></div>
          <div class="btn file-size" data-clipboard-text=""></div>
          <div class="btn file-dimension" data-clipboard-text="" id="fileDimension"></div>
          <div class="color-label-wrap hidden">
            {% for key, item in globalsVarImg.colorIconName[0] %}
              {% set checkedText = '' %}
              {% if key == 'default' %}
                {% set checkedText = 'checked' %}
              {% endif %}
              <label class="color-label" data-clipboard-text="" data-tippy-content="{{ key }}">
                <input type="radio" name="colorPicker" value="{{ key }}" {{ checkedText }}>
                <div class="color-label-inner" style="background-color: {{ item }}"></div>
              </label>
            {% endfor %}
          </div>
          <div class="btn-group">
            <label class="btn-input btn-css btn-html" data-clipboard-text="">
              <input type="radio" class="hidden copyBtn" name="imageBtn" id="" value="copyVaribles" checked="checked">
              <div class="btn-input-inner">
                Link
              </div>
            </label>
            <label class="btn-input btn-css" data-clipboard-text="">
              <input type="radio" class="hidden copyBtn" name="imageBtn" id="" value='<img src="copyVaribles" alt="">'>
              <div class="btn-input-inner">
                HTML Image
              </div>
            </label>
            <label class="btn-input btn-css btn-html" data-clipboard-text="">
              <input type="radio" class="hidden copyBtn" name="imageBtn" id="" value="background-image: url(../copyVaribles);">
              <div class="btn-input-inner">
                CSS BG Img
              </div>
            </label>
          </div>
        </div>
        <div class="info-group color-info-group hidden">
          <div class="img-holder"></div>
          <div class="btn color-name" data-clipboard-text=""></div>
          <div class="btn file-name" data-clipboard-text=""></div>
          <div class="lang">
            <label class="lang-item">
              <input type="radio" data-clipboard-text="" name="langColorSelect" checked="checked" class="css langSelect langCSS">
              <div class="lang-inner lang-inner-css" data-tippy-content="CSS"></div>
            </label>
            <label class="lang-item">
              <input type="radio" data-clipboard-text="" name="langColorSelect" class="css langSelect langScss">
              <div class="lang-inner lang-inner-scss" data-tippy-content="SCSS"></div>
            </label>
            <label class="lang-item">
              <input type="radio" data-clipboard-text="" name="langColorSelect" class="html langSelect langHTML">
              <div class="lang-inner lang-inner-html" data-tippy-content="HTML"></div>
            </label>
          </div>
          <div class="btn-group">
            <label class="btn-input btn-css" data-clipboard-text="">
              <input type="radio" class="hidden copyBtn" name="colorBtn" id="" checked="checked" value="copyVaribles;">
              <div class="btn-input-inner">
                Var
              </div>
            </label>
            <label class="btn-input btn-css btn-html" data-clipboard-text="">
              <input type="radio" class="hidden copyBtn" name="colorBtn" id="" value="color: copyVaribles;">
              <div class="btn-input-inner">
                Color
              </div>
            </label>
            <label class="btn-input btn-css" data-clipboard-text="">
              <input type="radio" class="hidden copyBtn" name="colorBtn" id="" value="border: 1px solid copyVaribles;">
              <div class="btn-input-inner">
                Border
              </div>
            </label>
            <label class="btn-input btn-css btn-html" data-clipboard-text="">
              <input type="radio" class="hidden copyBtn" name="colorBtn" id="" value="background-color: copyVaribles;">
              <div class="btn-input-inner">
                Background
              </div>
            </label>
            <label class="btn-input btn-css" data-clipboard-text="">
              <input type="radio" class="hidden copyBtn" name="colorBtn" id="" value="box-shadow: 0 0 4px rgba(copyVaribles, 0.3);">
              <div class="btn-input-inner">
                Shadow
              </div>
            </label>
            <label class="btn-inputbtn-html hidden" data-clipboard-text="">
              <input type="radio" class="hidden copyBtn" name="colorBtn" id="" value="ubg-hover-copyVaribles">
              <div class="btn-input-inner">
                Bg Hover
              </div>
            </label>
          </div>
        </div>
        <div class="info-group text-info-group hidden">
          <div class="img-holder"></div>
          <div class="btn font-size-name" data-clipboard-text=""></div>
          <div class="btn weight-name" data-clipboard-text=""></div>
          <div class="btn line-height-name" data-clipboard-text=""></div>
          <div class="lang">
            <label class="lang-item">
              <input type="radio" data-clipboard-text="" name="langTextSelect" checked="checked" class="css langSelect langCSS">
              <div class="lang-inner lang-inner-css" data-tippy-content="CSS"></div>
            </label>
            <label class="lang-item">
              <input type="radio" data-clipboard-text="" name="langTextSelect" class="css langSelect langScss">
              <div class="lang-inner lang-inner-scss" data-tippy-content="SCSS"></div>
            </label>
            <label class="lang-item">
              <input type="radio" data-clipboard-text="" name="langTextSelect" class="html langSelect langHTML">
              <div class="lang-inner lang-inner-html" data-tippy-content="HTML"></div>
            </label>
          </div>
          <div class="btn-group">
            <label class="btn-input btn-css" data-clipboard-text="">
              <input type="radio" class="hidden copyBtn" name="textBtn" id="" checked="checked" value="copyVaribles;">
              <div class="btn-input-inner">
                Var
              </div>
            </label>
            <label class="btn-input btn-css btn-html" data-clipboard-text="">
              <input type="radio" class="hidden copyBtn" name="textBtn" id="" value="font-size: copyVaribles;">
              <div class="btn-input-inner">
                Font size
              </div>
            </label>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
<script src="dev-only/devSrc/libs/jquery/jquery.min.js"></script>
<script src="dev-only/devSrc/libs/clipboardjs/clipboard.min.js"></script>
<script src="dev-only/devSrc/libs/listjs/list.min.js"></script>
<script src="dev-only/devSrc/libs/tippy/popper.min.js"></script>
<script src="dev-only/devSrc/libs/tippy/tippy-bundle.umd.min.js"></script>
<script src="dev-only/devSrc/libs/mediumzoom/medium-zoom.min.js"></script>
<script src="dev-only/devSrc/libs/svg-inline/jquery-svg-to-inline.min.js"></script>
<script src="dev-only/devSrc/devJs.js"></script>
{% block script %}{% endblock %}