{% import "macros/_base.njk" as base %}
{% import "macros/_utilities.njk" as util %}
{% import "macros/forms/_forms.njk" as form %}
{% import "macros/forms/_modals.njk" as modal %}
{% import "macros/forms/_buttons.njk" as button %}
{% import "macros/forms/_dropdown.njk" as dropdown %}
{% import "macros/forms/_tables.njk" as table %}
{% import "macros/forms/_rnc.njk" as rnc %}
{% import "macros/forms/_tabs.njk" as tab %}
{% import "macros/forms/_files-upload.njk" as file %}
{% import "macros/_custom.njk" as custom %}
{% import "_varibles.njk" as globalsVar %}

<!DOCTYPE html>
<html lang="en">

  <head>
    <base href="{{ baseLink }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <title>Ultimate HTML - {{ theme }} {{ colorTheme }}
      {{ pageTitle }}</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;800&display=swap" rel="stylesheet">
    
    <!-- bootstrap -->
    <link rel="stylesheet" href="css/vendors/bootstrap/bootstrap.bundles.css">
    <!-- end bootstrap -->

    <!-- bootstrap -->
    <link rel="stylesheet" href="css/vendors/swiper/swiper.bundles.css">
    <!-- end bootstrap -->

    <!-- select2 -->
    <link rel="stylesheet" href="css/vendors/select2/select2.bundles.css">
    <!-- end select2 -->

    <!-- croppie -->
    <link rel="stylesheet" href="css/vendors/croppie/croppie.bundles.css">
    <!-- end croppie -->

    <!-- css use for this page only -->
    {% block css %}{% endblock %}
    <!-- end css use for this page only -->

    <!-- css use for this page only -->
    {% block pageCss %}{% endblock %}
    <!-- end css use for this page only -->
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/custom.bundles.css">
    <link rel="shortcut icon" type="text/html" href="media/favicon/favicon.png">
  </head>

  <body>
    {% block main %}{% endblock %}
  </body>
  {% block modal %}{% endblock %}
    
  <!-- ie11polyfills -->
  <script src="js/vendors/ie11polyfills/ie11polyfills.bundles.js"></script>
  <!-- ie11polyfills -->

  <!-- jquery -->
  <script src="js/vendors/jquery/jquery.bundles.js"></script>
  <script src="js/vendors/jquery/jquery.init.js"></script>
  <!-- jquery -->
  
  <!-- iosInnerHeight -->
  <script src="js/vendors/iosInnerHeight/iosInnerHeight.bundles.js"></script>
  <script src="js/vendors/iosInnerHeight/iosInnerHeight.init.js"></script>
  <!-- iosInnerHeight -->

  <!-- popper -->
  <script src="js/vendors/popper/popper.bundles.js"></script>
  <!-- popper -->

  <!-- bootstrap -->
  <script src="js/vendors/bootstrap/bootstrap.bundles.js"></script>
  <script src="js/vendors/bootstrap/bootstrap.init.js"></script>
  <!-- bootstrap -->

  <!-- jqueryAccordion -->
  <script src="js/vendors/jquery-accordion/jquery-accordion.bundles.js"></script>
  <script src="js/vendors/jquery-accordion/jquery-accordion.init.js"></script>
  <!-- jqueryAccordion -->

  <!-- select2 -->
  <script src="js/vendors/select2/select2.bundles.js"></script>
  <script src="js/vendors/select2/select2.init.js"></script>
  <!-- select2 -->

  <!-- parsley -->
  <script src="js/vendors/parsley/parsley.bundles.js"></script>
  <script src="js/vendors/parsley/parsley.init.js"></script>
  <!-- parsley -->

  {# <!-- lightpick pollyfill -->
  <script src="/dist/js/vendors/pollyfill/pollyfill.bundles.js"></script>
  <!-- lightpick pollyfill -->

  <!-- momentjs -->
  <script src="js/vendors/momentjs/momentjs.bundles.js"></script>
  <!-- momentjs -->

  <!-- lightpick -->
  <script src="js/vendors/lightpick/lightpick.bundles.js"></script>
  <script src="js/vendors/lightpick/lightpick.init.js"></script>
  <!-- lightpick --> #}

  <!-- litepicker -->
  <script src="js/vendors/litepicker/litepicker.bundles.js"></script>
  <script src="js/vendors/litepicker/litepicker.init.js"></script>
  <!-- litepicker -->

  <!-- swiper -->
  <script src="js/vendors/swiper/swiper.bundles.js"></script>
  <!-- swiper -->

  <!-- cleave -->
  <script src="/dist/js/vendors/cleave/cleave.bundles.js"></script>
  <script src="/dist/js/vendors/cleave/cleave.init.js"></script>
  <!-- cleave -->

  <!-- autosize -->
  <script src="/dist/js/vendors/autosize/autosize.bundles.js"></script>
  <script src="/dist/js/vendors/autosize/autosize.init.js"></script>
  <!-- autosize -->

  <!-- croppie -->
  <script src="/dist/js/vendors/croppie/croppie.bundles.js"></script>
  <script src="/dist/js/vendors/croppie/croppie.init.js"></script>
  <!-- croppie -->

  <!-- script use for this page only -->
  {% block script %}{% endblock %}
  <!-- end script for this page only -->

  <script src="js/custom.js"></script>

  <!-- script use for this page only -->
  {% block pageScript %}{% endblock %}
  <!-- end script for this page only -->
</html>