<!DOCTYPE html>
<html lang="en">

  <head>
    <base href="{{ baseLink }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gulp project changed</title>
    <link rel="stylesheet" href="fonts/_icons.css">
    <link rel="stylesheet" href="fonts-vcb/_icons.css">
    <link rel="stylesheet" href="css/bundles.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/custom.css">
    <link rel="shortcut icon" type="text/html" href="media/favicon/favicon.png">
  </head>

  <body>
    <h1>tùng 1</h1>
    {% block main %}{% endblock %}
  </body>
  <script src="js/vendors/jquery/jquery.bundles.js"></script>
  <script src="js/bundles.js"></script>
  <script src="js/vendors/jquery/jquery.init.js"></script>
  <script src="js/bundles.init.js"></script>
</html>