$map-input-ic-size: (
  default: 34px,
  xs-1: 24px,
  xs: 36px,
  sm: 44px,
  md: 50px,
  lg: 60px,
) !default;

$map-input-size: (
  default: 44px,
  xs-1: 24px,
  xs: 36px,
  sm: 44px,
  md: 50px,
  lg: 60px,
) !default;

$inputBorder: "default" !default;

$inputBorder: "border" !default;
$inputLine: "line" !default;
$inputMaterial: "material" !default;
$inputMaterial2: "material-2" !default;
$inputMaterial3: "material-3" !default;


$input-background: $color-grey-4 !default;
$input-disabled-opacity: 0.6 !default;
$input-disabled-background      : undefined !default;

$input-space-left: 12px;
$input-space-right: 12px;
$input-ic-width: 24px;
$input-ic-box-width: $input-ic-width + $input-space-left;
$input-border-radius: 6px !default;

$input-placeholder-color: #707c93 !default;
$input-color: $color-default !default;
$input-font-weight: 500 !default;
$input-font-size-mobile: 16px !default;
$input-font-size: 14px !default;

$input-label-font-weight: 400 !default;
$input-label-font-size: 14px !default;
$input-label-color: #707c93 !default;
$input-label-margin-bottom: 7px !default;

$input-error-font-size: 12px !default;
$input-border-color: $border-base-color !default;
$input-border-background: transparent !default;
$input-border-color-focus: lighten($color-primary, 0.5) !default;

$input-space-left: 10px !default;
$input-space-right: 10px !default;

//===Input material===
$input-material-font-size: 18px !default;
$input-material-font-size-sm: 12px !default;
$input-material-font-weight-sm: $input-label-font-weight !default;