@mixin modifiers-input-material($map, $prefix: "-", $separator: "-", $base: "basic") {
  @each $key, $value in $map {
    &#{if($key != $base, #{$prefix}#{$key},
      '') } {
      @if type-of($value) == "map" {
        @include modifiers-input-material($value, $separator);
      } @else {
        .select2-container .selection {
          padding-top: $value - $input-material-font-size - ($value - ($input-material-font-size + $input-material-font-size-sm + $input-material-2-space-between));
        }
        .input {
          padding-left: $input-space-left;
          padding-top: $value - $input-material-font-size - ($value - ($input-material-font-size + $input-material-font-size-sm + $input-material-2-space-between));
          &:focus:not([readonly]):not(:disabled),
          & ~ .select2-container--open,
          & ~ .select2-container--focus,
          &-hadval,
          &.tagify--focus,
          &.input-tagify.parsley-error {
            & ~ .input-label {
              .inner {
                bottom: -$value/2 + $input-material-2-space-between;
              }
            }
          }
        }
        .textarea-autosize,
        textarea {
          padding-top: floor($value - $input-material-font-size - ($value - ($input-material-font-size + $input-material-font-size-sm + $input-material-2-space-between))/2) !important;
          padding-bottom: ceil(($value - ($input-material-font-size + $input-material-font-size-sm + $input-material-2-space-between))/2);
        }
        .input-label {
          .inner {
            left: $input-space-left;
            bottom: -$value/2;
          }
        }
        .textarea-autosize {
          // padding-bottom: ($value - $input-material-font-size)/2;
        }
      }
    }
  }
}
.input {
  &-#{$inputMaterial2}.input-size {
    @include modifiers-input-material($map-input-size);
  }
  &-#{$inputMaterial2} {
    .input {
      line-height: normal !important;
    }
    textarea {
      & ~ .input-label .inner {
        background-color: white;
      }
    }
    &.textarea {
      &-group {
        .input-extend-outside {
          margin-top: 0;
        }
      }
    }
    .input {
      padding-left: 0;
      &-frame {
        -ms-grid-row: 1/3;
        grid-row: 1/3;
      }
      &:not(:focus):not(select):not(.datepicker-range) {
        padding-right: 0;
      }
      font-size: $input-material-font-size;
      &::placeholder {
        color: transparent !important;
      }
      &:focus:not([readonly]):not(:disabled) {
        &::placeholder {
          opacity: 1 !important;
        }
      }
      &:focus:not([readonly]):not(:disabled),
      & ~ .select2-container--open,
      & ~ .select2-container--focus,
      &-hadval,
      &.tagify--focus,
      &.input-tagify.parsley-error {
        & ~ .input-label {
          .inner {
            transform: translateY(0);
            max-width: calc(100% - #{$input-space-left});
          }
        }
      }
      & ~ .select2 {
        .select2-selection__placeholder {
          opacity: 0 !important;
        }
      }
      & ~ .select2-container--open,
      & ~ .select2-container--focus {
        .select2-selection__placeholder {
          opacity: 1 !important;
        }
      }
      &-frame {
        &::after {
          content: "";
          height: 2px;
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          width: 0;
          margin: auto;
          background-color: $color-primary;
          transition: 0.2s all cubic-bezier(0.075, 0.82, 0.165, 1);
        }
        border-radius: $input-border-radius;
        border: 1px solid $input-border-color;
      }
      &-ic {
        &-clear {
          background-position: center right;
        }
      }
      &-note {
        -ms-grid-column: 3;
        grid-column: 3;
        -ms-grid-row: 3;
        grid-row: 3;
      }
      &-label {
        -ms-grid-column: 3;
        grid-column: 3;
        -ms-grid-row: 1;
        grid-row: 1;
        align-items: baseline;
        display: flex;
        align-items: center;
        position: relative;
        font-size: $input-material-font-size-sm;
        .inner {
          transform-origin: left center;
          transform: translateY(50%) scale($input-material-font-size/$input-material-font-size-sm);
          max-width: 100/ ($input-material-font-size/$input-material-font-size-sm) * 1%;
          position: absolute;
          margin-bottom: 0;
          pointer-events: none;
          -webkit-line-clamp: 1;
          line-clamp: 1;
          -webkit-box-orient: vertical;
          display: -webkit-box;
          overflow: hidden;
        }
      }
      &-extend {
        &-left {
          .input-box {
            &:first-child {
              padding-right: 0 !important;
            }
            &:last-child {
              padding-right: $input-space-left;
            }
          }
        }
        &-right {
          .input-box {
            &:last-child {
              padding-left: $input-space-left;
            }
          }
        }
        &:not(.input-extend-outside) {
          &-right {
            .input-box {
              &:first-child {
                padding-left: $input-space-left;
              }
            }
          }
        }
      }
      &:focus:not([readonly]):not(:disabled) {
        ~ .input-frame {
          &::after {
            width: 100%;
          }
        }
      }
      &:disabled {
        ~ .input-frame {
          border-bottom-style: dashed;
        }
      }
    }
    .select2-container {
      background-position: center right $input-space-right;
      .select2-selection--single {
        .select2-selection__rendered {
          // padding-left: 0;
          padding-right: $input-ic-box-width;
        }
      }
    }
    select.input {
      background-position: center right;
      padding-left: 0;
      padding-right: $input-ic-box-width;
      background-position: center right $input-space-right;
    }
    .datepicker {
      &-single {
        padding-right: $input-ic-box-width;
        background-position: center right;
      }
      &-range {
        padding-right: $input-ic-box-width;
        background-position: center right;
      }
    }
  }
}
