{% extends "main/_layout-sidebar.njk" %}
{% set pageLink = file_path %}
{% set pageTitle = 'Tables' %}

{% block mainInner %}
  <div class="box">
    <div class="box__body">
      <div class="btn-groups">
        <div class="row row-10 list-mv5">
          <div class="col">
            {{ ult.pagination() }}
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}