//gtc-text-scss
$map-h-font: (
	"h1": (
		"480": (
			"font-size": "24px"
		),
		"768": (
			"font-size": "28px"
		),
		"font-size": "32px",
		"line-height": "1.1",
		"font-weight": "600"
	),
	"h2": (
		"480": (
			"font-size": "22px"
		),
		"font-size": "24px",
		"line-height": "1.1"
	),
	"h3": (
		"480": (
			"font-size": "20px"
		),
		"font-size": "21px",
		"line-height": "1.1"
	),
	"h4": (
		"font-size": "18px",
		"line-height": "1.3"
	),
	"h5": (
		"font-size": "16px",
		"line-height": "1.3"
	),
	"h6": (
		"font-size": "12px",
		"line-height": "1.3"
	),
	"p": (
		"font-size": "14px",
		"line-height": "1.3"
	)
);
$fz-h1: 32px;
$fz-h2: 24px;
$fz-h3: 21px;
$fz-h4: 18px;
$fz-h5: 16px;
$fz-h6: 12px;
$fz-p: 14px;

//end-gtc-text-scss

//gtc-color-scss

$color-transparent: transparent;
$color-invert: #fff;
$color-black: #000;
$color-default: #121f3e;
$color-default-2: #121f31;
$color-blue: #3f3bec;
$color-light-blue: #E5E5FF;
$color-red: #FF3D4E;
$color-light-red: #FFE6E8;
$color-orange: #FF7544;
$color-light-orange: #FFE3D9;
$color-green: #2ED573;
$color-light-green: #C2F2D6;
$color-purple: #4527a0;
$color-primary: #3f3bec;
$color-light-primary: #E5E5FF;
$color-danger: #FF3D4E;
$color-light-danger: #FFE6E8;
$color-warning: #FF7544;
$color-light-warning: #FFE3D9;
$color-success: #2ED573;
$color-light-success: #C2F2D6;


$color-hover-transparent: #f5f5f5;
$color-hover-invert: #f5f5f5;
$color-hover-blue: #3935D4;
$color-hover-light-blue: #D8D8FF;
$color-hover-red: #FFD9DA;
$color-hover-light-red: #D8D8FF;
$color-hover-orange: #F26F41;
$color-hover-light-orange: #FFD9CC;
$color-hover-green: #2CCC6E;
$color-hover-light-green: #B5F2CE;
$color-hover-primary: #3935D4;
$color-hover-light-primary: #D8D8FF;
$color-hover-danger: #FFD9DA;
$color-hover-light-danger: #D8D8FF;
$color-hover-warning: #F26F41;
$color-hover-light-warning: #FFD9CC;
$color-hover-success: #2CCC6E;
$color-hover-light-success: #B5F2CE;


$color-active-blue: #312FBA;
$color-active-light-blue: #CCCCFF;
$color-active-red: #CC313E;
$color-active-light-red: #FFCCD2;
$color-active-orange: #E6693D;
$color-active-light-orange: #FFD0BF;
$color-active-green: #29BD66;
$color-active-light-green: #AAF2C8;
$color-active-primary: #312FBA;
$color-active-light-primary: #CCCCFF;
$color-active-danger: #CC313E;
$color-active-light-danger: #FFCCD2;
$color-active-warning: #E6693D;
$color-active-light-warning: #FFD0BF;
$color-active-success: #29BD66;
$color-active-light-success: #AAF2C8;


$color-shadowOp-blue: 0.3;
$color-shadowOp-red: 0.3;
$color-shadowOp-orange: 0.3;
$color-shadowOp-green: 0.3;
$color-shadowOp-primary: 0.3;
$color-shadowOp-danger: 0.3;
$color-shadowOp-warning: 0.3;
$color-shadowOp-success: 0.3;


$map-color: (
	transparent: $color-transparent,
	invert: #fff,
	black: #000,
	default: #121f3e,
	default-2: #121f31,
	blue: #3f3bec,
	light-blue: #E5E5FF,
	red: #FF3D4E,
	light-red: #FFE6E8,
	orange: #FF7544,
	light-orange: #FFE3D9,
	green: #2ED573,
	light-green: #C2F2D6,
	purple: #4527a0,
	primary: #3f3bec,
	light-primary: #E5E5FF,
	danger: #FF3D4E,
	light-danger: #FFE6E8,
	warning: #FF7544,
	light-warning: #FFE3D9,
	success: #2ED573,
	light-success: #C2F2D6,
);

$map-color-hover: (
	transparent: #f5f5f5,
	invert: #f5f5f5,
	blue: #3935D4,
	light-blue: #D8D8FF,
	red: #FFD9DA,
	light-red: #D8D8FF,
	orange: #F26F41,
	light-orange: #FFD9CC,
	green: #2CCC6E,
	light-green: #B5F2CE,
	primary: #3935D4,
	light-primary: #D8D8FF,
	danger: #FFD9DA,
	light-danger: #D8D8FF,
	warning: #F26F41,
	light-warning: #FFD9CC,
	success: #2CCC6E,
	light-success: #B5F2CE,
);

$map-color-text: (
	transparent: $color-default,
	invert: $color-default,
	blue: #ffffff,
	light-blue: $color-blue,
	red: #ffffff,
	light-red: $color-red,
	orange: #ffffff,
	light-orange: $color-orange,
	green: #ffffff,
	light-green: $color-green,
	purple: #ffffff,
	primary: #ffffff,
	light-primary: $color-blue,
	danger: #ffffff,
	light-danger: $color-red,
	warning: #ffffff,
	light-warning: $color-orange,
	success: #ffffff,
	light-success: $color-green,
);

$map-color-active: (
	blue: #312FBA,
	light-blue: #CCCCFF,
	red: #CC313E,
	light-red: #FFCCD2,
	orange: #E6693D,
	light-orange: #FFD0BF,
	green: #29BD66,
	light-green: #AAF2C8,
	primary: #312FBA,
	light-primary: #CCCCFF,
	danger: #CC313E,
	light-danger: #FFCCD2,
	warning: #E6693D,
	light-warning: #FFD0BF,
	success: #29BD66,
	light-success: #AAF2C8,
);

$map-color-shadowOp: (
	blue: 0.3,
	red: 0.3,
	orange: 0.3,
	green: 0.3,
	primary: 0.3,
	danger: 0.3,
	warning: 0.3,
	success: 0.3,
);

//end-gtc-color-scss