{% extends "_varibles.njk" %}

{% import "macros/forms/_forms.njk" as form %}
{% import "macros/forms/_buttons.njk" as button %}
{% import "macros/forms/_rnc.njk" as rnc %}
{% import "macros/forms/_files-upload.njk" as file %}

{% macro eye() %}
  <!-- utl.eye -->
  <div class="eye-wrap">
    <label class="eye">
      <input type="checkbox" class="hidden">
      <div class="eye-slash"></div>
    </label>
  </div>
  <!-- end utl.eye -->
{% endmacro %}

{% macro pagination(justify = 'center') %}
  <!-- utl.pagination -->
  <div class="pagination justify-content-{{ justify }}">
    <div class="ripple pagination-item pagination-first legitRipple">Đầu</div>
    <div class="ripple pagination-item pagination-back legitRipple"></div>
    <div class="ripple pagination-item pagination-number legitRipple">1</div>
    <div class="ripple pagination-item pagination-number legitRipple">2</div>
    <div class="ripple pagination-item pagination-number pagination-active legitRipple">3</div>
    <div class="pagination-item pagination-dots">...</div>
    <div class="ripple pagination-item pagination-number legitRipple">102</div>
    <div class="ripple pagination-item pagination-next legitRipple"></div>
    <div class="ripple pagination-item pagination-last legitRipple">Cuối</div>
  </div>
  <!-- utl.pagination -->
{% endmacro %}

{% macro tableUlt(value) %}
  <!-- utl.table -->
  <div class="row row-5 flex-nowrap">
    {% if 'info' in value %}
      <div class="col-auto">
        {{ button.btn(icon = '/dist/media/icons/svg2/info.svg', size = 'xs-2', shape = 'square', icSize = 'sm', color = 'grey-4', modal = '#modalInfo', type = 'a', tooltip = 'Info') }}
      </div>
    {% endif %}
    {% if 'edit' in value %}
      <div class="col-auto">
        {{ button.btn(icon = '/dist/media/icons/svg2/edit.svg', size = 'xs-2', shape = 'square', icSize = 'sm', color = 'grey-4', modal = '#modalEdit', type = 'a', tooltip = 'Edit') }}
      </div>
    {% endif %}
    {% if 'trash' in value %}
      <div class="col-auto">
        {{ button.btn(icon = '/dist/media/icons/svg2/trash.svg', size = 'xs-2', shape = 'square', icSize = 'sm', color = 'grey-4', modal = '#modalTrash', type = 'a', tooltip = 'Delete') }}
      </div>
    {% endif %}
    {% if 'lock' in value %}
      <div class="col-auto">
        {{ button.btn(icon = '/dist/media/icons/svg2/lock.svg', size = 'xs-2', shape = 'square', icSize = 'sm', color = 'grey-4', modal = '#modalLock', type = 'a', tooltip = 'Lock') }}
      </div>
    {% endif %}
    {% if 'unlock' in value %}
      <div class="col-auto">
        {{ button.btn(icon = '/dist/media/icons/svg2/unlock.svg', size = 'xs-2', shape = 'square', icSize = 'sm', color = 'grey-4', modal = '#modalUnlock', type = 'a', tooltip = 'Unlock') }}
      </div>
    {% endif %}
    {% if 'download' in value %}
      <div class="col-auto">
        <div class="dropdown">
          {{ button.btn(icon = '/dist/media/icons/svg2/download.svg', size = 'xs-2', shape = 'square', icSize = 'sm', color = 'grey-4', extendAttr = 'data-toggle="dropdown"', type = 'a', tooltip = 'Download') }}
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </div>
      </div>

    </div>
  {% endif %}
</div>
<!-- emd utl.table -->
{% endmacro %}c

{% macro tableRow(type, value, indexNum, indexWidth = settingTableDefault.indexWidth, ultsWidth = settingTableDefault.ultsWidth, ultsTxt = settingTableDefault.ultsTxt, tableUlt) %}
<tr>
  {% if indexNum %}
    {% if type == 'th' %}
      <th width="{{ indexWidth }}" class="text-center">STT</th>
    {% else  %}
      <{{ type }} class="text-center">{{indexNum}}</{{ type }}>
    {% endif %}
  {% endif %}
  {% for i in value %}
    {% if tableUlt and loop.index == value.length%}
      {% set addAttr = 'class="table-ults"' %}
    {% endif %}

    {% if i == 'ults' %}
      {% set addAttr = 'width="' + ultsWidth + '" class="table-ults"' %}
    {% endif %}

    <{{ type }} {{ addAttr | safe }}>
      {% if i == 'ults' %}
        {{ ultsTxt | safe}}
      {% else %}
        {{ i | safe}}
      {% endif %}
    </{{ type }}>
  {% endfor %}
</tr>
{% endmacro %}

{% macro table(value, index = 'true', id, style = settingTableDefault.style, border = settingTableDefault.border, striped = settingTableDefault.striped, hover = settingTableDefault.hover, tableWrapSize = settingTableDefault.tableWrapSize, stickyUlt = 'false', stickyHeader = settingTableDefault.stickyHeader, stickyFooter = settingTableDefault.stickyFooter, extendClass, extendAttr, tableLib = settingTableDefault.tableLib, tableFooter = settingTableDefault.tableFooter, rowLoop = 1, custom) %}
<!-- utl.table -->
{% if id %}
  {% set idText = 'id="' + id + '"' %}
{% endif %}
{% if stickyUlt == 'true' %}
  {% set stickyUltText = 'table-sticky-ult' %}
{% endif %}
{% if stickyHeader == 'true' %}
  {% set stickyHeaderText = 'table-sticky-header' %}
{% endif %}
{% if stickyFooter == 'true' %}
  {% set stickyFooterText = 'table-sticky-footer' %}
{% endif %}
{% if hover == 'true' %}
  {% set hoverText = 'table-hover' %}
{% endif %}
{% if striped == 'true' %}
  {% set stripedText = 'table-zebra' %}
{% endif %}
{% if tableLib == 'datatables' %}
  {% set tableLibText = 'data-table' %}
  {% set tableWrapSize = 'none' %}
{% endif %}
<div class="table-wraper">
  <div class="table-wraper-inner {{ stickyUltText }} {{ stickyHeaderText }} table-border-{{ border }} {{ stickyFooterText }}">
    <div class="table-wraper-size table-wraper-{{ tableWrapSize }}">
      <table class="table table-{{ style }} {{ stripedText }} {{ hoverText }} {{ tableLibText }} {{ extendClass }}" {{ extendAttr | safe }} {{ idText | safe }}>
        {% if custom %}
          {{ custom | safe }}
        {% else %}
          {% set tableUlt = 'false' %}
          {% if 'ults' in value.thead %}
            {% set tableUlt = 'true' %}
          {% endif %}
          {% if value.thead %}
            <thead>
              {% for item in value.thead %}
                {{ tableRow('th', value = item, indexNum = loop.index) }}
              {% endfor %}
            </thead>
          {% endif %}

          {% if value.tbody %}
            <tbody>
              {% for i in range(0, rowLoop) -%}
                {% for item in value.tbody %}
                  {{ tableRow('td', value = item, indexNum = loop.index, tableUlt = tableUlt) }}
                {% endfor %}
              {% endfor %}
            </tbody>
          {% endif %}

          {% if value.tfoot %}
            <tfoot>
              {% for item in value.tfoot %}
                {{ tableRow('td', value = item, indexNum = loop.index) }}
              {% endfor %}
            </tfoot>
          {% endif %}
        {% endif %}
      </table>
    </div>
  </div>
  {% if tableLib == 'none' and tableFooter == 'true' %}
    <div class="table-footer">
      <div class="row row-10 align-items-center justify-content-md-between justify-content-center list-mv10">
        <div class="col-auto">
          <div class="row row-10 flex-nowrap align-items-center">
            <div class="col-auto">
              <div class="p">Hiển thị</div>
            </div>
            <div class="col-auto">
              {% set selectVal = ['5', ' 10', '20', '50, 100'] %}
              {{ form.select(value = selectVal, selectLib = 'none', inputType = 'line', inputSize = 'xs', icSize = 'xs-1', selected = '2') }}
            </div>
            <div class="col-auto">
              <div class="p">Bản ghi</div>
            </div>
          </div>
        </div>
        <div class="col-auto">
          {{ pagination() }}
        </div>
      </div>
    </div>
  {% endif %}
</div>
<!-- emd utl.table -->
{% endmacro %}