{% extends "_varibles.njk" %}

{% import "macros/forms/_forms.njk" as form %}
{% import "macros/forms/_buttons.njk" as button %}
{% import "macros/forms/_rnc.njk" as rnc %}
{% import "macros/forms/_files-upload.njk" as file %}

{% macro eye() %}
  <!-- utl.eye -->
  <div class="eye-wrap">
    <label class="eye">
      <input type="checkbox" class="hidden">
      <div class="eye-slash"></div>
    </label>
  </div>
  <!-- end utl.eye -->
{% endmacro %}

{% macro labelStatus(title, color = 'primary', size = settingLabelStatusDefault.size) %}
  <!-- utl.labelStatus -->
  <label class="ulabel-status ulabel-{{size}} up ubg-{{ color }}">{{ title }}</label>
  <!-- end utl.labelStatus -->
{% endmacro %}

{% macro labelStatusCustom(value) %}
  {{ labelStatus(title = labelStatusCustomVal[value].main, color = labelStatusCustomVal[value].color) }}
{% endmacro %}