$btn-font-weight: 500 !default;
$btn-font-size: $font-size-default !default;
$btn-line-border-thick: 1px !default;
$btn-disable-opactiy: 0.4 !default;
$btn-shadow: true !default;
$map-btn-prop: (
  default: (
    space: 8px,
    icon: 24px,
  ),
  sm: (
    space: 6px,
    icon: 20px,
  ),
  xs: (
    space: 6px,
    icon: 16px,
  ),
) !default;

@mixin modifiers-btn-prop($map, $prefix: ".ubox-size-button-", $separator: "-", $base: "basic") {
  @each $key, $value in $map {
    &#{$prefix}#{$key} {
      @if type-of($value) == "map" {
        @each $key2, $value2 in $value {
          @if $key2 == "space" {
            .ubtn-text:not(:only-child):last-child {
              padding-left: $value2;
              padding-right: $value2/2;
            }
            .ubtn-text:not(:only-child):first-child {
              padding-right: $value2;
              padding-left: $value2/2;
            }
            .ubtn-text:not(:only-child):not(:first-child):not(:last-child) {
              padding-left: $value2;
              padding-right: $value2;
            }
          }
          @if $key2 == "icon" {
            &:not(.ubox-square) .ic-default {
              width: $value2;
              height: $value2;
            }
          }
        }
      }
    }
  }
}

button::after,
button::before {
  content: "";
  flex: 1 0 auto;
}
.ubtn {
  overflow: hidden;
  vertical-align: middle;
  border: 0;
  outline: none !important;
  cursor: pointer;
  text-decoration: none !important;
  font-weight: $btn-font-weight;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0;
  text-align: center;
  width: 100%;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  @include modifiers-btn-prop($map-btn-prop);
}

.ubtn {
  max-width: 100%;
  img {
    @include z-index(btn-img);
    position: relative;
  }
  &-ic {
    display: inline-block;
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
    vertical-align: middle;
    line-height: 1;
    &-left {
      order: 1;
    }
    &-right {
      order: 3;
    }
  }
  & .mdi {
    vertical-align: middle;
    line-height: 1;
  }
  &-text {
    @include z-index(btn-text);
    position: relative;
    vertical-align: middle;
    display: flex;
    align-items: center;
    order: 2;
  }
  &-file {
    padding-left: 85px;
    line-height: 24px;
    font-weight: 400;
    text-align: left;
    &-btn {
      position: absolute;
      left: 0;
      top: 0;
      height: 36px;
      line-height: 36px;
      font-weight: normal;
      padding: 0 10px;
      border-radius: 4px 0 0 4px;
      background: $color-primary;
      color: white;
      & ~ .btn-text {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        max-width: 100%;
        display: block;
      }
    }
  }
  &-full {
    width: 100%;
  }
  &-inner {
    align-items: center;
    font-size: $btn-font-size;
    flex-wrap: nowrap;
    display: flex;
  }
}

.btn-group {
  position: relative;
}

button:disabled,
button[disabled] {
  opacity: $btn-disable-opactiy;
}

.ubtn-min-width-auto {
  width: auto;
}