//=== RADIO AND CHECKBOX ========================
$map-rnc-size: (
  default: 18px,
  xs: 16px,
  sm: 20px,
  md: 22px,
  lg: 24px,
) !default;

$rncRadioStyle2Name: "default" !default;

$rncRadioStyle2Name: "2" !default;
$rncRadioStyle1Name: "1" !default;

$checkbox-border-radius: 50% !default;
$rnc-default-border: 1px solid $color-grey-2 !default;
$rnc-default-bg-color: transparent !default;
$rnc-active-color: $color-primary !default;
$rnc-checkbox-ic-color: $color-primary !default;
$rnc-active-border-color: rgba($color-primary, 0.2) !default;
$rnc-active-bg-color: rgba($color-primary, 0.1) !default;
$rnc-active-bg-color-radio: rgba($color-primary, 0.1) !default;
$rnc-ripple-color: rgba($rnc-active-color, 0.1) !default;
//=====Swich-ios======
$switch-ic-size: 24px !default;
$switch-ic-border-radius: $switch-ic-size / 2 !default;
$switch-bg-height: 26px !default;
$switch-bg-width: 44px !default;
$switch-bg-border-radius: $switch-bg-height / 2 !default;
$switch-bg-color: $color-grey-2 !default;
$switch-bg-color-active: $color-green !default;
$switch-text-color: $color-grey-1 !default;
$switch-text-color-active: $color-default !default;
$switch-ic-bg-color: white !default;
$switch-ic-active-bg-color: white !default;

@mixin modifiers-rnc($map, $prefix: "-", $separator: "-", $base: "basic", $name: "") {
  @each $key, $value in $map {
    &#{if($key != $base, #{$prefix}#{$key}, '')} {
      @if type-of($value) == "map" {
        @include modifiers-rnc($value, $separator);
      } @else {
        width: $value;
        min-width: $value;
        height: $value;
        @if $name == "radio" {
          &:after {
            width: ($value / 2) + 1;
            height: ($value / 2) + 1;
          }
          @at-root input[type="radio"]:checked {
            & ~ .rnc-content,
            & ~ {
              .radio-style-#{$rncRadioStyle2Name}.radio-size-#{$key} {
                border-width: ceil($value / 4) + 1;
              }
            }
          }
        }
      }
    }
  }
}

.checkbox {
  display: flex;
  align-items: center;
  .table {
    width: auto;
  }
  &-size {
    @include modifiers-rnc($map-rnc-size, $name: "checkbox");
  }
  cursor: pointer;
  @include no-select();
  &-ic {
    flex-shrink: 0;
    border: $rnc-default-border;
    border-radius: $checkbox-border-radius;
    background-color: $rnc-default-bg-color;
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    position: relative;
    color: transparent;
    line-height: 16px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    @include transition(0.2s all ease-in-out);
    overflow: visible;
    .legitRipple-ripple {
      background: $rnc-ripple-color;
    }
    &:not(.no-animation):before {
      position: absolute; // content: "";
      width: 100%;
      height: 100%;
      background: $rnc-ripple-color;
      transform: scale(0);
      opacity: 1;
      border-radius: 50%;
    }
  }
  &-text {
    font-size: 14px;
    vertical-align: middle;
    line-height: 1.3;
  }
}

.radio {
  display: flex;
  align-items: center;
  .table {
    width: auto;
  }
  &-size {
    @include modifiers-rnc($map-rnc-size, $name: "radio");
  }
  cursor: pointer;

  @include no-select();
  &-ic {
    flex-shrink: 0;
    border: $rnc-default-border;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    position: relative;
    color: transparent;
    transition: 0.2s all ease-in-out;
    overflow: visible;
    z-index: 1;
  }
  &-style-#{$rncRadioStyle1Name} {
    &:after {
      content: "";
      position: absolute;
      background: transparent;
      top: 50%;
      left: 50%;
      border-radius: 50%;
      background: $rnc-active-color;
      transition: 0.2s all ease-in-out;
      transform-origin: 0 -12.5%;
      transform: scale(0) translate(-50%, -50%);
    }
    .legitRipple-ripple {
      background: $rnc-ripple-color;
    }
    &:before {
      position: absolute; // content: "";
      width: 100%;
      height: 100%;
      background: $rnc-ripple-color;
      transform: scale(0);
      opacity: 1;
      border-radius: 50%;
    }
  }
  &-check {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    background: transparent;
    border-radius: 50%;
    background: $rnc-active-color;
    @include transition(0.2s all ease-in-out);
    transform: scale(0) translate(-50%, -50%);
  }
  &-text {
    // font-size: 14px;
    vertical-align: middle;
    // line-height: 1.3;
  }
}

.switch {
  cursor: pointer;
  &-wrap {
    position: relative;
    width: $switch-bg-width;
  }
  &-text {
    font-size: 14px;
    color: $switch-text-color;
    @include no-select();
  }
  &-off {
    color: $switch-text-color-active;
  }
  &-ic {
    border-radius: $switch-ic-border-radius;
    height: $switch-ic-size;
    background-color: $switch-ic-bg-color;
    position: absolute;
    left: ($switch-bg-height - $switch-ic-size)/2;
    right: $switch-bg-width - $switch-ic-size - ($switch-bg-height - $switch-ic-size)/2;
    top: ($switch-bg-height - $switch-ic-size)/2;
    @include transition(0.2s all ease-in-out);
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
  }
  &-bg {
    width: $switch-bg-width;
    height: $switch-bg-height;
    border-radius: $switch-bg-border-radius;
    background-color: $switch-bg-color;
    @include transition(0.2s all ease-in-out);
  }
  &-stretch {
    &:active {
      .switch-ic {
        right: $switch-bg-width - $switch-ic-size - ($switch-bg-height - $switch-ic-size)/2 - $switch-ic-size / 4;
      }
      input[type="checkbox"]:checked {
        & ~ .table {
          .switch-ic {
            left: $switch-bg-width - $switch-ic-size - ($switch-bg-height - $switch-ic-size)/2 - $switch-ic-size / 4;
          }
        }
      }
    }
  }
}

input[type="checkbox"]:checked {
  & ~ * {
    .switch-ic {
      right: ($switch-bg-height - $switch-ic-size)/2;
      left: $switch-bg-width - $switch-ic-size - ($switch-bg-height - $switch-ic-size)/2;
      background-color: $switch-ic-active-bg-color;
    }
    .switch-bg {
      background-color: $switch-bg-color-active;
    }
    .switch-on {
      color: $switch-text-color-active;
    }
    .switch-off {
      color: $switch-text-color;
    }
  }
}

input[type="checkbox"]:checked {
  & ~ .rnc-content,
  & ~ {
    .checkbox-ic {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='icon icon-tabler icon-tabler-check' width='13' height='13' viewBox='0 0 24 24' stroke-width='3' stroke='%23" + str-replace("" + $rnc-checkbox-ic-color, "#", "") + "' fill='none' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath stroke='none' d='M0 0h24v24H0z' fill='none'/%3E%3Cpath d='M5 12l5 5l10 -10' /%3E%3C/svg%3E");
    }
    .checkbox-ic {
      border-color: $rnc-active-border-color;
      background-color: $rnc-active-bg-color;
    }
    .checkbox-green {
      border-color: $color-green;
      background-color: $color-green;
    }
    .checkbox-blue {
      border-color: $color-primary;
      background-color: $color-primary;
    }
  }
}

input[type="radio"]:checked {
  & ~ .rnc-content,
  & ~ {
    .radio-ic {
      border-color: $rnc-active-border-color;
      background-color: $rnc-active-bg-color-radio;
    }
    .checkbox-text-change {
      color: $color-primary;
    }
    .radio-style-#{$rncRadioStyle2Name} {
      &.radio-ic {
        border-color: $rnc-active-color;
        background-color: transparent;
      }
    }
    .radio-style-#{$rncRadioStyle1Name} {
      .radio-check,
      &:after {
        transform: scale(1) translate(-50%, -50%);
      }
      &:before {
        transform: scale(3.5);
        opacity: 0;
        transition: all 0.6s ease;
      }
    }
  }
}
.rnc {
  &-content {
    display: flex;
  }
}
