/*gtc-css*/
:root {

	--color-transparent: transparent;
	--color-invert: #fff;
	--color-black: #000;
	--color-default: #121f3e;
	--color-default-2: #121f31;
	--color-blue: #3f3bec;
	--color-light-blue: #E5E5FF;
	--color-red: #FF3D4E;
	--color-light-red: #FFE6E8;
	--color-orange: #FF7544;
	--color-light-orange: #FFE3D9;
	--color-green: #2ED573;
	--color-light-green: #C2F2D6;
	--color-purple: #4527a0;
	--color-primary: #3f3bec;
	--color-light-primary: #E5E5FF;
	--color-danger: #FF3D4E;
	--color-light-danger: #FFE6E8;
	--color-warning: #FF7544;
	--color-light-warning: #FFE3D9;
	--color-success: #2ED573;
	--color-light-success: #C2F2D6;


	--color-hover-transparent: #f5f5f5;
	--color-hover-invert: #f5f5f5;
	--color-hover-blue: #3935D4;
	--color-hover-light-blue: #D8D8FF;
	--color-hover-red: #FFD9DA;
	--color-hover-light-red: #D8D8FF;
	--color-hover-orange: #F26F41;
	--color-hover-light-orange: #FFD9CC;
	--color-hover-green: #2CCC6E;
	--color-hover-light-green: #B5F2CE;
	--color-hover-primary: #3935D4;
	--color-hover-light-primary: #D8D8FF;
	--color-hover-danger: #FFD9DA;
	--color-hover-light-danger: #D8D8FF;
	--color-hover-warning: #F26F41;
	--color-hover-light-warning: #FFD9CC;
	--color-hover-success: #2CCC6E;
	--color-hover-light-success: #B5F2CE;


	--color-active-blue: #312FBA;
	--color-active-light-blue: #CCCCFF;
	--color-active-red: #CC313E;
	--color-active-light-red: #FFCCD2;
	--color-active-orange: #E6693D;
	--color-active-light-orange: #FFD0BF;
	--color-active-green: #29BD66;
	--color-active-light-green: #AAF2C8;
	--color-active-primary: #312FBA;
	--color-active-light-primary: #CCCCFF;
	--color-active-danger: #CC313E;
	--color-active-light-danger: #FFCCD2;
	--color-active-warning: #E6693D;
	--color-active-light-warning: #FFD0BF;
	--color-active-success: #29BD66;
	--color-active-light-success: #AAF2C8;


	--color-shadowOp-blue: 0.3;
	--color-shadowOp-red: 0.3;
	--color-shadowOp-orange: 0.3;
	--color-shadowOp-green: 0.3;
	--color-shadowOp-primary: 0.3;
	--color-shadowOp-danger: 0.3;
	--color-shadowOp-warning: 0.3;
	--color-shadowOp-success: 0.3;

	--fz-h1: 32px;
	--fz-h2: 24px;
	--fz-h3: 21px;
	--fz-h4: 18px;
	--fz-h5: 16px;
	--fz-h6: 12px;
	--fz-p: 14px;
}
/*end-gtc-css*/