/*gtc-css*/
:root {

	--color-black: #000;
	--color-white: #fff;
	--color-base: #121f3e;
	--color-blue: #3f3bec;
	--color-light-blue: #E5E5FF;
	--color-red: #FF3D4E;
	--color-light-red: #FFE6E8;
	--color-orange: #FF7544;
	--color-light-orange: #FFE3D9;
	--color-green: #2ED573;
	--color-light-green: #C2F2D6;
	--color-purple: #4527a0;
	--color-primary: #3f3bec;
	--color-light-primary: #E5E5FF;
	--color-danger: #3f3bec;
	--color-light-danger: #E5E5FF;
	--color-warning: #FF7544;
	--color-light-warning: #FFE3D9;
	--color-success: #2ED573;
	--color-light-success: #C2F2D6;


	--color-hover-blue: #3935D4;
	--color-hover-light-blue: #D8D8FF;
	--color-hover-red: #FFD9DA;
	--color-hover-light-red: #D8D8FF;
	--color-hover-orange: #F26F41;
	--color-hover-light-orange: #FFD9CC;
	--color-hover-green: #2CCC6E;
	--color-hover-light-green: #B5F2CE;
	--color-hover-primary: #3935D4;
	--color-hover-light-primary: #D8D8FF;
	--color-hover-danger: #3935D4;
	--color-hover-light-danger: #D8D8FF;
	--color-hover-warning: #F26F41;
	--color-hover-light-warning: #FFD9CC;
	--color-hover-success: #2CCC6E;
	--color-hover-light-success: #B5F2CE;


	--color-active-blue: #312FBA;
	--color-active-light-blue: #CCCCFF;
	--color-active-red: #CC313E;
	--color-active-light-red: #FFCCD2;
	--color-active-orange: #E6693D;
	--color-active-light-orange: #FFD0BF;
	--color-active-green: #29BD66;
	--color-active-light-green: #AAF2C8;
	--color-active-primary: #312FBA;
	--color-active-light-primary: #CCCCFF;
	--color-active-danger: #312FBA;
	--color-active-light-danger: #CCCCFF;
	--color-active-warning: #E6693D;
	--color-active-light-warning: #FFD0BF;
	--color-active-success: #29BD66;
	--color-active-light-success: #AAF2C8;


	--color-shadowOp-blue: 0.3;
	--color-shadowOp-red: 0.3;
	--color-shadowOp-orange: 0.3;
	--color-shadowOp-green: 0.3;
	--color-shadowOp-primary: 0.3;
	--color-shadowOp-danger: 0.3;
	--color-shadowOp-warning: 0.3;
	--color-shadowOp-success: 0.3;

}
/*end-gtc-css*/

/*init*/
/* @font-face {
  font-family: "SF Pro Display";
  src: url(../fonts/main/SF-Pro-Display-Regular.ttf);
  font-weight: regular;
}

@font-face {
  font-family: "SF Pro Display";
  src: url(../fonts/main/SF-Pro-Display-Medium.ttf);
  font-weight: 500;
}

@font-face {
  font-family: "SF Pro Display";
  src: url(../fonts/main/SF-Pro-Display-Bold.ttf);
  font-weight: 600;
} */
body {
  font: 100% "Inter", "SF Pro Display", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  margin: 0;
  width: 100%;
  font-size: 14px;
  background-color: #dcdee4;
  overflow-x: hidden;
  overflow-y: scroll;
  line-height: 1.5;
  letter-spacing: -0.03em;
}
/*end init*/

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.main-wrap {
  min-height: calc(100vh - 81px);
}

.main-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.main-inner {
  position: relative;
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}

.main-inner {
  padding-bottom: 100px;
}

.main-footer {
  margin-top: auto;
}

.sticky-menu .accordion-arrow__content,
.sticky-menu .accordion-plus__content {
  transition: none !important;
}
