/*gtc-css*/
:root {

	--color-base: #121f3e;
	--color-blue: #3f3bec;
	--color-light-blue: #b3b1ff;
	--color-purple: #4527a0;
	--color-primary: #3f3bec;


	--color-hover-blue: #3f3bef;
	--color-hover-primary: #3f3bef;


	--color-active-blue: #3f3bea;
	--color-active-primary: #3f3bea;


	--color-shadowOp-blue: 0.3;
	--color-shadowOp-primary: 0.3;

}
/*end-gtc-css*/

/*init*/
/* @font-face {
  font-family: "SF Pro Display";
  src: url(../fonts/main/SF-Pro-Display-Regular.ttf);
  font-weight: regular;
}

@font-face {
  font-family: "SF Pro Display";
  src: url(../fonts/main/SF-Pro-Display-Medium.ttf);
  font-weight: 500;
}

@font-face {
  font-family: "SF Pro Display";
  src: url(../fonts/main/SF-Pro-Display-Bold.ttf);
  font-weight: 600;
} */
body {
  font: 100% "Inter", "SF Pro Display", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  margin: 0;
  width: 100%;
  font-size: 14px;
  background-color: #dcdee4;
  overflow-x: hidden;
  overflow-y: scroll;
  line-height: 1.5;
  letter-spacing: -0.03em;
}
/*end init*/

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.main-wrap {
  min-height: calc(100vh - 81px);
}

.main-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.main-inner {
  position: relative;
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}

.main-inner {
  padding-bottom: 100px;
}

.main-footer {
  margin-top: auto;
}

.sticky-menu .accordion-arrow__content,
.sticky-menu .accordion-plus__content {
  transition: none !important;
}
