.list-item {
  display: flex;
  align-items: center;
}

.box {
  background: white;
  border-radius: 6px;
  box-shadow: -10px 10px 40px rgba(0, 0, 0, 0.03);
  margin-bottom: 20px;
}

.box.parallax-window {
  background-color: transparent;
}

.box__body {
  padding: 30px;
}

@media (max-width: 767px) {
  .box {
    margin-left: -15px;
    margin-right: -15px;
    border-radius: 0;
    margin-bottom: 10px;
  }
}

.post-css-test {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 30px;
  color: rgba(var(--color-gradient), 0.1);
}
.item {
  background-color: green;
  height: 50px;
}

.ios-nav-hide .modal-dialog-scrollable {
  min-height: calc(100% - 80px);
  max-height: calc(100% - 80px);
}

.icm {
  width: 48px;
  height: 48px;
  display: inline-block;
  background-repeat: no-repeat;
  -webkit-mask-size: 48px;
  mask-size: 48px;
}