{% extends 'based/_based.njk' %}
{% block main %}
  {% include "layout/menu/sidebar/_sidebar.njk" %}
  <div class="main main--with-sidebar">

    <div class="main-wrap">
      {% block mainBody %}{% endblock %}
      <div class="main-inner main-inner-page">
        <div class="container">
          <div class="title-section">
            <div class="h1 b pv30">{{ pageTitle }}</div>
          </div>
          {% block mainInner %}{% endblock %}
        </div>
      </div>
      {% include 'layout/footer/_footer.njk' %}
    </div>
  </div>
{% endblock %}