{% extends 'based/based.njk' %}
{% block main %}
  {% include "layout/menu/sidebar/sidebar.njk" %}
  <div class="main main--with-sidebar">
    <div class="container">
      <div class="h1 b pv30">{{ pageTitleTxt }}</div>
      {% block mainBody %}{% endblock %}
    </div>
  </div>
{% endblock %}