/*gtc-css*/
/*end-gtc-css*/
/*init*/
/* @font-face {
  font-family: "SF Pro Display";
  src: url(../fonts/main/SF-Pro-Display-Regular.ttf);
  font-weight: regular;
}

@font-face {
  font-family: "SF Pro Display";
  src: url(../fonts/main/SF-Pro-Display-Medium.ttf);
  font-weight: 500;
}

@font-face {
  font-family: "SF Pro Display";
  src: url(../fonts/main/SF-Pro-Display-Bold.ttf);
  font-weight: 600;
} */

/*end init*/

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.main-wrap {
  min-height: calc(100vh - 1);
}

.main-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.main-inner {
  position: relative;
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}

.main-inner {
  padding-bottom: 100px;
}

.main-footer {
  margin-top: auto;
}

.sticky-menu .accordion-arrow__content,
.sticky-menu .accordion-plus__content {
  -webkit-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}

.list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.box {
  background: white;
  border-radius: 6px;
  -webkit-box-shadow: -10px 10px 40px rgba(0, 0, 0, 0.03);
  box-shadow: -10px 10px 40px rgba(0, 0, 0, 0.03);
  margin-bottom: 20px;
}

.box.parallax-window {
  background-color: transparent;
}

.box__body {
  padding: 30px;
}

@media (max-width: 767px) {
  .box {
    margin-left: -15px;
    margin-right: -15px;
    border-radius: 0;
    margin-bottom: 10px;
  }
}

.post-css-test {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 30px;
  color: rgba(#0093AD, 0.1);
}
.item {
  background-color: green;
  height: 50px;
}

.ios-nav-hide .modal-dialog-scrollable {
  min-height: calc(100% - 80px);
  max-height: calc(100% - 80px);
}

/* 
.litepicker .container__days .day-item[lpcurrent=true] {
  background-color: var(--color-primary);
} */

/* custom color */
.color-block {
  max-width: 100%;
  width: 158px;
  min-height: 120px;
  border-radius: 10px;
  margin-bottom: 20px;
  -webkit-box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.08);
  box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.08);
}
.color-block-color {
  width: 100%;
  height: 60px;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 10px;
}
.color-block-info {
  padding: 10px;
  font-size: 12px;
  line-height: 1.6;
}
.color-block-label {
  opacity: 0.8;
}
.color-block-sample{
  width: 10px;
  height: 10px;
  border-radius: 3px;
  display: inline-block;
}
/* end custom color */

/* macros eye */
.eye-wrap {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.eye {
  height: 24px;
  width: 24px;
  border-radius: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-image: url(../media/icons-color/default/default/eye.svg);
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  cursor: pointer;
  pointer-events: all !important;
}
.eye-slash {
  width: 100%;
  -webkit-transition: 0.2s all ease-in-out;
  -o-transition: 0.2s all ease-in-out;
  transition: 0.2s all ease-in-out;
  -webkit-transform: rotate(-30deg);
  -ms-transform: rotate(-30deg);
  transform: rotate(-30deg);
  position: absolute;
  height: 1px;
  background-color: #242526;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
.eye input:checked ~ .eye-slash {
  width: 0%;
}
/* end macros eye */

/*pagination*/
.pagination {
  font-size: 0;
}

.pagination-item {
  font-size: 13px;
  display: inline-block;
  background-color: transparent;
  margin: 0 0;
  border: 1px solid transparent;
  border-radius: 50%;
  text-align: center;
  line-height: 28px;
  color: #121f3e;
  cursor: pointer;
  vertical-align: middle;
}

.pagination-item img {
  width: 16px;
}

.pagination-item:first-child,
.pagination-item:last-child {
  margin: 0;
}

.pagination-item:not(.pagination-active):hover {
  background-color: #f5f5f5;
}

.pagination-dots {
  color: #b7c0cd;
  cursor: default;
}

.pagination-last,
.pagination-first {
  width: 40px;
  height: 30px;
}

.pagination-dots,
.pagination-number,
.pagination-next,
.pagination-back {
  width: 30px;
  height: 30px;
}

.pagination-active {
  background-color: #3f3bec;
  color: white;
}

.pagination-next,
.pagination-back {
  position: relative;
}

.pagination-next:before,
.pagination-back:before {
  background-size: 16px auto;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  content: "";
}

.pagination-next:before {
  background-image: url("../media/icons-color/default/default/chevron-right.svg");
}

.pagination-back:before {
  background-image: url("../media/icons-color/default/default/chevron-left.svg");
}

.pagination-active .legitRipple-ripple {
  background: #3f3bec;
}
/*end pagination*/

/* dropdown */

.login-footer-left,
.login-footer-right {
  padding: 15px 0;
}

/* sidebar-top */
.sidebar-top__trigger {
  width: 44px;
  height: 44px;
  line-height: 44px;
  text-align: center;
  position: fixed;
  top: 20px;
  left: 20px;
  border-radius: 30px;
  background: #fff;
  -webkit-box-shadow: 3px 10px 30px rgba(36, 40, 65, 0.3);
  box-shadow: 3px 10px 30px rgba(36, 40, 65, 0.3);
}
.sidebar-top {
  padding-left: 84px;
  padding-top: 30px;
  padding-bottom: 30px;
}
@media (max-width: 1200px) {
  .sidebar-top__trigger {
    z-index: 1069;
  }
}
@media (min-width: 1200px) {
  .sidebar-top__logo {
    display: none;
  }
}
/*end sidebar-top */
/*sidebar*/

.main--with-sidebar {
  margin-left: 260px;
  margin-right: 20px;
}

@media (max-width: 1200px) {
  .main {
    -webkit-transition: 0.2s opacity ease-in-out;
    -o-transition: 0.2s opacity ease-in-out;
    transition: 0.2s opacity ease-in-out;
  }
  #sidebar-trigger:checked ~ *:not(.sidebar):not(.sidebar-overlay) {
    -webkit-filter: blur(10px);
    filter: blur(10px);
  }
  .main--with-sidebar {
    margin-left: 20px;
  }
}

@media (max-width: 599px) {
  .main--with-sidebar {
    margin: 0;
  }
}

.sidebar {
  position: fixed;
  top: 0;
  height: 100%;
  width: 240px;
  background-color: #eaeff3;
  color: #242841;
  z-index: 90;
  overflow-y: auto;
  padding-bottom: 30px;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
  -webkit-box-shadow: inset 0 10px 40px rgba(0, 0, 0, 0.03);
  box-shadow: inset 0 10px 40px rgba(0, 0, 0, 0.03);
}

@media (max-width: 1200px) {
  .sidebar {
    z-index: 101;
  }
}

.sidebar::-webkit-scrollbar {
  width: 4px;
}

.sidebar::-webkit-scrollbar-thumb {
  background: #f2f1f7;
  position: absolute;
  right: 0;
}

.sidebar::-webkit-scrollbar-track {
  width: 17px;
}

@media (max-width: 480px) {
  .sidebar {
    width: 80vw;
  }
}

.sidebar::-webkit-scrollbar-thumb {
  background: transparent;
}

.sidebar:hover::-webkit-scrollbar {
  width: 4px;
}

.sidebar:hover::-webkit-scrollbar-thumb {
  background: #e0e4eb;
  border-radius: 10px;
}

.sidebar:hover::-webkit-scrollbar-track {
  width: 17px;
}

.sidebar__dropdown {
  -webkit-transition: 0.2s all ease-in-out;
  -o-transition: 0.2s all ease-in-out;
  transition: 0.2s all ease-in-out;
  height: auto;
  width: 22px;
}

.sidebar__ic {
  width: 56px;
}

.sidebar__info {
  padding: 20px 17px;
  font-size: 12px;
  line-height: 1.6;
  font-weight: 500;
  border-top: 1px solid #172c43;
  margin-top: 10px;
}

.sidebar__list {
  position: relative;
}

.sidebar__list.active:after {
  /* background: #3F3BEC; */
  width: 2px;
  height: 46px;
  position: absolute;
  right: 0;
  top: 0;
  content: "";
}

@media (max-width: 1200px) {
  .sidebar__list.active:after {
    height: 46px;
  }
}

.sidebar__list.active > .sidebar__item > .text {
  color: #242841;
  /* padding-left: 36px; */
  /* padding-right: 10px; */
  font-size: 14px;
}

.sidebar__title {
  font-size: 12px;
  font-weight: 600;
  /* text-transform: uppercase; */
  padding: 30px 17px 10px 17px;
  margin-top: 0;
  color: inherit;
}

.sidebar__head {
  height: 56px;
  border-bottom: 1px solid #e0e4eb;
}

.sidebar__head__ic {
  text-align: center;
  height: 100%;
  position: relative;
}

.sidebar__head__ic label {
  cursor: pointer;
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin: auto;
  overflow: visible;
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
}

.sidebar table {
  height: 100%;
}

.sidebar__section {
  border-top: 1px solid #172c43;
  padding: 10px 0;
}

.sidebar__item {
  min-height: 30px;
  color: #242841;
  cursor: pointer;
  text-decoration: none !important;
  background-color: transparent;
  position: relative;
  padding-left: 17px;
  padding-right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@media (max-width: 1200px) {
  .sidebar__item {
    height: 45px;
  }
}

.sidebar__item.active .text {
  color: white;
}

.sidebar__item:not([data-control]) {
  -webkit-tap-highlight-color: rgba(223, 228, 235, 0.1);
}

.sidebar__item:hover,
.sidebar__item:focus,
.sidebar__item:active {
  color: #242841;
}

@media (min-width: 1025px) {
  .sidebar__item:hover,
  .sidebar__item:focus,
  .sidebar__item:active {
    background-color: #f7f8fa;
  }
}

.sidebar__item .ic {
  width: 16px;
  text-align: center;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  position: relative;
}
.sidebar__item .ic-blank {
  height: 16px;
}
.sidebar__item .ic-blank:after {
  background: #afb3bc;
  width: 6px;
  border-radius: 3px;
  height: 6px;
  position: absolute;
  right: 0;
  top: 0;
  margin: auto;
  bottom: 0;
  z-index: 1;
  content: "";
}

.sidebar__list.active > .sidebar__item > .ic-blank:after,
.sidebar__list.open > .sidebar__item > .ic-blank:after {
  background: #3f3bec;
  -webkit-box-shadow: 0 0 10px rgba(63, 59, 236, 0.7);
  box-shadow: 0 0 10px rgba(63, 59, 236, 0.7);
}

.sidebar__item .ic-arrow {
  width: 16px;
  height: 16px;
  text-align: center;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='icon icon-tabler icon-tabler-chevron-right' width='24' height='24' viewBox='0 0 24 24' stroke-width='1.5' stroke='%233F4254' fill='none' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath stroke='none' d='M0 0h24v24H0z' fill='none'/%3E%3Cpolyline points='9 6 15 12 9 18' /%3E%3C/svg%3E");
  background-size: cover;
  background-position: center right;
  background-repeat: no-repeat;
  -webkit-transition: 00.2s all ease;
  -o-transition: 00.2s all ease;
  transition: 00.2s all ease;
}

.open > .sidebar__item > .ic-arrow {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
.sidebar__item .txt {
  margin-left: 10px;
  margin-right: 10px;
  padding: 3px 0;
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  -webkit-box-flex: 1;
  flex-grow: 1;
  max-width: 100%;
}

.sidebar__item .ic:last-child {
  text-align: right;
  width: 40px;
  padding-right: 12px;
}

.sidebar__sub {
  /* background-color: #121f3e; */
}

.sidebar__sub__wrap > .sidebar__list > [data-content] {
  padding-left: 10px;
}

.sidebar__sub .sidebar__item {
  opacity: 0;
  -webkit-transform: translate(0, -30%);
  -ms-transform: translate(0, -30%);
  transform: translate(0, -30%);
  -webkit-transition: 0.3s opacity ease-in-out, 0.3s transform ease-in-out;
  -webkit-transition: 0.3s opacity ease-in-out, 0.3s -webkit-transform ease-in-out;
  transition: 0.3s opacity ease-in-out, 0.3s -webkit-transform ease-in-out;
  -o-transition: 0.3s opacity ease-in-out, 0.3s transform ease-in-out;
  transition: 0.3s opacity ease-in-out, 0.3s transform ease-in-out;
  transition: 0.3s opacity ease-in-out, 0.3s transform ease-in-out, 0.3s -webkit-transform ease-in-out;
}

@media (max-width: 1200px) {
  .sidebar__sub .sidebar__item {
    height: 40px;
  }
}

[data-accordion].open .sidebar__item {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
  opacity: 1;
}

.sidebar__list .notify {
  top: 5%;
  right: 10%;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.sidebar .legitRipple-ripple {
  background: #f2f1f7;
}

@media (max-width: 1200px) {
  .sidebar {
    -webkit-transform: translate(-100%, 0);
    -ms-transform: translate(-100%, 0);
    transform: translate(-100%, 0);
  }
  .sidebar:not(.sidebarswipe) {
    -webkit-transition: 0.2s all ease-in-out;
    -o-transition: 0.2s all ease-in-out;
    transition: 0.2s all ease-in-out;
    -webkit-transition-delay: 0.15s;
    -o-transition-delay: 0.15s;
    transition-delay: 0.15s;
  }
}

@media (max-width: 1200px) {
  #sidebar-trigger:checked ~ .sidebar {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}

@media (min-width: 1201px) {
  #sidebar-trigger:checked ~ .sidebar {
    -webkit-transform: translate(-100%, 0);
    -ms-transform: translate(-100%, 0);
    transform: translate(-100%, 0);
  }
}

@media (min-width: 1201px) {
  #sidebar-trigger:checked ~ .main {
    margin-left: 20px;
  }
}

@media (max-width: 1200px) {
  .sidebar-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 101;
    background: white;
    pointer-events: none;
    opacity: 0;
    -webkit-transition: 0.2s opacity ease-in-out;
    -o-transition: 0.2s opacity ease-in-out;
    transition: 0.2s opacity ease-in-out;
    -webkit-transition-delay: 0.15s;
    -o-transition-delay: 0.15s;
    transition-delay: 0.15s;
  }
}

@media (max-width: 1200px) {
  #sidebar-trigger:checked ~ .sidebar-overlay {
    opacity: 0.2;
    pointer-events: all;
  }
}

/*end sidebar*/
