{% extends '_devLayout.njk' %}
<ul>
  {% macro mediaInner(files, id) %}
    {% for i in files %}
      {% if i['type'] == 'file' %}
        {% set iconLink = i['path'] | replace('icons-color/', 'icons-color/default/') %}
        <li class="">
          <label class="ic-wrap-label">
            <input type="radio" class="hidden icon-item searchMedia {{id}}" name="searchItem" value="{{ iconLink }}">
            <div class="ic-wrap">
              <div class="name hidden">{{ i['name'] }}</div>
              <div class="link hidden">{{ iconLink }}</div>
              <div class="size hidden">{{ i['size'] }}</div>
              <div class="ic-inner">
                <img src="{{ iconLink }}" alt="" width="{{ width }}">
              </div>
            </div>
          </label>
        </li>
      {% else %}
        {{ mediaInner(i['children'], id) }}
      {% endif %}
    {% endfor %}
  {% endmacro %}
</ul>

{% macro media(files, title, width, id) %}
  <div class="search-section" id="section{{ id }}">
    <h2>{{ title }}</h2>
    <div class="search-section-inner">
      {% for item in files %}
        {% if item['name'] == 'icons' %}
        {% else %}
          <div class="search-section-section" id="listSearch{{ id }}-{{loop.index}}">
            <h3>{{ item['name'] | capitalize }}</h3>
            <ul class="list">
              {% for item2 in item['children'] %}
                {% if item2['type'] == 'file' %}
                  {% set iconLink = item2['path'] | replace('icons-color/', 'icons-color/default/') %}
                  <li class="">
                    <label class="ic-wrap-label">
                      <input type="radio" class="hidden icon-item searchMedia {{id}}" name="searchItem" value="{{ iconLink }}">
                      <div class="ic-wrap">
                        <div class="name hidden">{{ item2['name'] }}</div>
                        <div class="link hidden">{{ iconLink }}</div>
                        <div class="size hidden">{{ item2['size'] }}</div>
                        <div class="ic-inner">
                          <img src="{{ iconLink }}" alt="" width="{{ width }}">
                        </div>
                      </div>
                    </label>
                  </li>
                {% else %}
                  {{ mediaInner(item2['children'], id) }}
                {% endif %}
              {% endfor %}
            </ul>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
{% endmacro %}

<ul>
  {% macro loopLi(key, colorKeyText, keyName) %}
    {% if colorKeyText %}
      {% if keyName %}
        {% set keyNameText = keyName + '-' %}
        {% set keyNameTextName = keyName + ': ' %}
      {% endif %}
      <li class="">
        <label class="ic-wrap-label">
          <input type="radio" class="hidden icon-item searchColor" name="searchItem" value="color-{{ keyNameText }}{{ key }}">
          <div class="ic-wrap" style="background-color: {{ colorKeyText }}" data-tippy-content="{{keyNameTextName}}{{ key }}">
            <div class="color hidden">{{ colorKeyText }}</div>
            <div class="name hidden">{{keyNameTextName}}{{ key }}</div>
            <div class="name-full hidden">color-{{ keyNameText }}{{ key }}</div>
            <div class="ic-inner"></div>
          </div>
        </label>
      </li>
    {% endif %}
  {% endmacro %}
  {% macro loop(name) %}
    {% for key, item in globalsVarColor.colorName[0][name] %}
      {% if name == 'level' %}
        {% set colorKeyText = globalsVarColor.colorName[0]['normal'][item] %}
        {{ loopLi(key, colorKeyText['color'] )}}
        {{ loopLi(key, colorKeyText['hover'], 'hover' )}}
        {{ loopLi(key, colorKeyText['active'], 'active') }}
      {% elseif name == 'normal' %}
        {{ loopLi(key, item['color']) }}
        {{ loopLi(key, item['hover'], 'hover' ) }}
        {{ loopLi(key, item['active'], 'active') }}
      {% endif %}
    {%- endfor %}
  {% endmacro %}
</ul>

<ul>
  {% macro loopText() %}
    {% for key, item in globalsVarColor.textName[0] %}
      <li class="">
        <label class="ic-wrap-label">
          <input type="radio" class="hidden icon-item searchText" name="searchItem" value="text-{{key}}">
          <div class="ic-wrap">
            <div class="size hidden">{{ item['font-size'] }}</div>
            <div class="name hidden">{{ key }}</div>
            <div class="weight hidden">{{ item['font-weight'] }}</div>
            <div class="line-height hidden">{{ item['line-height'] }}</div>
            <div class="ic-inner">
              <div>
                <b>{{ key }}</b>
                <br>
                {{ item['font-size'] }}
              </div>
            </div>
          </div>
        </label>
      </li>
    {% endfor %}
  {% endmacro %}
</ul>

{% block searchAdd %}{% endblock %}

{% block main %}
  <div class="search-section" id="sectionText">
    <h2>Text</h2>
    <div class="search-section-inner">
      <div class="search-section-section" id="listSearchText">
        <ul class="list">
          {{ loopText() }}
        </ul>
      </div>
    </div>
  </div>

  {% set linkIconColor = globalsVarImg.linkIconColor[0]['children'] %}
  {% set linkIcon = '' %}
  {% for item in globalsVarImg.linkMedia[0]['children'] %}
    {% if item['name'] == 'icons' %}
      {% set linkIcon = item['children'] %}
    {% endif %}
  {% endfor %}

  {% set linkMedia = globalsVarImg.linkMedia[0]['children'] %}

  {{ media(linkIconColor, 'Icon Color', '24', 'IconColor') }}

  {{ media(linkIcon, 'Icons', '24', 'Icon') }}

  {{ media(linkMedia, 'Images', 'auto', 'Image') }}

  <div class="search-section" id="sectionColor">
    <h2>Color</h2>
    <div class="search-section-inner">
      <div class="search-section-section" id="listSearchColor1">
        <h3>Color Level</h3>
        <ul class="list">
          {{ loop('level') }}
        </ul>
      </div>
      <div class="search-section-section" id="listSearchColor2">
        <h3>Color Normal</h3>
        <ul class="list">
          {{ loop('normal') }}
        </ul>
      </div>
    </div>
  </div>
{% endblock %}