{% extends '_devLayout.njk' %}

<ul>
  {% macro loopLi(key, colorKeyText, keyName) %}
    {% if colorKeyText %}
      {% if keyName %}
        {% set keyNameText = keyName + '-' %}
        {% set keyNameTextName = keyName + ': ' %}
      {% endif %}
      <li>
        <div class="color-wrap">
          <div class="color-wrap-top">
            <div class="row row-10">
              <div class="col-auto">
                <div class="color-block" style="background-color: {{ colorKeyText }}"></div>
              </div>
              <div class="col">
                <div class="name">{{keyNameTextName}}{{ key }}</div>
                <div class="color">{{ colorKeyText }}</div>
              </div>
              <div class="col-auto">
                <button class="btn btn-css" data-clipboard-text="var(--color-{{ keyNameText }}{{ key }})">CSS</button>
                <button class="btn btn-scss" data-clipboard-text="$color-{{ keyNameText }}{{ key }}">SCSS</button>
              </div>
            </div>
          </div>
          <div class="color-wrap-bottom">
            <div class="row row-10">
              <div class="col">
                <button class="btn btn-css" data-clipboard-text="color: var(--color-{{ keyNameText }}{{ key }});">CSS color</button>
                <button class="btn btn-css" data-clipboard-text="border: 1px solid var(--color-{{ keyNameText }}{{ key }});">CSS border</button>
                <button class="btn btn-css" data-clipboard-text="background-color: var(--color-{{ keyNameText }}{{ key }});">CSS bg</button>
                <button class="btn btn-css" data-clipboard-text="box-shadow: 0 0 4px rgba(var(--color-{{ keyNameText }}{{ key }}), 0.3);">CSS shadow</button>
              </div>
              <div class="col">
                <button class="btn btn-scss" data-clipboard-text="color: $color-{{ keyNameText }}{{ key }};">SCSS color</button>
                <button class="btn btn-scss" data-clipboard-text="border: 1px solid $color-{{ keyNameText }}{{ key }};">SCSS border</button>
                <button class="btn btn-scss" data-clipboard-text="background-color: $color-{{ keyNameText }}{{ key }};">SCSS bg</button>
                <button class="btn btn-scss" data-clipboard-text="box-shadow: 0 0 4px rgba($color-{{ keyNameText }}{{ key }}, 0.3);">SCSS shadow</button>
              </div>
              <div class="col">
                {% if not keyName %}
                  <button class="btn btn-html" data-clipboard-text="color-{{ key }}">HTML color</button>
                  <button class="btn btn-html" data-clipboard-text="ubg-color-{{ key }}">HTML bg</button>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </li>
    {% endif %}
  {% endmacro %}
  {% macro loop(name) %}
    {% for key, item in globalsVar.colorName[0][name] %}
      {% if name == 'level' %}
        {% set colorKeyText = globalsVar.colorName[0]['normal'][item] %}
        {{ loopLi(key, colorKeyText['color'] )}}
        {{ loopLi(key, colorKeyText['hover'], 'hover' )}}
        {{ loopLi(key, colorKeyText['active'], 'active') }}
      {% elseif name == 'normal' %}
        {{ loopLi(key, item['color']) }}
        {{ loopLi(key, item['hover'], 'hover' ) }}
        {{ loopLi(key, item['active'], 'active') }}
      {% endif %}
    {%- endfor %}
  {% endmacro %}
</ul>

{% block main %}
  <ul class="list">
    {{ loop('level') }}
    {{ loop('normal') }}
  </ul>
{% endblock %}