{% extends "main/_layout-sidebar.njk" %}
{% set pageLink = file_path %}
{% set pageTitle = 'Forms' %}

{% block mainInner %}
  <div class="box">
    <div class="box__body pb-0">
      <h5 class="pb32">Input new</h5>
      <form class="from-section form-vertical pb32">
        <div class="row row-20 list-mb16 list-crop">
          <div class="col-lg-6 col-md-6 col-sm-6">
            {% set contentInside %}
              {{ button.btn({ title: 'abc', size: 'xs', tagname: 'label' }) }}
            {% endset %}
            {% set inputData = {
              title: 'abc',
              placeholder: 'abc',
              extendRight: contentInside,
              textLeft: 'text',
              orient: 'horizontal'
            } %}
            {{ form.input(inputData) }}
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6">
            {% set contentInside %}
              {{ button.btn({ title: 'abc', size: 'xs', tagname: 'label' }) }}
            {% endset %}
            {% set inputData = {
              title: 'abc',
              placeholder: 'abc',
              extendOutsideLeft: contentInside,
              extendRight: contentInside,
              extendOutsideRight: contentInside,
              textLeft: 'text'
            } %}
            {{ form.textarea(inputData) }}
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6">
            {% set contentInside %}
              {{ button.btn({ title: 'abc', size: 'xs', tagname: 'label' }) }}
            {% endset %}
            {% set inputData = {
              title: 'abc',
              placeholder: 'abc',
              extendInsideRight: contentInside,
              iconLeft: globalsVar.iconDemo,
              placeholder: 'Nhập abc',
              option: [
                {
                  title: 'abc abc abc abc abc abc abc abc abc abc abc abc abc abc abc abc abc abc',
                  subTitle: 'abcte',
                  image: globalsVar.iconDemo,
                  imageClass: 'ubox ubox-rounded'
                }, {
                  title: 'abc',
                  subTitle: 'abcte'
                }, {
                  title: 'abc',
                  subTitle: 'abcte'
                }
              ]
            } %}
            {{ form.select(inputData) }}
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6">
            {% set contentInside %}
              {{ button.btn({ title: 'abc', size: 'xs', tagname: 'label' }) }}
            {% endset %}
            {% set inputData = {
              title: 'abc',
              placeholder: 'Chọn',
              selected: 2,
              extendInsideRight: contentInside,
              iconOutsideLeft: globalsVar.iconDemo,
              lib: 'none',
              orient: 'horizontal',
              option: ['abc abc abc abc abc abc abc abc abc abc abc abc, abc abc', 'abc']
            } %}
            {{ form.select(inputData) }}
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6">
            {% set contentInside %}
              {{ button.btn({ title: 'abc', size: 'xs', tagname: 'label' }) }}
            {% endset %}
            {% set inputData = {
              title: 'abc',
              placeholder: 'abc',
              extendInsideRight: contentInside,
              range: true,
              iconLeft: globalsVar.iconDemo
            } %}
            {{ form.datepicker(inputData) }}
          </div>
          <div class="col-lg-12">
            <div id="otp" class="input-otp">
              <input class="" type="text" id="first" maxlength="1"/>
              <input class="" type="text" id="second" maxlength="1"/>
              <input class="" type="text" id="third" maxlength="1"/>
              <input class="" type="text" id="fourth" maxlength="1"/>
              <input class="" type="text" id="fifth" maxlength="1"/>
              <input class="" type="text" id="sixth" maxlength="1"/>
            </div>
          </div>
        </div>
        <div class="row row-20 justify-content-center mt16">
          <div class="col-sm-4">
            {{ button.btn({title: 'Validate'}) }}
          </div>
        </div>
      </form>
    </div>
  </div>
{% endblock %}