{% extends "main/_layout-sidebar.njk" %}
{% set pageLink = file_path %}
{% set pageTitle = 'Forms' %}

{% macro mainInputs(title, dataDefault) %}
  {% set contentInside %}
    {{ button.btn({ title: 'button', size: 'xs'}) }}
  {% endset %}
  <div class="box">
    <div class="box__body pb-0">
      <h5 class="pb32">{{ title }}</h5>
      <form class="from-section form-vertical pb32">
        <div class="row row-20 list-mb16 list-crop">
          <div class="col-lg-4 col-md-6 col-sm-6">
            {% set inputData = {
              title: 'Input simple',
              note: 'Text note'
            } %}
            {% set inputData = inputData | mergeDeep(dataDefault) %}
            {{ form.input(inputData) }}
          </div>
          <div class="col-lg-4 col-md-6 col-sm-6">
            {% set inputData = {
              title: 'Tagify',
              tagify: true,
              placeholder: 'same'
            } %}
            {% set inputData = inputData | mergeDeep(dataDefault) %}
            {{ form.input(inputData) }}
          </div>
          <div class="col-lg-4 col-md-6 col-sm-6">
            {% set inputData = {
              title: 'Input button',
              extendOutsideRight: contentInside,
              extendOutsideRightClass: 'col-md-4 col-auto',
              note: 'Text note'
            } %}
            {% set inputData = inputData | mergeDeep(dataDefault) %}
            {{ form.textarea(inputData) }}
          </div>
          <div class="col-lg-4 col-md-6 col-sm-6">
            {% set inputData = {
              title: 'Input text',
              textRight: 'VND',
              textLeft: 'VND'
            } %}
            {% set inputData = inputData | mergeDeep(dataDefault) %}
            {{ form.input(inputData) }}
          </div>
          <div class="col-lg-4 col-md-6 col-sm-6">
            {% set inputData = {
              title: 'Select 2',
              search: true,
              option: [
                {
                  title: 'abc abc abc abc abc abc abc abc abc abc abc abc abc abc abc abc abc abc',
                  subTitle: 'abcte',
                  image: globalsVar.iconDemo,
                  imageClass: 'ubox ubox-rounded ubox-size-button-xs'
                }, {
                  title: 'abc',
                  subTitle: 'abcte'
                }, {
                  title: 'abc',
                  subTitle: 'abcte'
                }, {
                  title: 'abc',
                  subTitle: 'abcte'
                }, {
                  title: 'abc',
                  subTitle: 'abcte'
                }, {
                  title: 'abc',
                  subTitle: 'abcte'
                }, {
                  title: 'abc',
                  subTitle: 'abcte'
                }, {
                  title: 'abc',
                  subTitle: 'abcte'
                }, {
                  title: 'abc',
                  subTitle: 'abcte'
                }, {
                  title: 'abc',
                  subTitle: 'abcte'
                }, {
                  title: 'abc',
                  subTitle: 'abcte'
                }, {
                  title: 'abc',
                  subTitle: 'abcte'
                }, {
                  title: 'abc',
                  subTitle: 'abcte'
                }
              ]
            } %}
            {% set inputData = inputData | mergeDeep(dataDefault) %}
            {{ form.select(inputData) }}
          </div>
          <div class="col-lg-4 col-md-6 col-sm-6">
            {% set inputData = {
              title: 'Select 2 Multiple',
              multiple: true,
              search: true,
              option: ['abc abc abc abc abc abc abc abc abc abc abc abc, abc abc', 'data 2', 'data 3']
            } %}
            {% set inputData = inputData | mergeDeep(dataDefault) %}
            {{ form.select(inputData) }}
          </div>
          <div class="col-lg-4 col-md-6 col-sm-6">
            {% set inputData = {
              title: 'Select 2 Multiple Tag',
              multiple: true,
              search: true,
              select2Tag: true,
              option: ['abc abc abc abc abc abc abc abc abc abc abc abc, abc abc', 'data 2', 'data 3']
            } %}
            {% set inputData = inputData | mergeDeep(dataDefault) %}
            {{ form.select(inputData) }}
          </div>
          <div class="col-lg-4 col-md-6 col-sm-6">
            {% set inputData = {
              title: 'Select simple',
              lib: 'none',
              option: ['abc abc abc abc abc abc abc abc abc abc abc abc, abc abc', 'abc']
            } %}
            {% set inputData = inputData | mergeDeep(dataDefault) %}
            {{ form.select(inputData) }}
          </div>
          <div class="col-lg-4 col-md-6 col-sm-6">
            {% set inputData = {
              title: 'Datepicker',
              value: '06/04/2022 - 14/04/2022',
              extendInsideRight: contentInside,
              range: true,
              rangeInput: 2,
              iconRight: globalsVar.iconDemo
            } %}
            {% set inputData = inputData | mergeDeep(dataDefault) %}
            {{ form.datepicker(inputData) }}
          </div>
          <div class="col-lg-4 col-md-6 col-sm-6">
            {% set dataInput = {
              title: 'Group form',
              groupForm: {
                data: [
                  form.input({placeholder: 'Nhập 6 số đầu của thẻ'}),
                  form.input({placeholder: 'Nhập 4 số cuối của thẻ'})
                ]
              }
            } %}
            {{ form.input(dataInput) }}
          </div>
          <div class="col-lg-4 col-md-6 col-sm-6">
            {% set inputData = {
              title: 'Textarea',
              textRight: 'VND'
            } %}
            {% set inputData = inputData | mergeDeep(dataDefault) %}
            {{ form.textarea(inputData) }}
          </div>
          <div class="col-lg-4 col-md-6 col-sm-6">
            {% set inputData = {
              title: 'Textarea',
              textRight: 'VND',
              autosize: false
            } %}
            {% set inputData = inputData | mergeDeep(dataDefault) %}
            {{ form.textarea(inputData) }}
          </div>
          <div class="col-lg-12"></div>
        </div>
        <div class="row row-20 justify-content-center mt16">
          <div class="col-sm-4">
            {{ button.btn({title: 'Validate'}) }}
          </div>
        </div>
      </form>
    </div>
  </div>
{% endmacro %}

{% block mainInner %}
  {{ mainInputs('Input default',{ required: true, placeholder: 'same'}) }}
  {{ mainInputs('Input material',{ style: 'material', required: true, placeholder: false }) }}
  {{ mainInputs('input material 2',{ style: 'material-2', required: true, size: 'lg', placeholder: false }) }}
  {{ mainInputs('Input material 3',{ style: 'material-3', required: true, placeholder: false }) }}
  {{ mainInputs('Input default',{ required: true, placeholder: 'same', disabled: true}) }}
  {{ mainInputs('Input default',{ style: 'material',required: true, placeholder: 'same', readonly: true}) }}
{% endblock %}

{% block modal %}
  {% set dataModal = {
    id: 'modalForm',
    title: 'Chưa chọn thông tin thụ hưởng',  
    content: dataModalContent,
    button: [
      { 
        tagname: 'a',
        title: 'Bỏ qua',
        color: 'light-blue',
        alignSelf: 'left'
      }, { 
        tagname: 'a',
        title: 'Tiếp tục',
        color: 'primary',
        modalDismiss: 'false'
      }
    ]
  } %}
  {{ modal.modal(dataModal) }}
{% endblock %}