{% extends "main/_layout-sidebar.njk" %}
{% set pageLink = file_path %}
{% set pageTitle = 'Radio | Checkbox | Switch' %}

{% block mainInner %}
  <div class="box">
    <div class="box__body pb-0">
      <h5 class="pb30">Checkbox
      </h5>
      <form class="from-section form-vertical pb30">
        <div class="row row-20 list-mb10">
          <div class="col-sm-4">
            {{ rnc.checkbox({ title: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer volutpat egestas risus, vitae cursus magna cursus a. Sed velit diam, tincidunt quis tortor non, bibendum dapibus augue. Ut luctus malesuada laoreet ', space: 15, valign: 'center'}) }}
          </div>
          <div class="col-sm-4">
            {{ rnc.checkbox({ title: 'test', iconPos: 1, isRequired: true, name: 'checkbox', form: true }) }}
          </div>
          <div class="col-sm-2">
            {{ rnc.checkboxIcon() }}
          </div>
          <div class="col-sm-2">
            {{ rnc.checkboxIcon({ indeterminate: true, disabled: true }) }}
          </div>
        </div>
        <div class="row row-20 list-mb10 align-items-center">
          <div class="col-auto">{{ button.btn({ title: 'validate' }) }}</div>
        </div>
      </form>
    </div>
  </div>
  <div class="box">
    <div class="box__body pb-0">
      <h5 class="pb30">Radio
      </h5>
      <form class="from-section form-vertical pb30">
        <div class="row row-20 list-mb10">
          <div class="col-sm-4">
            {{ rnc.radio({ title: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer volutpat egestas risus, vitae cursus magna cursus a. Sed velit diam, tincidunt quis tortor non, bibendum dapibus augue. Ut luctus malesuada laoreet ', space: 15, valign: 'center'}) }}
          </div>
          <div class="col-sm-4">
            {{ rnc.radio({ title: 'test', iconPos: 1, isRequired: true, name: 'radio', form: true }) }}
          </div>
          <div class="col-sm-4">
            {{ rnc.radioIcon() }}
          </div>
        </div>
        <div class="row row-20 list-mb10 align-items-center">
          <div class="col-auto">{{ button.btn({ title: 'validate' }) }}</div>
        </div>
      </form>
    </div>
  </div>
  <div class="box">
    <div class="box__body pb-0">
      <h5 class="pb30">Switch
      </h5>
      <form class="from-section form-vertical pb30">
        <div class="row row-20 list-mb10">
          <div class="col-sm-4">
            {{ rnc.switch({ title: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer volutpat egestas risus, vitae cursus magna cursus a. Sed velit diam, tincidunt quis tortor non, bibendum dapibus augue. Ut luctus malesuada laoreet ', space: 15, valign: 'center'}) }}
          </div>
          <div class="col-sm-4">
            {{ rnc.switch({ title: 'test', iconPos: 1, isRequired: true, name: 'switch', form: true, disabled: true, checked: true }) }}
          </div>
          <div class="col-sm-4">
            {{ rnc.switchIcon() }}
          </div>
        </div>
        <div class="row row-20 list-mb10 align-items-center">
          <div class="col-auto">{{ button.btn({ title: 'validate' }) }}</div>
        </div>
      </form>
    </div>
  </div>
  <div class="box">
    <div class="box__body pb-0">
      <h5 class="pb30">List
      </h5>
      <form class="from-section form-vertical pb30">
        <div class="row row-20 list-mb10">
          {% set data = [
            {
              title: 'Title',
              subTitle: 'Sub title'
            }, {
              title: 'Title',
              subTitle: 'Sub title'
            }, {
              title: 'Title',
              subTitle: 'Sub title'
            }
          ] %}
          <div class="ul">
            <div class="form-group list-mb10 list-crop">
              {% for item in data %}
                <div>
                  {% set content %}
                  <div class="title">
                    {{ item.title }}
                    {{ loop.index }}
                  </div>
                  <div class="sub-title h6">
                    {{ item.subTitle }}
                    {{ loop.index }}
                  </div>
                  {% endset %}
                  {% set objVal = {
                    type: 'checkbox',
                    content: content,
                    isRequired: true,
                    name: 'checkboxGroup'
                  } %}
                  {{ rnc.rncBox(objVal) }}
                </div>
              {% endfor %}
              <div class="errorBlock"></div>
            </div>
          </div>
        </div>
        <div class="row row-20 list-mb10 align-items-center">
          <div class="col-auto">{{ button.btn({ title: 'validate' }) }}</div>
        </div>
      </form>
    </div>
  </div>
{% endblock %}