{% extends "main/_layout-sidebar.njk" %}
{% set pageLink = file_path %}
{% set pageTitle = 'Radio | Checkbox | Switch' %}

{% block mainInner %}
  <div class="box">
    <div class="box__body pb-0">
      <h5 class="pb30">Checkbox
      </h5>
      <form class="from-section form-vertical pb30">
        <div class="row row-20">
          <div class="col-auto">
            {{ rnc.checkbox('Checkbox 1', name = 'checkbox') }}
          </div>
          <div class="col-auto">
            {{ rnc.radio('Radio', subTitle = 'This is subtitle', align='start', fontSize = 'p', name = 'radio1') }}
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="box">
    <div class="box__body pb-0">
      <h5 class="pb30">Checkbox group</h5>
      <form class="from-section form-vertical pb30">
        <div class="row row-20">
          <div class="col-sm-6">
            {% set checkboxValue = ['checkbox 1', 'checkbox 2', 'checkbox 3'] %}
            {{ rnc.checkbox(checkboxValue, name = 'checkboxTest', extendAttr = ' required') }}
          </div>
          <div class="col-sm-6">
            {% set radioValue = [
              {
                main: 'Radio 1',
                sub: 'This is subtitle 1'
              }, {
                main: 'Radio 2',
                sub: 'This is subtitle 2'
              }, {
                main: 'Radio 3',
                sub: 'This is subtitle 3'
              }
            ] %}
            {{ rnc.radio(radioValue, align='start', fontSize = 'p', name = 'radio1', groupCol = 'auto', extendAttr = ' required', style = '2') }}
          </div>
        </div>
        <div class="row row-20 justify-content-center">
          <div class="col-sm-4">
            {{ button.btn('Validate') }}
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="box">
    <div class="box__body pb-0">
      <h5 class="pb30">Checkbox Long
      </h5>
      <form class="from-section form-vertical pb30">
        <div class="row row-20 list-mb10">
          <div class="col-auto">
            {{ rnc.checkbox('Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer volutpat egestas risus, vitae cursus magna cursus a. Sed velit diam, tincidunt quis tortor non, bibendum dapibus augue. Ut luctus malesuada laoreet.', name = 'checkbox') }}
          </div>
          <div class="col-auto">
            {{ rnc.radio('Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer volutpat egestas risus, vitae cursus magna cursus a. Sed velit diam, tincidunt quis tortor non, bibendum dapibus augue. Ut luctus malesuada laoreet.', subTitle = 'This is subtitle', align='start', fontSize = 'p', name = 'radio1') }}
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="box">
    <div class="box__body pb-0">
      <h5 class="pb30">Checkbox group Long</h5>
      <form class="from-section form-vertical pb30">
        <div class="row row-20">
          <div class="col-sm-6">
            {% set checkboxValue = ['Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer volutpat egestas risus, vitae cursus magna cursus a. Sed velit diam, tincidunt quis tortor non, bibendum dapibus augue. Ut luctus malesuada laoreet. 1', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer volutpat egestas risus, vitae cursus magna cursus a. Sed velit diam, tincidunt quis tortor non, bibendum dapibus augue. Ut luctus malesuada laoreet. 2', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer volutpat egestas risus, vitae cursus magna cursus a. Sed velit diam, tincidunt quis tortor non, bibendum dapibus augue. Ut luctus malesuada laoreet. 3'] %}
            {{ rnc.checkbox(checkboxValue, name = 'checkboxTest', extendAttr = ' required') }}
          </div>
          <div class="col-sm-6">
            {% set radioValue = [
              {
                main: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer volutpat egestas risus, vitae cursus magna cursus a. Sed velit diam, tincidunt quis tortor non, bibendum dapibus augue. Ut luctus malesuada laoreet. 1',
                sub: 'This is subtitle 1'
              }, {
                main: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer volutpat egestas risus, vitae cursus magna cursus a. Sed velit diam, tincidunt quis tortor non, bibendum dapibus augue. Ut luctus malesuada laoreet. 2',
                sub: 'This is subtitle 2'
              }, {
                main: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer volutpat egestas risus, vitae cursus magna cursus a. Sed velit diam, tincidunt quis tortor non, bibendum dapibus augue. Ut luctus malesuada laoreet. 3',
                sub: 'This is subtitle 3'
              }
            ] %}
            {{ rnc.radio(radioValue, align='start', fontSize = 'p', name = 'radio1', groupCol = 'auto', extendAttr = ' required', style = '2') }}
          </div>
        </div>
        <div class="row row-20 justify-content-center">
          <div class="col-sm-4">
            {{ button.btn('Validate') }}
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="box">
    <div class="box__body pb-0">
      <h5 class="pb30">Switch
      </h5>
      <form class="from-section form-vertical pb30">
        <div class="row row-20 list-mb10">
          <div class="col-sm-4">
            {{ rnc.switch('Switch title', icPos = 'left') }}
          </div>
          <div class="col-sm-4">
            {{ rnc.switch('Switch title', subTitle = 'This is subtitle', align = 'start') }}
          </div>
        </div>
      </form>
    </div>
  </div>
{% endblock %}