{% extends "main/_layout-sidebar.njk" %}
{% set pageLink = file_path %}
{% set pageTitle = 'Uppy' %}

{% block css %}
  <!-- uppy -->
  <link rel="stylesheet" href="css/vendors/uppy/uppy.bundles.css">
  <!-- end uppy -->
{% endblock %}

{% block mainInner %}
  <div class="box">
    <div class="box__body pb-0">
      <h5 class="pb30">Checkbox
      </h5>
      <form class="from-section form-vertical pb30">
        <div class="row row-20">
          <div class="col-sm-6">
            <div id="uppy"></div>
          </div>
        </div>
      </form>
    </div>
  </div>
{% endblock %}

{% block script %}
  <!-- uppy -->
  <script src="/dist/js/vendors/uppy/uppy.bundles.js"></script>
  <!-- uppy -->
{% endblock %}

{% block pageScript %}
  <script>
    var uppy = Uppy.Core({});
    uppy
      .use(Uppy.Dashboard, {
        target: '#uppy',
        inline: true,
        proudlyDisplayPoweredByUppy: false,
        height: 300,
        width: 'auto'
      })
      .use(Uppy.Tus, {endpoint: 'https://tusd.tusdemo.net/files/'})
  </script>
{% endblock %}