{% extends "main/_layout-sidebar.njk" %}
{% set pageLink = file_path %}
{% set pageTitle = 'Buttons' %}

{% block mainInner %}
  <div class="box">
    <div class="box__body">
      <div class="btn-groups">
        <div class="row row-10">
          <div class="flex-grow-1 flex-sm-grow-0 col-auto">
            {{ button.btn({ iconLeft: 'media/icons-color/invert/default/plannet.svg', shape: 'circle', tooltip: 'test' }) }}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="box">
    <div class="box__body">
      <div class="btn-groups">
        <div class="row row-10 list-mv5">
          <div class="flex-grow-1 flex-sm-grow-0 col-auto">
            {{ button.btn({ title: 'button' }) }}
          </div>
          <div class="flex-grow-1 flex-sm-grow-0 col-auto">
            {{ button.btn({ title: 'button', iconLeft: 'media/icons-color/invert/default/plannet.svg' }) }}
          </div>
          <div class="flex-grow-1 flex-sm-grow-0 col-auto">
            {{ button.btn({ title: 'button', iconRight: 'media/icons-color/primary/default/plannet.svg', color: 'line-primary' }) }}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="box">
    <div class="box__body">
      <div class="btn-groups">
        <div class="row row-10 list-mv5">
          <div class="col-auto">
            {{ button.btn({ title: 'button', iconRight: 'media/icons-color/default/default/plannet.svg', color: 'transparent', size: 'sm' }) }}
          </div>
          <div class="col-md col-12">
            {{ button.btn({ iconLeft: 'media/icons-color/invert/default/plannet.svg', shape: 'circle' }) }}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="box">
    <div class="box__body">
      {% set data = {
        data: [
          {
            title: 'Lưu danh bạ',
            color: 'secondary'
          }, {
            title: 'Thực hiện giao dịch mới',
            color: 'line-primary'
          }, {
            title: 'In biên lai'
          }
        ]
      } %}
      {{ button.btnGroup(data) }}
    </div>
  </div>

{% endblock %}