{% extends "main/_layout-sidebar.njk" %}
{% set pageLink = file_path %}
{% set pageTitle = 'Boxes' %}

{% block mainInner %}
  <div class="box">
    <div class="box__body">
      <div class="btn-groups">
        <div class="row row-10">
          <div class="flex-grow-1 flex-sm-grow-0 col-auto">
            {{ button.btn({ iconLeft: 'icm-default_plannet', shape: 'circle', tooltip: 'test' }) }}
          </div>
          <div class="flex-grow-1 flex-sm-grow-0 col-auto">
            {{ button.btn({ iconLeft: 'icm-default_plannet', shape: 'circle', tooltip: 'test', size: 'sm', color: 'sub-primary' }) }}
          </div>
          <div class="flex-grow-1 flex-sm-grow-0 col-auto">
            {{ button.btn({ iconLeft: 'icm-default_plannet', shape: 'circle', tooltip: 'test', size: 'xs' }) }}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="box">
    <div class="box__body">
      <div class="btn-groups">
        <div class="row row-10 list-mv5">
          <div class="flex-grow-1 flex-sm-grow-0 col-auto">
            {{ button.btn({ title: 'button' }) }}
          </div>
          <div class="flex-grow-1 flex-sm-grow-0 col-auto">
            {{ button.btn({ title: 'button', iconLeft: 'icm-default_plannet' }) }}
          </div>
          <div class="flex-grow-1 flex-sm-grow-0 col-auto">
            {{ button.btn({ title: 'button', iconRight: 'icm-default_plannet', color: 'line-primary' }) }}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="box">
    <div class="box__body">
      <div class="btn-groups">
        <div class="row row-10 list-mv5">
          <div class="col-auto">
            {{ button.btn({ title: 'button', iconRight: 'icm-default_plannet', color: 'transparent', size: 'sm' }) }}
          </div>
          <div class="col-md col-12">
            {{ button.btn({ iconLeft: 'icm-default_plannet', shape: 'square' }) }}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="box">
    <div class="box__body">
      {{ base.link({ title: 'Title link', extendClass: 'text-decoration-underline' }) }}
    </div>
  </div>
  <div class="box">
    <div class="box__body">
      {{ util.labelStatusCustom('choDuyet', { tooltip: 'Chờ duyệt' }) }}
    </div>
  </div>
  <div class="box">
    <div class="box__body">
      {{ base.avatar({ image: 'media/img/1491086209404.png', size: 'default' }) }}
    </div>
  </div>
  <div class="box">
    <div class="box__body">
      {% set data = {
        col: 'group-col-lg-4 group-col-md-3',
        data: [
          {
            title: 'Lưu danh bạ',
            color: 'secondary'
          }, {
            title: 'Thực hiện giao dịch mới',
            color: 'gradient'
          }, {
            title: 'In biên lai'
          }
        ]
      } %}
      {{ button.btnGroup(data) }}
    </div>
  </div>
  <div class="box">
    <div class="box__body">
      {% set dataTab = {
        itemOptions: {
          size: 'default',
          extendClass: 'no-ph'
        },
        data: [
          {
            title: 'Tab 1'
          }, {
            title: 'Tab 2'
          }
        ]
      } %}
      {{ tab.tab(dataTab) }}
    </div>
  </div>
  <div class="box">
    <div class="box__body">
      {% set dataTab = {
        itemOptions: {
          size: 'sm',
          shape: 'round',
          color: 'line-primary',
          hover: true
        },
        data: [
          {
            title: 'Tab 1'
          }, {
            title: 'Tab 2'
          }
        ]
      } %}
      {{ tab.tab(dataTab) }}
    </div>
  </div>

{% endblock %}
