{% extends "main/_layout-sidebar.njk" %}
{% set pageLink = file_path %}
{% set pageTitle = 'Buttons' %}

{% block mainInner %}
  <div class="box">
    <div class="box__body">
      <div class="btn-groups">
        <div class="row row-10">
          <div class="flex-grow-1 flex-sm-grow-0 col-auto">
            {{ button.btn(icon = 'media/icons-color/invert/default/plannet.svg', href="/dist/pages/forms/1-7-buttons.html", shape = 'circle', tooltip = 'test') }}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="box">
    <div class="box__body">
      <div class="btn-groups">
        <div class="row row-10 list-mv5">
          <div class="flex-grow-1 flex-sm-grow-0 col-auto">
            {{ button.btn('Buttons') }}
          </div>
          <div class="flex-grow-1 flex-sm-grow-0 col-auto">
            {{ button.btn('Buttons', icon = 'media/icons-color/invert/default/plannet.svg', href="/dist/pages/forms/1-7-buttons.html") }}
          </div>
          <div class="flex-grow-1 flex-sm-grow-0 col-auto">
            {{ button.btn('Buttons', iconLeft = 'media/icons-color/primary/default/plannet.svg', color = 'line-primary', href="/dist/pages/forms/1-7-buttons.html") }}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="box">
    <div class="box__body">
      <div class="btn-groups">
        <div class="row row-10 list-mv5">
          <div class="col-auto col-md flex-grow-1">
            {{ button.btn('Buttons', icon = 'media/icons-color/invert/default/plannet.svg', href="/dist/pages/forms/1-7-buttons.html", rounded = 'true') }}
          </div>
          <div class="col-auto col-md flex-grow-1">
            {{ button.btn('Buttons', iconLeft = 'media/icons-color/primary/default/plannet.svg', color = 'transparent', href="/dist/pages/forms/1-7-buttons.html") }}
          </div>
          <div class="col-auto col-md flex-grow-1">
            {{ button.btn('Buttons', iconLeft = 'media/icons-color/primary/default/plannet.svg', color = 'light-blue', modal="#modalTest") }}
          </div>
          <div class="col-md col-12">
            {{ button.btn('Buttons', icon = 'media/icons-color/primary/default/plannet.svg', color = 'line-primary', disabled = 'true', spaceBetween = 'true') }}
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}