{% extends "based/based.njk" %}
{% block main %}
  <h1 class="color-primary">Test gulp 5</h1>
  <img src="media/img/1491086209404.png" alt="">
  <div class="form-group">
     <label class="input-label">Test 1</label>
     <div class="input-group">
        <select name="" class="select-2 input input-sm input-ic-sm input-line" data-placeholder="Chọn" header-text="Test 1">
           <option value=""></option>
           <option value="1">Option 1</option>
           <option value="2">Option 2</option>
           <option value="3">Option 3</option>
        </select>
        <div class="input-ic">
           <div class="arrow-down-anim"></div>
        </div>
     </div>
  </div>
{% endblock %}