{% extends "main/_layout-sidebar.njk" %}
{% set pageLink = file_path %}
{% set pageTitle = 'Initialization' %}

{% block mainInner %}
  <div class="box">
    <div class="box__body">
      {{ base.icon({ icon: 'icm-default_burger', borderRadius: 'xs' }) }}
  </div>
{% endblock %}