{% set iconDemo = 'media/icons-color/default/default/plannet.svg' %}

{% set iconDefault = {
  calendar: 'media/icons-color/default/default/calendar.svg',
  selectDown: 'media/icons-color/default/default/chevron-down.svg',
  inputSearch: 'media/icons-color/default/default/search.svg',
  inputClear: 'media/icons-color/default/default/close.svg',
  toastClose: 'media/icons-color/default/default/close.svg'
}%}

{% set settingInputDefault = {
  inputType: 'default',
  size: 'default',
  icSize: 'default',
  inputClear: 'true',
  disabled: 'false',
  selectLib: 'select-2',
  errorBlock: 'true',
  eye: 'true'
} %}

{% set settingButtonDefault = {
  tagname: 'button',
  color: 'primary',
  size: 'default',
  icSize: 'default',
  rounded: 'false',
  hover: 'true',
  active: 'true',
  space: 10
} %}

{% set settingRncDefault = {
  checkboxStyle: 'default',
  radioStyle: 'default',
  icSize: 'default'
} %}

{% set settingTableDefault = {
  stickyFooter: 'false',
  stickyHeader: 'false',
  tableLib: 'none',
  tableFooter: 'true',
  tableWrapSize: 'sm',
  style: 'basic',
  border: 'vh',
  striped: 'true',
  hover: 'true',
  indexWidth: '50',
  ultsWidth: '100',
  ultsTxt: 'Thao tác'
} %}

{% set settingDropdownDefault = {
  size: 'default',
  itemAlign: 'center',
  pos: 'left',
  icSize: 'sm',
  seperatetorColor: 'light-blue'
} %}

{% set settingLabelStatusDefault = {
  size: 'default'
} %}

{% set labelStatusCustomVal = {
  choDuyet: {
    main: 'Chờ duyệt',
    color: 'orange'
  },
  choHachToan: {
    main: 'Chờ hoạch toán',
    color: 'orange'
  },
  daHachToan: {
    main: 'Đã hoạch toán',
    color: 'green'
  }
} %}

{% set settingTableUltVal = {
  info: {
    ic: 'info.svg',
    tooltip: 'Info',
    href: '#'
  },
  edit: {
    ic: 'edit.svg',
    tooltip: 'Edit',
    modal: '#modalEdit'
  },
  delete: {
    ic: 'trash.svg',
    tooltip: 'Delete',
    modal: '#modalDelete'
  },
  lock: {
    ic: 'lock.svg',
    tooltip: 'Lock',
    modal: '#modalLock'
  },
  unlock: {
    ic: 'unlock.svg',
    tooltip: 'Unlock',
    modal: '#modalUnlock'
  },
  download: {
    ic: 'download.svg',
    tooltip: 'Download',
    dropdown: [
      {
        main: 'Dropdown 1',
        sub: 'This is a sub text',
        ic: globalsVar.iconDemo,
        href: '#'
      }, {
        main: 'Dropdown 2',
        sub: 'This is a sub text',
        ic: globalsVar.iconDemo,
        modal: '#modalTest'
      }, {
        main: 'Dropdown 3',
        sub: 'This is a sub text',
        ic: globalsVar.iconDemo,
        modal: '#modalTest'
      }
    ]
  }
} %}