{% set settingInputDefault = {
  inputType: 'border',
  inputSize: 'sm',
  icSize: 'sm',
  inputClear: 'true',
  disabled: 'false',
  selectLib: 'select-2'
} %}

{% set settingButtonDefault = {
  type: 'button',
  color: 'primary',
  size: 'md',
  icSize: 'lg',
  rounded: 'false',
  space: 10
} %}

{% set settingRncDefault = {
  style: '1',
  icSize: 'sm'
} %}