$map-input-size: (
  xs-1: 24px,
  xs: 36px,
  sm: 44px,
  md: 50px,
  lg: 60px
);

$input-color: $color-base;
$input-font-weight: 500;

$input-label-font-weight: 400;
$input-label-font-size: 14px;
$input-label-color: #707C93;

$input-border-radius            : 6px;
$input-placeholder-color        : #707C93;
$input-font-size                : 16px;
$input-error-font-size          : 12px;
$input-label-margin-bottom      : 7px;
$input-disabled-opacity         : 0.6;
$input-disabled-background      : undefined;
$input-border-color        : $border-base-color;
$input-border-color-focus       : lighten($color-primary, 0.5);
$input-background               : $color-grey-4;
$input-space-left               : 10px;
$input-space-right              : 10px;

//input border - input-material
$input-line-border-background   : transparent;

//===input line bar===
$input-line-bar-color           : $color-primary;
$input-line-bar-height          : 2px;

$textarea-autosize-max-height   : 200px;
$textarea-line-height           : 1.4;

//===Input material===
$input-material-font-size: 16px;
$input-material-font-size-sm: 13px;
$input-material-font-weight-sm: $input-label-font-weight;

// input material 2
$input-material-2-padding-left: $input-space-left ;
$input-material-2-space-between: 5px;