//===Input material===
@mixin modifiers-input-material-2($map, $prefix: "-", $separator: "-", $base: "basic") {
  @each $key, $value in $map {
    &#{if($key != $base, #{$prefix}#{$key}, '')} {
      @if type-of($value) == "map" {
        @include modifiers-input-material-2($value, $separator);
      } @else {
        &.input-material-2 {
          padding-top: material2InsideInputCalRound($value);
          padding-bottom: 4px;
          @at-root {
            textarea#{&} {
              padding-top: textareaMaterial2InsideInputCalRound($value);
            }
          }
        }
        &.input-material-2 {
          & ~ .input-label {
            top: ceil(($value - labelHeightCal($input-material-2-font-size))/2);
          }
          &:focus,
          &.light-pick-focus {
            & ~ .input-label {
              @include transform(scale($input-material-2-font-size-sm/$input-material-2-font-size) translateY(material2LabelCal($value)));
            }
          }
          & ~ .select2-container--open {
            & ~ .input-label {
              @include transform(scale($input-material-2-font-size-sm/$input-material-2-font-size) translateY(material2LabelCal($value)));
            }
          }
        }
        & ~ .select2-container--open,
        & ~ .btn-group.open,
        &.input-hadval,
        &.input-hadval-def {
          &.input-material-2 {
            & ~ .input-label {
              @include transform(scale($input-material-2-font-size-sm/$input-material-2-font-size) translateY(material2LabelCal($value)));
            }
          }
        }
        &.input-material-2 ~ .select2-container .select2-selection--single,
        &.input-material-2 ~ .btn-group .multiselect {
          padding-top: material2InsideInputCalRound($value);
          background-color: $input-material-2-background;
          .select2-selection__rendered {
            line-height: $value - 2px - material2InsideInputCalRound($value);
          }
        }
        &.input-material-2 ~ .select2-container .select2-selection--multiple {
          padding-top: material2InsideInputCalRound($value);
          padding-bottom: 5px;
          .select2-search__field {
            height: $value - material2InsideInputCalRound($value) -5px - 2px;
          }
        }
      }
    }
  }
}

.input {
  &-material-2 {
    border: 0;
    border-radius: $input-border-radius;
    background-color: $input-material-2-background;
    font-size: $input-material-2-font-size;
    position: relative;
    line-height: 1.2;
    @include z-index(input-material);
    ~ .input-ic:after {
      background: linear-gradient(90deg, rgba($input-material-2-background, 0) 0%, rgba($input-material-2-background, 1) 30%);
    }
    & ~ .btn-group {
      [title="Chọn"],
      [title="Select"] {
        .multiselect-selected-text {
          opacity: 0;
        }
      }
    }
    &:disabled,
    & ~ .select2-container--default.select2-container--disabled .select2-selection--single,
    & ~ .select2-container--default.select2-container--disabled .select2-selection--multiple {
      background-color: transparent;
    }
    & ~ .select2-container--default .select2-selection--multiple {
      background-color: $input-material-2-background;
      border: 1px solid $input-border-color;
    }
    & ~ .select2-container--default .select2-search--inline .select2-search__field {
      padding-left: $input-material-2-padding-left;
    }
    & ~ .input-ic {
      text-align: center;
    }
    & ~ .btn-group .multiselect {
      padding-left: $input-material-2-padding-left;
    }
    & ~ .select2-container--open,
    & ~ .btn-group.open {
      & ~ .input-label {
        font-weight: $input-material-2-font-weight-sm;
        color: $input-line-bar-color;
      }
    }
    &:focus,
    &.light-pick-focus,
    & ~ .btn-group.open {
      & ~ .input-label {
        font-weight: $input-material-2-font-weight-sm;
        color: $input-line-bar-color;
      }
    }
    & ~ .input-label {
      color: $input-placeholder-color;
      background-color: $input-material-2-background;
      position: absolute;
      left: $input-material-2-padding-left;
      @include transition(0.3s cubic-bezier(0.25, 0.8, 0.5, 1));
      font-size: $input-material-2-font-size;
      @include transform-origin(top left);
      line-height: 1.2;
      pointer-events: none;
      z-index: 1;
      display: inline-block;
      width: auto;
    }
    &.input-ic-left {
      & ~ .input-label {
        left: 44px;
      }
      // &:focus,
      // &.light-pick-focus {
      //   & ~ .input-label {
      //     left: 0;
      //   }
      // }
    }
    // &.input-ic-left.input-hadval {
    //   & ~ .input-label {
    //     left: 0;
    //   }
    // }
  }
  &-group-material-2 {
    & .input-flex-content,
    & .input-group-extend {
      background-color: $input-material-2-background;
    }
  }
  &-extend-outside {
    & .input-group-extend {
      background-color: transparent;
    }
  }
  @include modifiers-input-material-2($map-input-size);
}
