* {
  box-sizing: border-box;
}
body {
  font: 100% "Inter", "SF Pro Display", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  margin: 0;
  width: 100%;
  font-size: 12px;
  background-color: #dcdee4;
  overflow-x: hidden;
  overflow-y: scroll;
  line-height: 1.3;
  letter-spacing: -0.03em;
  padding-bottom: 40px;
}
ul {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
}
.color-wrap {
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  border-radius: 10px;
  margin: 5px;
  font-size: 14px;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.row > * {
  padding-left: 15px;
  padding-right: 15px;
}
.row-10 {
  margin-right: -5px;
  margin-left: -5px;
  display: flex;
  flex-wrap: wrap;
}
.row-10 > * {
  vertical-align: top;
  padding-left: 5px;
  padding-right: 5px;
}
.col-auto {
  flex: 0 0 auto;
  width: auto;
  max-width: 100%;
}
.col {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
}
.color-block {
  width: 40px;
  height: 40px;
  border-radius: 4px;
}
.color-wrap-top {
  padding: 10px;
}
.name {
}
.search-wrap input {
  width: 100%;
  height: 30px;
  font-size: 14px;
}
.color-wrap-bottom {
  padding: 10px;
}
#copyConsole {
  height: 36px;
  width: 100%;
  font-size: 12px;
  font-weight: 500;
  padding-left: 44px;
  top: 0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='icon icon-tabler icon-tabler-clipboard-check' width='24' height='24' viewBox='0 0 24 24' stroke-width='1.5' stroke='%232c3e50' fill='none' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath stroke='none' d='M0 0h24v24H0z' fill='none'/%3E%3Cpath d='M9 5h-2a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-12a2 2 0 0 0 -2 -2h-2' /%3E%3Crect x='9' y='3' width='6' height='4' rx='2' /%3E%3Cpath d='M9 14l2 2l4 -4' /%3E%3C/svg%3E");
  background-position: center left 15px;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
}
.copy-console-wrap {
  position: fixed;
  bottom: 0;
  width: calc(100% - 110px);
  background: rgb(220, 222, 228, 0.8);
  backdrop-filter: blur(20px);
  z-index: 99;
  box-shadow: 0 -4px 8px rgb(0 0 0 / 10%);
}
.search-wrap {
  width: 100%;
  position: sticky;
  z-index: 2;
  background: rgb(220, 222, 228, 0.8);
  backdrop-filter: blur(20px);
  top: 0;
  padding: 10px 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  left: 0;
}
.ic-inner {
  display: flex;
  height: 100%;
  cursor: pointer;
}
img {
  max-width: 100%;
  align-self: center;
  max-height: 100%;
}
.ic-wrap {
  border-radius: 6px;
  background-color: white;
  margin: 3px;
  border: 1px solid transparent;
  cursor: pointer;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ic-wrap img {
  filter: drop-shadow(0 0 8px rgb(0 0 0 / 30%));
}

.color-label-wrap {
  display: flex;
  margin-bottom: 10px;
  flex-wrap: wrap;
}

.color-label {
  display: block;
  cursor: pointer;
  position: relative;
}

.color-label input {
  display: none;
}

.color-label-inner {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid black;
  margin: 2px;
}

input:checked + .color-label-inner {
  box-shadow: 0 0 0 1pt red;
}

.icon-check {
  position: absolute;
  width: 24px;
  height: 24px;
  display: flex;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  filter: invert(1);
  display: none;
}
input:checked ~ .icon-check {
  display: block;
}

.list {
  padding: 0 7px;
  margin: 5px 0;
}

h2 {
  padding: 10px 15px 0 15px;
  margin: 0;
}

h3 {
  padding: 5px 10px 0 10px;
  font-size: 12px;
  margin: 0;
  font-weight: 400;
}

.hidden {
  display: none !important;
}
.list-wrap > * {
  overflow: hidden;
}
.list-wrap-inner,
.search-wrap {
  width: calc(100% - 110px);
}
.info-section {
  width: 110px;
  background-color: white;
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  overflow: auto;
  padding: 15px 5px 15px 5px;
  z-index: 99;
  box-shadow: 0 4px 8px rgb(0 0 0 / 10%);
}

.btn {
  margin-bottom: 5px;
}

.img-holder {
  width: 95px;
  height: 95px;
  padding: 5px;
  border-radius: 3px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-color: #dcdee4;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: zoom-in;
}
.img-holder img {
  max-width: 100%;
}
.color-name {
  font-weight: 600;
}
.file-name {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
  font-weight: 600;
  line-height: 1.2;
}

.file-dimension {
  margin-bottom: 10px;
  min-height: 15px;
}

.ic-wrap-label {
  display: block;
}

input:checked ~ .ic-wrap {
  border-color: red;
}

.medium-zoom--opened .medium-zoom-overlay {
  z-index: 9998;
  backdrop-filter: blur(10px);
  background-color: transparent !important;
}
.medium-zoom-image--opened {
  z-index: 9999;
}

.lang-item input {
  display: none;
}
.lang {
  display: flex;
  margin-bottom: 10px;
  margin-top: 10px;
}
.search-wrap .lang {
  margin-bottom: 0;
}
.lang-inner {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #ccc;
  background-color: white;
  margin: 0 2px;
  cursor: pointer;
  background-position: center;
  background-repeat: no-repeat;
}
.lang-inner-html {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='icon icon-tabler icon-tabler-brand-html5' width='24' height='24' viewBox='0 0 24 24' stroke-width='1.5' stroke='%23E34C26' fill='none' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath stroke='none' d='M0 0h24v24H0z' fill='none'/%3E%3Cpath d='M20 4l-2 14.5l-6 2l-6 -2l-2 -14.5z' /%3E%3Cpath d='M15.5 8h-7l.5 4h6l-.5 3.5l-2.5 .75l-2.5 -.75l-.1 -.5' /%3E%3C/svg%3E");
}
.lang-inner-scss {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='icon icon-tabler icon-tabler-brand-sass' width='24' height='24' viewBox='0 0 24 24' stroke-width='1.5' stroke='%23C66394' fill='none' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath stroke='none' d='M0 0h24v24H0z' fill='none'/%3E%3Ccircle cx='12' cy='12' r='9' /%3E%3Cpath d='M12 10.523c2.46 -.826 4.002 -.826 4.002 -2.155c0 -1.366 -1.347 -1.366 -2.735 -1.366c-1.91 0 -3.352 .49 -4.537 1.748c-.848 .902 -1.027 2.449 -.153 3.307c.973 .956 3.206 1.789 2.884 3.493c-.233 1.235 -1.469 1.823 -2.617 1.202c-.782 -.424 -.454 -1.746 .626 -2.512s2.822 -.992 4.1 -.24c.98 .575 1.046 1.724 .434 2.193' /%3E%3C/svg%3E");
}
.lang-inner-css {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='icon icon-tabler icon-tabler-brand-css3' width='24' height='24' viewBox='0 0 24 24' stroke-width='1.5' stroke='%23167DBE' fill='none' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath stroke='none' d='M0 0h24v24H0z' fill='none'/%3E%3Cpath d='M20 4l-2 14.5l-6 2l-6 -2l-2 -14.5z' /%3E%3Cpath d='M8.5 8h7l-4.5 4h4l-.5 3.5l-2.5 .75l-2.5 -.75l-.1 -.5' /%3E%3C/svg%3E");
}

.icAllAsset {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='icon icon-tabler icon-tabler-layout-grid' width='24' height='24' viewBox='0 0 24 24' stroke-width='1.5' stroke='%232c3e50' fill='none' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath stroke='none' d='M0 0h24v24H0z' fill='none'/%3E%3Crect x='4' y='4' width='6' height='6' rx='1' /%3E%3Crect x='14' y='4' width='6' height='6' rx='1' /%3E%3Crect x='4' y='14' width='6' height='6' rx='1' /%3E%3Crect x='14' y='14' width='6' height='6' rx='1' /%3E%3C/svg%3E");
}

.icTextAsset {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='icon icon-tabler icon-tabler-letter-case' width='24' height='24' viewBox='0 0 24 24' stroke-width='1.5' stroke='%232c3e50' fill='none' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath stroke='none' d='M0 0h24v24H0z' fill='none'/%3E%3Ccircle cx='17.5' cy='15.5' r='3.5' /%3E%3Cpath d='M3 19v-10.5a3.5 3.5 0 0 1 7 0v10.5' /%3E%3Cpath d='M3 13h7' /%3E%3Cpath d='M21 12v7' /%3E%3C/svg%3E");
}

.icIconColorAsset {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='icon icon-tabler icon-tabler-alien' width='24' height='24' viewBox='0 0 24 24' stroke-width='1.5' stroke='%232c3e50' fill='none' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath stroke='none' d='M0 0h24v24H0z' fill='none'/%3E%3Cpath d='M11 17a2.5 2.5 0 0 0 2 0' /%3E%3Cpath d='M12 3c-4.664 0 -7.396 2.331 -7.862 5.595a11.816 11.816 0 0 0 2 8.592a10.777 10.777 0 0 0 3.199 3.064c1.666 1 3.664 1 5.33 0a10.777 10.777 0 0 0 3.199 -3.064a11.89 11.89 0 0 0 2 -8.592c-.466 -3.265 -3.198 -5.595 -7.862 -5.595z' /%3E%3Cline x1='8' y1='11' x2='10' y2='13' /%3E%3Cline x1='16' y1='11' x2='14' y2='13' /%3E%3C/svg%3E");
}
.icIcon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='icon icon-tabler icon-tabler-mood-smile' width='24' height='24' viewBox='0 0 24 24' stroke-width='1.5' stroke='%232c3e50' fill='none' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath stroke='none' d='M0 0h24v24H0z' fill='none'/%3E%3Ccircle cx='12' cy='12' r='9' /%3E%3Cline x1='9' y1='10' x2='9.01' y2='10' /%3E%3Cline x1='15' y1='10' x2='15.01' y2='10' /%3E%3Cpath d='M9.5 15a3.5 3.5 0 0 0 5 0' /%3E%3C/svg%3E");
}
.icImage {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='icon icon-tabler icon-tabler-photo' width='24' height='24' viewBox='0 0 24 24' stroke-width='1.5' stroke='%232c3e50' fill='none' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath stroke='none' d='M0 0h24v24H0z' fill='none'/%3E%3Cline x1='15' y1='8' x2='15.01' y2='8' /%3E%3Crect x='4' y='4' width='16' height='16' rx='3' /%3E%3Cpath d='M4 15l4 -4a3 5 0 0 1 3 0l5 5' /%3E%3Cpath d='M14 14l1 -1a3 5 0 0 1 3 0l2 2' /%3E%3C/svg%3E");
}

.icColorAsset {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='icon icon-tabler icon-tabler-palette' width='24' height='24' viewBox='0 0 24 24' stroke-width='1.5' stroke='%232c3e50' fill='none' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath stroke='none' d='M0 0h24v24H0z' fill='none'/%3E%3Cpath d='M12 21a9 9 0 1 1 0 -18a9 8 0 0 1 9 8a4.5 4 0 0 1 -4.5 4h-2.5a2 2 0 0 0 -1 3.75a1.3 1.3 0 0 1 -1 2.25' /%3E%3Ccircle cx='7.5' cy='10.5' r='.5' fill='currentColor' /%3E%3Ccircle cx='12' cy='7.5' r='.5' fill='currentColor' /%3E%3Ccircle cx='16.5' cy='10.5' r='.5' fill='currentColor' /%3E%3C/svg%3E");
}

input:checked + .lang-inner,
input:checked + .btn-input-inner {
  box-shadow: 0 0 0 1pt red;
}

.btn-group {
  display: flex;
  flex-wrap: wrap;
}

.btn-input-inner {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  padding: 2px 5px;
  background-color: #ccc;
  border-radius: 4px;
  margin: 2px 2px;
  cursor: pointer;
}

.search-inner {
  position: relative;
}

.clear-btn {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 16px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='icon icon-tabler icon-tabler-x' width='24' height='24' viewBox='0 0 24 24' stroke-width='1.5' stroke='%23242841' fill='none' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath stroke='none' d='M0 0h24v24H0z' fill='none'/%3E%3Cline x1='18' y1='6' x2='6' y2='18' /%3E%3Cline x1='6' y1='6' x2='18' y2='18' /%3E%3C/svg%3E");
  position: absolute;
  right: 3px;
  top: 3px;
  cursor: pointer;
}
.clear-btn:hover {
  background-color: #dcdee4;
}

.search-section-inner {
  display: flex;
  flex-wrap: wrap;
  padding: 0 10px;
}

.search-section-section {
  background-color: #e9ebf1;
  margin: 5px;
  border-radius: 6px;
  padding: 5px 0;
}

.Image ~ .ic-wrap {
  width: 72px;
  height: 72px;
  padding: 5px;
}
.align-items-center {
  align-items: center;
}
[for="sectionSelectToggle"] {
  width: 30px;
  height: 30px;
  display: block;
  border-radius: 50%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='icon icon-tabler icon-tabler-filter' width='24' height='24' viewBox='0 0 24 24' stroke-width='1.5' stroke='%232c3e50' fill='none' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath stroke='none' d='M0 0h24v24H0z' fill='none'/%3E%3Cpath d='M5.5 5h13a1 1 0 0 1 .5 1.5l-5 5.5l0 7l-4 -3l0 -4l-5 -5.5a1 1 0 0 1 .5 -1.5' /%3E%3C/svg%3E");
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}
[for="sectionSelectToggle"]:hover {
  background-color: #e9ebf1;
}
#sectionSelectToggle ~ .lang {
  display: none;
}
#sectionSelectToggle:checked ~ .lang {
  display: flex;
}
