{% extends "_varibles.njk" %}
{% import "macros/_base.njk" as base %}

{% macro btn(data) %}
  <!-- button.button -->
  {% set dataDefault = {
    title: undefinded,
    tagname: 'button',
    color: 'primary',
    justifyContent: 'center',
    size: 'default',
    iconLeft: undefinded,
    iconRight: undefinded,
    icSize: 'default',
    hover: true,
    active: true,
    extendDevClass: 'ubtn',
    text: {
      fontSize: undefinded,
      color: undefinded,
      fontWeight: undefinded
    }
  } %}
  {% set data = data | mergeDeep(dataDefault) %}
  {{ base.uBoxIconText(data) }}
  <!-- end button.button -->
{% endmacro %}

{% macro btnGroup(data) %}
  <!-- button.btnGroup -->
  {% set dataDefault = {
    col: 'group-col-md-3',
    gutterV: 8,
    gutterH: 8,
    align: 'center',
    reverse: false,
    modalDismiss: false
  } %}
  {% set data = data | mergeDeep(dataDefault) %}
  {% set formClass %}
    ubtn-group list-mb{{ data.gutterH }}
    list-crop row row-{{ data.gutterV }}
    {{ 'justify-content-' + data.align if data.align }}
    {{ data.col }}
    {{ data.extendClass if data.extendClass }}
    {{ 'flex-row-reverse flex-' + data.reverse + '-row flex-wrap-reverse flex-' + data.reverse + '-wrap' if data.reverse }}
    {{ 'group-btn-scroll' if data.scroll }}
  {% endset %}
  <div class="{{ formClass }}" {{ data.extendAttr if data.extendAttr }}>
    {% for item in data.data %}
      {% set class = '' %}
      {% set class %}
        group-col-item
        {{ 'block-' + item.alignSelf if item.alignSelf }}
        {{ item.col if item.col }}
      {% endset %}
      <div class="{{ class }}">
        {% if data.itemOptions %}
          {% set item = item | mergeDeep(data.itemOptions) %}
        {% endif %}
        {% if item.modalDismiss == false %}
        {% else %}
          {% set item = item | setAttribute('modalDismiss', data.modalDismiss) %}
        {% endif %}
        {% if item.customContent %}
          {{ item.customContent }}
        {% else %}
          {{ btn(item) }}
        {% endif %}
      </div>
    {% endfor %}
  </div>
  <!-- end button.btnGroup -->
{% endmacro %}

{% macro btnEye() %}
  <!-- button.btnEye -->
  {% set buttonContent %}
    <input type="checkbox" class="hidden">
    <span class="eye-slash"></span>
    <span class="icm icm-size-default icm-default_eye ubg-default-s"></span>
  {% endset %}
  {{ btn({ shape: 'square', color: 'transparent', size: 'sm', content: buttonContent, tagname: 'label', extendClass: 'input-eye' }) }}
  <!-- end button.btnEye -->
{% endmacro %}

{% macro tag(data) %}
  <!-- button.btnTag -->
  {% set dataDefault = {
    tagname: 'div',
    extendClass: 'ubtn-tag',
    size: 'sm',
    color: 'sub-primary',
    hover: false,
    active: false
  } %}
  {% set data = data | mergeDeep(dataDefault) %}
  {{ btn(data) }}
  <!-- end button.btnTag -->
{% endmacro %}