{% extends "_varibles.njk" %}
{% import "macros/_base.njk" as base %}

{% macro btn(data) %}
  {% if data | isStr %}
    {% set data = {
      title: data
    } %}
  {% endif %}
  <!-- button.button -->
  {% set dataDefault = {
    title: undefinded,
    tagname: 'button',
    color: 'primary',
    justifyContent: 'center',
    size: 'default',
    iconLeft: undefinded,
    iconRight: undefinded,
    icSize: 'default',
    hover: true,
    active: true,
    text: {
      fontSize: undefinded,
      color: undefinded,
      fontWeight: undefinded
    }
  } %}
  {% set data = data | mergeDeep(dataDefault) %}

  {% set class %}
    ubtn
    {{ data.extendClass }}
  {% endset %}

  {% set content %}
    <div class="ubtn-inner">
      {% if data.iconLeft %}
        <span class="ubtn-ic ubtn-ic-left">
          <img src="{{data.iconLeft}}" alt="" class="ic-{{ data.icSize }}">
        </span>
      {% endif %}
      {% if data.title %}
        {% set ubtnTextClass %}
          ubtn-text
          {{ data.text.fontSize }}
          {{ 'color-' + data.text.color if data.text.color}}
        {% endset %}
        <span class="{{ ubtnTextClass | safe }}">{{ data.title }}</span>
      {% endif %}
      {% if data.iconRight %}
        <span class="ubtn-ic ubtn-ic-right">
          <img src="{{data.iconRight}}" alt="" class="ic-{{ data.icSize }}">
        </span>
      {% endif %}
    </div>
  {% endset %}

  {% set data = data | setAttribute('size', 'button-' + data.size) %}
  {% set data = data | setAttribute('content', content) %}
  {% set data = data | setAttribute('extendClass', class) %}
  {{ base.ubox(data) }}
  <!-- end button.button -->
{% endmacro %}

{% macro btnGroup(data) %}
  <!-- button.btnGroup -->
  {% set dataDefault = {
    col: 'group-col-md-3 group-col-fill',
    gutterVertical: 8,
    gutterHorizontal: 8,
    align: 'center',
    reverse: false,
    modalDismiss: false
  } %}
  {% set data = data | mergeDeep(dataDefault) %}
  {% set formClass %}
    ubtn-group list-mb{{ data.gutterHorizontal }}
    list-crop row row-{{ data.gutterVertical }}
    {{ 'justify-content-' + data.align if data.align }}
    {{ data.col }}
    {{ data.extendClass if data.extendClass }}
    {{ 'flex-row-reverse flex-' + data.reverse + '-row flex-wrap-reverse flex-' + data.reverse + '-wrap' if data.reverse }}
  {% endset %}
  <div class="{{ formClass }}" {{ data.extendAttr if data.extendAttr }}>
    {% for item in data.data %}
      {% set class = '' %}
      {% set class %}
        group-col-item
        {{ 'block-' + item.alignSelf if item.alignSelf }}
      {% endset %}
      <div class="{{ class }}">
        {% if item.modalDismiss == false %}
        {% else %}
          {% set item = item | setAttribute('modalDismiss', data.modalDismiss) %}
        {% endif %}
        {{ btn(item) }}
      </div>
    {% endfor %}
  </div>
  <!-- end button.btnGroup -->
{% endmacro %}