{% extends "_varibles.njk" %}
{% import "macros/forms/_buttons.njk" as button %}
{% import "macros/_base.njk" as base %}

{% macro dropdown(data) %}
  <!-- dropdown.dropdown -->
  {% set dataDefault = {
    size: 'default',
    itemAlign: 'center',
    pos: 'left',
    icSize: 'default',
    itemSize: 'default',
    toggle: button.btn({ iconLeft: 'media/icons-color/default/solid/dots-v.svg', opacity: 'text-secondary-dark', shape: 'square', color: 'transparent', size: 'sm', dropdown: true })
  } %}
  {% set data = data | mergeDeep(dataDefault) %}
  <div class="dropdown">
    {{ data.toggle }}
    <div class="dropdown-menu dropdown-menu-{{ data.pos }} dropdown-size-{{ data.size }} {{ data.extendClass if data.extendClass }} {{ 'dropdown-mobile' if data.dropdownMobile }}" aria-labelledby="dropdownMenuButton">
      {% if data.dropdownMobile %}
        <div class="dropdown-mobile-header">
          {{ data.headerMobileContent }}
          {{ button.btn({ size: 'smd', iconLeft: 'icm-default_close', color: 'transparent', closeDropdown: true, shape: 'square' }) }}
        </div>
      {% endif %}
      <ul class="dropdown-menu-inner {{ data.extendInnerClass if data.extendInnerClass }}">
        {% for item in data.data %}
          {% if item.break == 'true' %}
            <li class="seperatetor"></li>
          {% elseif item.custom %}
            <li>
              {{ item.custom  }}
            </li>
          {% else %}
            <li>
              {% set content %}
                {% if item | string == '[object Object]' %}
                  {% if item.editable %}
                    <input type="file" id="p-upload" value="Choose a file" accept="image/*" class="hidden">
                  {% endif %}
                  <div class="row row-8 align-items-{{ data.itemAlign }}">
                    {% if item.icon %}
                      <div class="col-auto {{ 'order' + data.icPos if data.icPos }}">
                        {% set dataDefault = {
                          block: true
                        } %}
                        {% set dropdownItemIcon = item.icon | mergeDeep(dataDefault) %}
                        {{ base.icon(dropdownItemIcon) }}
                      </div>
                    {% endif %}
                    {% if item.title %}
                      <div class="col">
                        <div class="txt-main">{{ item.title }}</div>
                        {% if item.subTitle %}
                          <div class="txt-sub h6">{{ item.subTitle }}</div>
                        {% endif %}
                      </div>
                    {% endif %}
                  </div>
                {% else %}
                  <div class="txt-main">{{ item }}</div>
                {% endif %}
              {% endset %}
              {% set dataItem = item %}
              {% set dataItem = dataItem | setAttribute('size', 'dropdown-it-' + data.itemSize ) %}
              {% set dataItemDefault = {
                content: content,
                extendClass: 'dropdown-it'
              } %}
              {% set dataItem = dataItem | mergeDeep(dataItemDefault) %}
              {{ base.ubox(dataItem) }}
            </li>
          {% endif %}
        {% endfor %}
      </ul>
      {% if data.dropdownFooter %}
        <div class="dropdown-menu-footer">
          {{ data.dropdownFooter }}
        </div>
      {% endif %}
    </div>
    {% if data.dropdownMobile %}
      <div class="dropdown-backdrop"></div>
    {% endif %}
  </div>
  <!-- end dropdown.dropdown -->
{% endmacro %}