{% extends "_varibles.njk" %}

{% macro dropdown(value, size, toggle, pos, icPos, itemAlign, icSize = settingDropdownDefault.icSize) %}
  <!-- dropdown.dropdown -->  
  {% if not pos %}
    {% set pos = settingDropdownDefault.pos %}
  {% endif %}

  {% if not itemAlign %}
    {% set itemAlign = settingDropdownDefault.itemAlign %}
  {% endif %}

  {% if not icSize %}
    {% set icSize = settingDropdownDefault.icSize %}
  {% endif %}

  {% if not size %}
    {% set size = settingDropdownDefault.size %}
  {% endif %}

  {% if icPos == 'right' %}
    {% set icPosText = 'order-1' %}
  {% endif %}

  <div class="dropdown">
    {{ toggle | safe }}
    <ul class="dropdown-menu dropdown-menu-{{ pos }} dropdown-size-{{ size }}" aria-labelledby="dropdownMenuButton">
      {% for item in value %}
        {% set hrefAttr = '' %}
        {% set modalAttr = '' %}
        {% set toastAttr = '' %}

        {% if item.href %}
          {% set tagname = 'a' %}
          {% set hrefAttr %}
          href ="{{ item.href }}"
          {% endset %}
        {% endif %}

        {% if item.modal %}
          {% set tagname = 'a' %}
          {% set modalAttr %}
          data-toggle="modal" data-target="{{ item.modal }}"
          {% endset %}
        {% endif %}

        {% if item.toast %}
          {% set tagname = 'a' %}
          {% set toastAttr %}
          data-toast="toast" toast-target="{{ item.toast }}"
          {% endset %}
        {% endif %}

        {% if item.break == 'true' %}
          <li class="seperatetor ubg-{{ settingDropdownDefault.seperatetorColor }}"></li>
        {% elseif item.custom %}
          <li>
            {{ item.custom   | safe }}
          </li>
        {% else %}
          <li>
            <a class="dropdown-it ubg-invert ubg-hover" {{ modalAttr | safe }} {{ toastAttr | safe }} {{ hrefAttr | safe }}>
              {% if item | string == '[object Object]' %}
                <div class="row row-10 align-items-{{ itemAlign }}">
                  {% if item.icon %}
                    <div class="col-auto {{ icPosText }}">
                      <img src="{{ item.icon | safe }}" alt="" class="ic-{{icSize}}">
                    </div>
                  {% endif %}
                  {% if item.main %}
                    <div class="col">
                      <div class="txt-main">{{ item.main | safe }}</div>
                      {% if item.sub %}
                        <div class="txt-sub h6">{{ item.sub | safe }}</div>
                      {% endif %}
                    </div>
                  {% endif %}
                </div>
              {% else %}
                <div class="txt-main">{{ item | safe }}</div>
              {% endif %}
            </a>
          </li>
        {% endif %}

      {% endfor %}
    </ul>
  </div>
  <!-- end dropdown.dropdown -->
{% endmacro %}