{% extends "_varibles.njk" %}
{% set dataSelectDefualt = ['Option 1', 'Option 2', 'Option 3'] %}
{% macro input(title, inputType = settingInputDefault.inputType, value = '', inputSize = settingInputDefault.inputSize, icon = '', icSize = settingInputDefault.icSize, iconLeft, type = 'text', id = '', iconText = '', extendAttr, extendClass, note = '', autocomplete = '', placeholder = '', inputClear = settingInputDefault.inputClear, disabled = settingInputDefault.disabled, icTxt, extendContent, extendContentPos = 'inside', extendContentClass, settingInputCustom, textarea, textareaAutoSize = 'true') %}
  <!-- forms.input -->
  {% if settingInputCustom %}
    {% if settingInputCustom.inputType %}
      {% set inputType = settingInputCustom.inputType %}
    {% endif %}
    {% if settingInputCustom.inputSize %}
      {% set inputSize = settingInputCustom.inputSize %}
    {% endif %}
    {% if settingInputCustom.icSize %}
      {% set icSize = settingInputCustom.icSize %}
    {% endif %}
    {% if settingInputCustom.inputClear %}
      {% set inputClear = settingInputCustom.inputClear %}
    {% endif %}
  {% endif %}
  {% if not note == '' %}
    {% set noteContent %}
    <div class="note-text h6">
      {{ note }}
    </div>
    {% endset %}
  {% endif %}

  {% if type == 'password' %}
    {% set eye %}
    <div class="eye-wrap">
      <input type="checkbox" name="" class="hidden" checked="" id="eye-{{id}}">
      <label class="eye text-right ic-pos-right" for="eye-{{id}}">
        <div class="eye-slash"></div>
      </label>
    </div>
    {% endset %}
  {% endif %}

  {% set ic %}
  <div class="input-ic">
    <img src="{{ icon }}" class="ic-lg" alt="">
  </div>
  {% endset %}

  {% set icLeft %}
  <div class="input-ic">
    <img src="{{ iconLeft }}" class="ic-lg" alt="">
  </div>
  {% endset %}

  {% if not subBlock == '' %}
    {% set subBlockContent = subBlock %}
  {% endif %}

  {% set inputClearIc %}
  <div class="input-ic input-clear pointer">
    <img src="media/icons/svg/dark/close.svg" alt="" class="ic-xs">
  </div>
  {% endset %}

  {% if textarea == 'true' %}
    {% set inputClearIc = '' %}
  {% endif %}

  {% if type == 'password' %}
    {% set inputClearIc = '' %}
  {% endif %}

  {% if inputClear == 'false' %}
    {% set inputClearIc = '' %}
  {% endif %}

  {% if id %}
    {% set idText = 'id="' + id + '"' %}
  {% endif %}

  {% set disabledAttr = '' %}
  {% if disabled == 'true' %}
    {% set disabledAttr = 'disabled = disabled' %}
  {% endif %}

  {% if icTxt %}
    {% set icTxtContent %}
    <div class="input-ic-txt color-base-2 input-ic">
      {{ icTxt | safe }}
    </div>
    {% endset %}
  {% endif %}

  {% if extendContentPos == 'outside' %}
    {% set extendContentPosTxt = 'input-extend-outside' %}
  {% endif %}

  {% if textarea == 'true' %}
    {% if textareaAutoSize == 'true' %}
      {% set textareaAutoSizeTxt = 'textarea-autosize' %}
    {% endif %}
  {% endif %}

  {% set inputArtt %}
  {{ idText }}
  type="{{ type }}" class="input input-{{ inputSize }}
  input-{{ inputType }}
  input-ic-{{ icSize }}
  {% if inputClear == 'true' %}
    input-has-clear
    {% if icon %}
      input-ic-right
    {% endif %}
    {% if iconLeft %}
      input-ic-left
    {% endif %}
    {{ textareaAutoSizeTxt }}
  {% endif %}
  {{ extendClass }}" autocorrect="off" placeholder="{{ placeholder }}"
  {{ disabledAttr }}
  {{ extendAttr }}
  {% endset %}
  <div class="form-group">
    <div class="input-group-wrap input-group-{{ inputType }} {{extendContentPosTxt}}">
      <label class="input-group">
        {% if textarea == 'true' %}
          {% if textareaAutoSize == 'true' %}
            {% set textareaRow = '1' %}
          {% else %}
            {% set textareaRow = '3' %}
          {% endif %}
          <textarea spellcheck="false" {{ inputArtt | safe | trim }} rows="{{ textareaRow }}">{{ value }}</textarea>
        {% else %}
          <input {{ inputArtt | safe | trim}} value="{{ value }}">
        {% endif %}
        <div class="input-frame"></div>
        <div class="input-label">{{ title }}</div>
        {% if autocomplete == 'true' %}
          <ul class="live-search-result live-search-result-2">
            <li>
              <span>2,000</span>
            </li>
            <li>
              <span>20,000</span>
            </li>
            <li>
              <span>200,000</span>
            </li>
            <li>
              <span>2,000,000</span>
            </li>
            <li>
              <span>20,000,000</span>
            </li>
          </ul>
        {% endif %}
        {% if iconLeft %}
          <div class="input-flex-content input-flex-content-left">
            {{ icLeft | safe }}
          </div>
        {% endif %}
        {% if icon or eye or inputClear %}
          <div class="input-flex-content">
            {{ inputClearIc | safe }}
            {% if icon %}
              {{ ic | safe }}
            {% endif %}
            {{ eye | safe }}
            {{ icTxtContent | safe }}
          </div>
        {% endif %}
      </label>
      {% if extendContent %}
        <div class="input-{{ inputSize }} input-group-extend {{ extendContentClass }} input-ic-{{icSize}}">
          {{ extendContent | safe }}
        </div>
      {% endif %}
    </div>
    {{ noteContent | safe }}
    <div class="errorBlock"></div>
  </div>
  <!-- end forms.input -->
{% endmacro %}

{% macro select(title, inputType = settingInputDefault.inputType, size = settingInputDefault.inputSize, type = 'text', noSearch = "", value = dataSelectDefualt, selected = '', id = '', extendAttr, extendClass, note = '', customOption = '', icon = '', iconPos = "left", icSize = settingInputDefault.icSize, disabled = settingInputDefault.disabled, settingInputCustom, placeholder, valueTemplate, dataimgClass) %}
  <!-- forms.select -->
  {% if settingInputCustom %}
    {% if settingInputCustom.inputType %}
      {% set inputType = settingInputCustom.inputType %}
    {% endif %}
    {% if settingInputCustom.inputSize %}
      {% set inputSize = settingInputCustom.inputSize %}
    {% endif %}
    {% if settingInputCustom.icSize %}
      {% set icSize = settingInputCustom.icSize %}
    {% endif %}
    {% if settingInputCustom.inputClear %}
      {% set inputClear = settingInputCustom.inputClear %}
    {% endif %}
  {% endif %}
  {% set disabledAttr = '' %}
  {% if disabled == 'true' %}
    {% set disabledAttr = 'disabled = disabled' %}
  {% endif %}
  {% if not note == '' %}
    {% set noteContent %}
    <div class="note-text h6 color-base-3">
      {{ note }}
    </div>
    {% endset %}
  {% endif %}
  {% if icon %}
    {% set ic %}
    <div class="input-ic">
      <img src="{{ icon }}" class="ic-lg" alt="">
    </div>
    {% endset %}
    {% set icClass = 'input-ic-' + iconPos %}
  {% endif %}

  {% if valueTemplate %}
    {% set selectTxt = 'select-2-template' %}
  {% endif %}

  <div class="form-group">
    <div class="input-group-wrap input-group-{{ inputType }} {{extendContentPosTxt}}">
      <div class="input-group">
        <select id="{{ id }}" name="" class="select-2 {{selectTxt}} {{ extendClass }} input input-{{ inputSize }} input-ic-{{ icSize }} input-{{ inputType }} {{icClass}}" header-text="{{ title }}" data-minimum-results-for-search="{{ noSearch }}" data-placeholder="{{placeholder}}" {{ extendAttr }} {{ disabledAttr }}>
          <option value=""></option>
          {% if not customOption == '' %}
            {{ customOption | safe }}
          {% elseif valueTemplate %}
            {% for item in valueTemplate %}
              {% set selectedText = '' %}
              {% if loop.index == selected %}
                {% set selectedText = 'selected' %}
              {% endif %}
              {% if dataimgClass %}
                {% set dataimgClassTxt = 'dataimgclass="'+ dataimgClass +'"' %}
              {% endif %}
              <option value="{{ loop.index }}" {{ dataimgClassTxt | safe }} dataimg="{{ item.img }}" datasub="{{ item.sub }}" {{ selectedText }}>{{ item.val }}</option>
            {% endfor %}
          {% else %}
            {% for item in value %}
              {% set selectedText = '' %}
              {% if loop.index == selected %}
                {% set selectedText = 'selected' %}
              {% endif %}
              <option value="{{ loop.index }}" {{ selectedText }}>{{ item }}</option>
            {% endfor %}
          {% endif %}
        </select>
        <div class="input-frame"></div>
        <div class="input-label">{{ title }}</div>
        {{ ic | safe }}
        <div class="input-ic">
          <div class="arrow-down-anim"></div>
        </div>
      </div>
    </div>
    {{ noteContent | safe}}
    <div class="errorBlock"></div>
  </div>
  <!-- end forms.select -->
{% endmacro %}

{% macro datepicker(title, inputType = settingInputDefault.inputType, value = '', size = settingInputDefault.inputSize, type = 'text', id = '', extendAttr, range = 'false', placeholder = '', icSize = settingInputDefault.icSize, disabled = settingInputDefault.disabled, settingInputCustom, note = '') %}
  {% if settingInputCustom %}
    {% if settingInputCustom.inputType %}
      {% set inputType = settingInputCustom.inputType %}
    {% endif %}
    {% if settingInputCustom.inputSize %}
      {% set inputSize = settingInputCustom.inputSize %}
    {% endif %}
    {% if settingInputCustom.icSize %}
      {% set icSize = settingInputCustom.icSize %}
    {% endif %}
    {% if settingInputCustom.inputClear %}
      {% set inputClear = settingInputCustom.inputClear %}
    {% endif %}
  {% endif %}
  <!-- forms.datepicker -->
  {% if not note == '' %}
    {% set noteContent %}
    <div class="note-text h6 color-base-3">
      {{ note }}
    </div>
    {% endset %}
  {% endif %}
  {% set disabledAttr = '' %}
  {% if disabled == 'true' %}
    {% set disabledAttr = 'disabled = disabled' %}
  {% endif %}
  {% if range == 'true' %}
    {% set lpTxt = 'light-pick-range' %}
  {% else %}
    {% set lpTxt = 'light-pick' %}
  {% endif %}
  <div class="form-group">
    <div class="input-group-wrap input-group-{{ inputType }}">
      <label class="input-group">
        <input id="{{ id }}" type="{{ text }}" class="{{lpTxt}} input input-{{ inputType }} input-{{ inputSize }} input-ic-{{ icSize }}" value="" placeholder="{{ placeholder }}" {{ extendAttr | safe}} {{ disabledAttr }}>
        <div class="input-frame"></div>
        <div class="input-label">{{ title }}</div>
        <div class="input-ic">
          <img src="/dist/media/icons/svg/dark/calendar.svg" class="ic-lg" alt="">
        </div>
      </label>
    </div>
    {{ noteContent | safe}}
    <div class="errorBlock"></div>
  </div>
  <!-- end forms.datepicker -->
{% endmacro %}