{% import "macros/forms/_buttons.njk" as button %}
{% import "_varibles.njk" as globalsVar %}

{% extends "_varibles.njk" %}
{% set dataSelectDefualt = ['Option 1', 'Option 2', 'Option 3'] %}

{% macro iptExtend(dataIcon, pos, framePos, clear) %}
  {% set class %}
    input-extend
    {{ dataIcon.class if dataIcon.class }}
    {{ 'input-extend-' + framePos if framePos }}
    {{ 'input-extend-' + framePos if framePos }}
    input-extend-{{ pos }}
  {% endset %}
  <div class="{{ class }}">
    {% if clear %}
      <div class="input-box input-ic-clear"></div>
    {% endif %}

    {% if dataIcon.iconFont %}
      <div class="input-box input-ic">
        <img src="{{ dataIcon.icon }}" alt="" class="ic-default">
      </div>
    {% endif %}

    {% if dataIcon.icon %}
      <div class="input-box input-ic">
        <img src="{{ dataIcon.icon }}" alt="" class="ic-default">
      </div>
    {% endif %}

    {% if dataIcon.text %}
      <div class="input-box input-ic-txt">
        {{ dataIcon.text }}
      </div>
    {% endif %}

    {% if dataIcon.extend %}
      <div class="input-box input-extend-inner">
        {{ dataIcon.extend }}
      </div>
    {% endif %}
  </div>
{% endmacro %}

{% macro iptSkeleton(data) %}
  {% set dataDefault = {
    orient: 'vertical',
    title: false,
    style: 'default',
    id: false,
    placeholder: false,
    type: 'textbox',
    value: false,
    size: 'default',
    iconLeft: false,
    iconRight: false,
    iconFontLeft: false,
    iconFontRight: false,
    textLeft: false,
    textRight: false,
    extendLeft: false,
    extendRight: false,
    extendLeftClass: false,
    extendRightClass: false,
    iconInsideLeft: false,
    iconInsideRight: false,
    iconFontInsideLeft: false,
    iconFontInsideRight: false,
    textInsideLeft: false,
    textInsideRight: false,
    extendInsideLeft: false,
    extendInsideRight: false,
    extendInsideLeftClass: false,
    extendInsideRightClass: false,
    iconOutsideLeft: false,
    iconOutsideRight: false,
    iconFontOutsideLeft: false,
    iconFontOutsideRight: false,
    textOutsideLeft: false,
    textOutsideRight: false,
    extendOutsideLeft: false,
    extendOutsideRight: false,
    extendOutsideLeftClass: false,
    extendOutsideRightClass: false,
    disabled: false,
    errorBlock: true,
    required: false,
    requiredSymbol: false,
    labelChange: true,
    content: false,
    note: false,
    clear: false
  } %}
  {% set data = data | mergeDeep(dataDefault) %}
  {% set dataIcon = {
    left: {
      iconFont: data.iconFontLeft,
      icon: data.iconLeft,
      text: data.textLeft,
      extend: data.extendLeft,
      class: data.extendLeftClass
    },
    right: {
      iconFont: data.iconFontRight,
      icon: data.iconRight,
      text: data.textRight,
      extend: data.extendRight,
      class: data.extendRightClass
    },
    insideLeft: {
      iconFont: data.iconFontInsideLeft,
      icon: data.iconInsideLeft,
      text: data.textInsideLeft,
      extend: data.extendInsideLeft,
      class: data.extendInsideLeftClass
    },
    insideRight: {
      iconFont: data.iconFontInsideRight,
      icon: data.iconInsideRight,
      text: data.textInsideRight,
      extend: data.extendInsideRight,
      class: data.extendInsideRightClass
    },
    outsideLeft: {
      iconFont: data.iconFontOutsideLeft,
      icon: data.iconOutsideLeft,
      text: data.textOutsideLeft,
      extend: data.extendOutsideLeft,
      class: data.extendOutsideLeftClass
    },
    outsideRight: {
      iconFont: data.iconFontOutsideRight,
      icon: data.iconOutsideRight,
      text: data.textOutsideRight,
      extend: data.extendOutsideRight,
      class: data.extendOutsideRightClass
    }
  } %}

  {% set contentLeft = false %}
  {% set insideContentLeft = false %}
  {% set outsideContentLeft = false %}

  {% set contentRight = false %}
  {% set insideContentRight = false %}
  {% set outsideContentRight = false %}

  {% if data.iconFontLeft or data.iconLeft or data.textLeft or data.extendLeft %}
    {% set contentLeft = true %}
  {% endif %}

  {% if data.iconFontRight or data.iconRight or data.textRight or data.extendRight or data.clear %}
    {% set contentRight = true %}
  {% endif %}

  {% if data.iconFontInsideLeft or data.iconInsideLeft or data.textInsideLeft or data.extendInsideLeft %}
    {% set contentInsideLeft = true %}
  {% endif %}

  {% if data.iconFontInsideRight or data.iconInsideRight or data.textInsideRight or data.extendInsideRight %}
    {% set contentInsideRight = true %}
  {% endif %}

  {% if data.iconFontOutsideLeft or data.iconOutsideLeft or data.textOutsideLeft or data.extendOutsideLeft %}
    {% set contentOutsideLeft = true %}
  {% endif %}

  {% if data.iconFontOutsideRight or data.iconOutsideRight or data.textOutsideRight or data.extendOutsideRight %}
    {% set contentOutsideRight = true %}
  {% endif %}

  {% if data.title %}
    {% set labelSection %}
      <label class="input-label {{ 'input-label-horizontal input-size-' + data.size + '-label' if data.orient == 'horizontal' }}">
        <div class="inner">
          {% if data.requiredSymbol %}
            <span class="color-danger">*</span>
          {% endif %}
          {{ data.title }}
        </div>
      </label>
    {% endset %}
  {% endif %}

  {% set mainContent %}
    <div class="input-group-wrap input-{{ data.style }} input-size-{{ data.size }} {{data.inputGroupExtendClass}} input-group-{{data.orient}}">
      <label class="input-inner-wrap">
        {{ data.content }}
        {% if data.orient == 'vertical' %}
          {{ labelSection }}
        {% endif %}
        {% if contentLeft %}
          {{ iptExtend(dataIcon.left, pos = 'left') }}
        {% endif %}
        {% if contentRight %}
          {{ iptExtend(dataIcon.right, pos = 'right', clear = data.clear) }}
        {% endif %}
        <div class="input-frame"></div>
      </label>
      {% if contentOutsideLeft %}
        {{ iptExtend(dataIcon.outsideLeft, framePos = 'outside', pos = 'left') }}
      {% endif %}
      {% if contentOutsideRight %}
        {{ iptExtend(dataIcon.outsideRight, framePos = 'outside', pos = 'right') }}
      {% endif %}
    </div>
    {% if data.note %}
      <div class="input-note">
        {{ data.note }}
      </div>
    {% endif %}
    {% if data.errorBlock %}
      <div class="errorBlock"></div>
    {% endif %}
  {% endset %}

  <div class="form-group">
    {% if data.orient == 'vertical' %}
      {{ mainContent }}
    {% endif %}
    {% if data.orient == 'horizontal' %}
      <div class="row row-16 list-mb4 list-crop">
        <div class="col-sm-4">
          {{ labelSection }}
        </div>
        <div class="col-sm-8">
          {{ mainContent }}
        </div>
      </div>
    {% endif %}
  </div>
{% endmacro %}

{% macro input(data) %}
  {% if data | isStr %}
    {% set data = {
      title: data
    } %}
  {% endif %}
  {% set dataDefault = {
    clear: true,
    labelChange: true,
    samePlaceholderText: 'Nhập'
  } %}
  {% set data = data | mergeDeep(dataDefault) %}

  {% set placeholderText %}
    {{ data.samePlaceholderText + ' ' + data.title | lower if data.placeholder == 'same' else data.placeholder }}
  {% endset %}

  {% set inputClass %}
    input
    {{ 'input-label-change' if data.labelChange }}
    {{ 'input-has-clear' if data.clear }}
  {% endset %}

  {% set inputAttr %}
    {{ 'id="' + data.id + '"' if data.id }}
    {{ 'placeholder="' + placeholderText + '"' if data.placeholder }}
    {{ 'value="' + data.value + '"' if data.value }}
    {{ 'required' if data.required }}
    {{ 'disabled' if data.disabled }}
    autocorrect="off"
  {% endset %}

  {% set content %}
    <input type="{{ data.type }}" class="{{ inputClass }}" {{ inputAttr }}>
  {% endset %}
  {% set data = data | setAttribute('content', content) %}
  {{ iptSkeleton(data) }}
{% endmacro %}

{% macro textarea(data) %}
  {% set dataDefault = {
    inputGroupExtendClass: 'textarea-group',
    clear: false,
    labelChange: true,
    samePlaceholderText: 'Nhập',
    autosize: true,
    row: 3
  } %}
  {% set data = data | mergeDeep(dataDefault) %}

  {% set placeholderText %}
    {{ data.samePlaceholderText + ' ' + data.title | lower if data.placeholder == 'same' else data.placeholder }}
  {% endset %}

  {% set inputClass %}
    input
    {{ 'textarea-autosize' if data.autosize }}
    {{ 'input-label-change' if data.labelChange }}
    {{ 'input-has-clear' if data.clear }}
  {% endset %}

  {% set inputAttr %}
    {{ 'id="' + data.id + '"' if data.id }}
    {{ 'rows="' + data.row + '"' if not data.autosize }}
    {{ 'rows="1"' if data.autosize }}
    {{ 'placeholder="' + placeholderText + '"' if data.placeholder }}
    {{ 'required' if data.required }}
    {{ 'disabled' if data.disabled }}
    autocorrect="off" spellcheck="false"
  {% endset %}

  {% set content %}
    <textarea class="{{ inputClass }}" {{ inputAttr }}>
      {{- data.value -}}
    </textarea>
  {% endset %}
  {% set data = data | setAttribute('content', content) %}
  {{ iptSkeleton(data) }}
{% endmacro %}

{% macro datepicker(data) %}
  {% if data | isStr %}
    {% set data = {
      title: data
    } %}
  {% endif %}
  {% set dataDefault = {
    lib: 'litepicker',
    labelChange: true,
    range: false,
    placeholder: 'dd/mm/yyyy'
  } %}
  {% set data = data | mergeDeep(dataDefault) %}

  {% set inputClass %}
    input
    {{ 'lite-picker' if data.lib == 'litepicker' }}
    {{ 'datepicker-single' if not data.range }}
    {{ 'datepicker-range' if data.range }}
    {{ 'input-label-change' if data.labelChange }}
  {% endset %}

  {% set inputAttr %}
    {{ 'id="' + data.id + '"' if data.id }}
    {{ 'placeholder="' + data.placeholder + '"' if data.placeholder }}
    {{ 'header-text="' + data.title + '"' if data.title }}
    {{ 'lp-single-mode="false"' if data.range }}
    {{ 'value="' + data.value + '"' if data.value }}
    {{ 'required' if data.required }}
    {{ 'disabled' if data.disabled }}
    autocorrect="off"
  {% endset %}

  {% set content %}
    <input type="{{ data.type }}" class="{{ inputClass }}" {{ inputAttr }}>
  {% endset %}
  {% set data = data | setAttribute('content', content) %}
  {{ iptSkeleton(data) }}
{% endmacro %}

{% macro select(data) %}
  {% if data | isStr %}
    {% set data = {
      title: data
    } %}
  {% endif %}
  {% set dataDefault = {
    labelChange: true,
    lib: 'select-2',
    samePlaceholderText: 'Nhập',
    option: [
      'Option 1', 'Option 2', 'Option 3'
    ],
    selected: false
  } %}
  {% set data = data | mergeDeep(dataDefault) %}

  {% set placeholderText %}
    {{ data.samePlaceholderText + ' ' + data.title | lower if data.placeholder == 'same' else data.placeholder }}
  {% endset %}

  {% set inputClass %}
    input
    {{ data.lib if data.lib }}
    {{ 'select-2-template' if data.option[0] | string == '[object Object]' }}
    {{ 'input-label-change' if data.labelChange }}
  {% endset %}

  {% set inputAttr %}
    {{ 'id="' + data.id + '"' if data.id }}
    {{ 'multiple' + data.multiple + '"' if data.multiple }}
    header-text="{{ data.title if data.title else 'Chọn' }}"
    {{ 'data-placeholder="' + placeholderText + '"' if data.placeholder }}
    {{ 'required' if data.required }}
    {{ 'disabled' if data.disabled }}
  {% endset %}

  {% set content %}
    <select class="{{ inputClass }}" {{ inputAttr }}>
      {% if data.placeholder %}
        {% if data.lib == 'select-2' %}
          <option value=""></option>
        {% elseif data.lib == 'none' %}
          <option value="" disabled="disabled" selected="selected" hidden="hidden">{{ placeholderText }}</option>
        {% endif %}
      {% endif %}
      {% if data.option %}
        {% for item in data.option %}
          {% set attr %}
            {{ 'value="' + data.valueName + loop.index + '"' if data.valueName }}
            {{ 'dataimgclass="' + item.imageClass + '"' if item.imageClass }}
            {{ 'dataimg="' + item.image + '"' if item.imageClass }}
            {{ 'datasub="' + item.subTitle + '"' if item.subTitle }}
            {{ 'selected' if loop.index == 1 and not data.placeholder }}
            {{ 'selected' if loop.index == data.selected }}
          {% endset %}
          <option {{ attr }}>
            {% if item | string == '[object Object]' %}
              {{ item.title }}
            {% else %}
              {{ item }}
            {% endif %}
          </option>
        {% endfor %}
      {% endif %}
    </select>
  {% endset %}

  {% set data = data | setAttribute('content', content) %}
  {{ iptSkeleton(data) }}
{% endmacro %}

{% macro otp() %}
  <div id="otp" class="input-otp">
    <input class="" type="text" id="first" maxlength="1"/>
    <input class="" type="text" id="second" maxlength="1"/>
    <input class="" type="text" id="third" maxlength="1"/>
    <input class="" type="text" id="fourth" maxlength="1"/>
    <input class="" type="text" id="fifth" maxlength="1"/>
    <input class="" type="text" id="sixth" maxlength="1"/>
  </div>
{% endmacro %}