{% extends "_varibles.njk" %}

{% import "macros/forms/_forms.njk" as form %}
{% import "macros/forms/_buttons.njk" as button %}
{% import "macros/forms/_rnc.njk" as rnc %}
{% import "macros/forms/_files-upload.njk" as file %}
{% import "macros/_base.njk" as base %}

{% macro modal(data) %}
  <!-- modal.modal -->
  {% set dataDefault = {
    title: false,
    id: false,
    size: 'default',
    alert: false,
    align: false,
    animation: 'fade',
    pos: 'centered',
    scrollable: true,
    closeBtn: true,
    extendClass: false,
    headerContent: false
  } %}
  {% set data = data | mergeDeep(dataDefault) %}

  {% set alert = {
    'success': {
      icon: 'media/graph/success.svg'
    },
    'error': {
      icon: 'media/graph/error.svg'
    },
    'lock': {
      icon: 'media/graph/lock.svg'
    },
    'unlock': {
      icon: 'media/graph/unlock.svg'
    },
    'delete': {
      icon: 'media/graph/delete.svg'
    }
  } %}

  {% set modalOuterClass %}
    modal
    {{ data.animation if data.animation }}
    {{ 'text-' + data.align if data.align }}
    {{ 'modal-alert modal-alert-' + data.alert if data.alert }}
    {{ data.extendClass if data.extendClass }}
  {% endset %}

  {% set modalInnerClass %}
    modal-dialog modal-dialog-{{ data.pos }}
    modal-size-{{ data.size }}
    {{ 'modal-dialog-scrollable' if data.scrollable }}
  {% endset %}

  {% set modalTitle %}
    <h4 class="modal-title text-center">
      {{ data.title }}
    </h4>
  {% endset %}

  {% set closeBtn %}
    {{ button.btn({iconLeft: iconDefault.toastClose , size: 'md', color: 'transparent', shape: 'circle', extendClass: 'modal-close-btn', modalDismiss: true}) }}
  {% endset %}

  {% if data.alert %}
    {% set modalHeader %}
      <div class="modal-title-wrap list-mb16 list-crop">
        {{ closeBtn }}
        {# {{ base.iconBox({ icon: alert[data.alert].icon, extendClass: 'block-center', color: 'transaprent', size: 'xxl' }) }} #}
        {{ modalTitle }}
      </div>
    {% endset %}
  {% endif %}

  {% if not data.alert %}
    {% set modalHeader %}
      {{ modalTitle }}
      {{ closeBtn }}
    {% endset %}
  {% endif %}

  <div class="{{ modalOuterClass }}" id="{{ data.id }}" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="{{ modalInnerClass }}" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <div class="modal-wrap">
            {{ modalHeader }}
            {{ data.headerContent if data.headerContent }}
            {% if data.search %}
              <div class="row justify-content-center pt16"><div class="col-md-11">{{ form.inputSearch({ placeholder: 'Tìm kiếm' }) }}</div></div>
            {% endif %}
          </div>
        </div>
        {% if data.content %}
          <div class="modal-body color-default-s">
            {{ data.content }}
          </div>
        {% endif %}
        {% if not data.hideFooter %}
          <div class="modal-footer justify-content-center">
            {% if data.footerContent %}
              <div class="modal-footer-content">
                {{ data.footerContent }}
              </div>
            {% endif %}
            {% if data.button %}
              {% set dataBtnDefault = {
                col: 'group-col-2 group-col-fill',
                gutterVertical: 12,
                gutterHorizontal: 12,
                align: 'center',
                reverse: false,
                modalDismiss: true,
                buttonGeneralOption: {
                  size: 'md'
                }
              } %}
              {% set dataBtn = data.button | mergeDeep(dataBtnDefault) %}
              {{ button.btnGroup(dataBtn) }}
            {% endif %}
          </div>
        {% endif %}
      </div>
    </div>
  </div>
  <!-- end modal.modal -->
{% endmacro %}

{% macro modalAlert(data) %}
  <!-- modal.modalAlert -->
  {% set dataDefault = {
    size: 'alert-default',
    alert: 'success',
    align: 'center',
    pos: 'centered'
  } %}
  {% set data = data | mergeDeep(dataDefault) %}
  {{ modal(data) }}
  <!-- end modal.modalAlert -->
{% endmacro %}

{% macro toast(data) %}
  {% set dataDefault = {
    type: 'success'
  } %}
  <div class="toast-container">
    {% for item in data %}
      {% set item = item | mergeDeep(dataDefault) %}
      <div class="toast toast-{{ item.type }}" id="{{ item.id }}" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-body">
          <div class="row row-12 align-items-center">
            <div class="col-auto">
              <div class="icm icm-default_{{ item.type }}-circle icm-size-default ubg-{{ item.type }} d-block"></div>
            </div>
            <div class="col flex-grow-1">{{ item.content }}</div>
            <div class="col-auto">
              {{ button.btn({iconLeft: iconDefault.toastClose , size: 'sm', color: 'transparent', shape: 'circle', extendAttr: 'data-bs-dismiss="toast" aria-label="Close"'}) }}
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endmacro %}