{% extends "_varibles.njk" %}

{% import "macros/forms/_forms.njk" as form %}
{% import "macros/forms/_buttons.njk" as button %}
{% import "macros/forms/_rnc.njk" as rnc %}
{% import "macros/forms/_files-upload.njk" as file %}

{% macro modal(data) %}
  {# Modal Varibles #}
  {% set modalSize = data.size %}
  {% set modalAlertType = data.alertType %}
  {% set modalAlign = data.align %}
  {% set modalAnim = data.animation %}
  {% set modalPos = data.pos %}
  {% set modalCloseBtn = data.closeBtn %}

  {% if not modalSize %}
    {% set modalSize = 'default' %}
  {% endif %}

  {% if modalAlertType %}
    {% set modalAlertType %}
      <img src="media/graph/{{ data.alertType }}.svg" class="alert-modal-ic mb15" alt="">
    {% endset %}
  {% endif %}

  {% if not modalAlign %}
    {% set modalAlign = 'left' %}
  {% endif %}

  {% if not modalCloseBtn %}
    {% set modalCloseBtn = 'true' %}
  {% endif %}

  {% if not modalAnim %}
    {% set modalAnim = 'fade' %}
  {% endif %}

  {% if not modalPos %}
    {% set modalPos = 'centered' %}
  {% endif %}

  {% if not modalButtonCol %}
    {% set modalButtonCol = 'col-auto' %}
  {% endif %}

  {% if modalCloseBtn == 'true' %}
    {% set modalHeader %}
      <div class="row row-20 modal-title">
        <div class="col">
          <h5 class="">
            <b>{{ data.title }}</b>
          </h5>
        </div>
        <div class="col-auto text-right col-btn-close">
          <a href="" data-dismiss="modal" class="link b close-modal-btn">Đóng</a>
        </div>
      </div>
    {% endset %}
  {% else %}
    {% set modalHeader %}
      {{ modalAlertType | safe }}
      <h5 class="modal-title">
        <b>{{ data.title }}</b>
      </h5>
    {% endset %}
  {% endif %}

  <div class="modal {{ modalAnim }}" id="{{ data.id }}" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" {{ data.extendAttr}}>
    <div class="modal-dialog modal-dialog-{{ modalPos }} modal-size-{{ modalSize }} modal-dialog-scrollable {{ data.extendClass }}" role="document">
      <div class="modal-content text-{{ modalAlign }}">
        <div class="modal-header">
          <div class="modal-wrap">
            {{ modalHeader | safe }}
            {{ data.modalHeaderContent | safe }}
          </div>
        </div>
        <div class="modal-body">
          {{ data.content | safe }}
        </div>
        <div class="modal-footer justify-content-center">
          {% if data.modalFooterContent %}
            <div class="modal-footer-content">
              {{ data.modalFooterContent | safe }}
            </div>
          {% endif %}
          {% if data.button %}
            {% set dataBtnDefault = {
              col: 'group-col-md-3 group-col-fill',
              gutterVertical: 8,
              gutterHorizontal: 8,
              align: 'center',
              reverse: false
            } %}
            {% set dataBtn = data.button | mergeDeep(dataBtnDefault) %}
            {{ button.btnGroup(dataBtn) }}
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endmacro %}

{% macro modalAlert(data) %}
  {% set data = data | setAttribute('align', 'center') %}
  {% set data = data | setAttribute('closeBtn', 'false') %}
  {% set data = data | setAttribute('buttonCol', 'col') %}
  {% set data = data | setAttribute('size', 'alert-default') %}
  {% if data.extendClass %}
    {% set data = data | setAttribute('extendClass', 'modal-alert ' + data.extendClass) %}
  {% else %}
    {% set data = data | setAttribute('extendClass', 'modal-alert ') %}
  {% endif %}
  {{ modal(data) }}
{% endmacro %}

{% macro toast(value, type = 'success', id = '') %}
  <div class="toast" id="{{ id }}" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-body">
      <div class="row row-15 align-items-center">
        <div class="col-auto">
          <img src="/dist/media/graph/{{ type }}-sm.svg" alt="">
        </div>
        <div class="col flex-grow-1">{{ value }}</div>
        <div class="col-auto">
          {{ button.btn({iconLeft: iconDefault.toastClose , size: 'sm', color: 'invert', shape: 'circle', extendAttr: 'data-dismiss="toast" aria-label="Close"'}) }}
        </div>
      </div>
    </div>
  </div>
{% endmacro %}