{% extends "_varibles.njk" %}
{% import "macros/_base.njk" as base %}

{% macro rncGroupText(data) %}
  {% set dataDefault = {
    required: false,
    type: false,
    colClass: false,
    rowClass: false,
    name: data.type + '1'
  } %}
  {% set data = data | mergeDeep(dataDefault) %}
  <div class="form-group">
    <div class="row {{ data.rowClass if data.rowClass }}">
      {% for item in data.data %}
        {% set dataRnc = {
          name: data.name,
          type: data.type
        } %}

        {% if item | isStr %}
          {% set dataRnc = dataRnc | setAttribute('title', item) %}
        {% else %}
          {% set dataRnc = dataRnc | mergeDeep(item) %}
        {% endif %}

        <div class="{{ data.colClass }}">{{ rncText(dataRnc) }}</div>
      {% endfor %}
    </div>
    <div class="errorBlock"></div>
  </div>
{% endmacro %}

{% macro rncSymbol(data) %}
  {% set dataDefault = {
    type: 'checkbox',
    size: 'default',
    style: 'default'
  } %}

  {% set data = data | mergeDeep(dataDefault) %}

  {% set iconClass %}
    {{ data.type + '-ic' }}
    {{ data.type + '-ic-' + data.size }}
    {{ data.type + '-size-' + data.size }}
    {{ data.type + '-style-' + data.style }}
  {% endset %}

  {% if data.type == 'switch' %}
    <div class="switch-wrap">
      <div class="switch-ic"></div>
      <div class="switch-bg"></div>
    </div>
  {% else %}
    <span class="{{ iconClass }}"></span>
  {% endif %}

{% endmacro %}

{% macro rncInput(data) %}
  {% set dataDefault = {
    id: false,
    type: 'checkbox',
    checked: false,
    indeterminate: false,
    disabled: false,
    name: false,
    value: false,
    form: false,
    extendInputAttr: false,
    extendLabelClass: false,
    content: content,
    dataDump: false
  } %}

  {% set data = data | mergeDeep(dataDefault) %}

  {% set labelClass %}
    rnc
    {{ data.type }}
    {{ 'type-' + data.type }}
    {{ data.extendLabelClassDev }}
    {{ data.extendLabelClass }}
  {% endset %}

  {% set inputAttr %}
    {{ 'type="radio"' if data.type == 'radio' }}
    {{ 'type="checkbox"' if data.type == 'checkbox' }}
    {{ 'type="checkbox"' if data.type == 'switch' }}
    {{ 'id="' + data.id + '"' if data.id }}
    {{ 'name="' + data.name + '"' if data.name }}
    {{ 'value="' + data.value + '"' if data.value }}
    {{ 'required' if data.required }}
    {{ 'checked' if data.checked }}
    {{ 'indeterminate' if data.indeterminate }}
    {{ 'disabled' if data.disabled }}
    {{ data.extendInputAttr if data.extendInputAttr }}
  {% endset %}

  {% set mainContent %}
    <label class="{{ labelClass }}">
      <input {{ inputAttr }} class="hidden">
      {{ data.content }}
    </label>
  {% endset %}
  <!-- rnc.{{data.type}} -->
  {% if data.form %}
    <div class="form-group">
      {{ mainContent }}
      <div class="errorBlock"></div>
    </div>
  {% else %}
    {{ mainContent }}
  {% endif %}
  {% if data.dataDump %}
    {{ data | dump }}
  {% endif %}
  <!-- end rnc.{{data.type}} -->
{% endmacro %}

{% macro rncIconOnly(data = {}) %}
  {% set content %}
    {{ rncSymbol(data) }}
  {% endset %}

  {% set data = data | setAttribute('content', content) %}
  {{ rncInput(data) }}
{% endmacro %}

{% macro rncBox(data) %}
  {% set dataDefault = {
    space: '12'
  } %}
  {% set data = data | mergeDeep(dataDefault) %}

  {% set rncContentClass %}
    rnc-content
    {{ 'align-items-' + data.valign if data.valign }}
  {% endset %}

  {% set rncInnerClass %}
    rnc-inner
  {% endset %}

  {% set rncIcWrapClass %}
    rnc-ic-wrap
    {% if data.iconPos %}
      {{ 'pl' + data.space if data.space }}
    {% else %}
      {{ 'pr' + data.space if data.space }}
    {% endif %}
    {{ 'order-' + data.iconPos if data.iconPos }}
  {% endset %}

  {% set content %}
    <div class="{{ rncContentClass }}">
      {% if not data.hideSymbol %}
        <div class="{{ rncIcWrapClass }}">
          {{ rncSymbol(data) }}
        </div>
      {% endif %}
      <div class="{{ rncInnerClass }}">
        {{ data.content }}
      </div>
    </div>
  {% endset %}

  {% set data = data | setAttribute('content', content) %}
  {{ rncInput(data) }}
{% endmacro %}

{% macro rncText(data) %}
  {% if data | isStr %}
    {% set data = {
      title: data
    } %}
  {% endif %}
  {% set content %}
    <div class="rnc-text">
      {{ data.title }}
    </div>
  {% endset %}
  {% set data = data | setAttribute('content', content) %}
  {{ rncBox(data) }}
{% endmacro %}

{% macro checkbox(data) %}
  {% set dataDefault = {} %}
  {% set data = data | mergeDeep(dataDefault) %}
  {{ rncText(data) }}
{% endmacro %}

{% macro radio(data) %}
  {% set dataDefault = {} %}
  {% set data = data | mergeDeep(dataDefault) %}
  {% set data = data | setAttribute('type', 'radio') %}
  {{ rncText(data) }}
{% endmacro %}

{% macro switch (data) %}
  {% set dataDefault = {} %}
  {% set data = data | mergeDeep(dataDefault) %}
  {% set data = data | setAttribute('type', 'switch') %}
  {{ rncText(data) }}
{% endmacro %}

{% macro checkboxIcon(data) %}
  {% set dataDefault = {} %}
  {% set data = data | mergeDeep(dataDefault) %}
  {{ rncIconOnly(data) }}
{% endmacro %}

{% macro radioIcon(data) %}
  {% set dataDefault = {} %}
  {% set data = data | mergeDeep(dataDefault) %}
  {% set data = data | setAttribute('type', 'radio') %}
  {{ rncIconOnly(data) }}
{% endmacro %}

{% macro switchIcon(data) %}
  {% set dataDefault = {} %}
  {% set data = data | mergeDeep(dataDefault) %}
  {% set data = data | setAttribute('type', 'switch') %}
  {{ rncIconOnly(data) }}
{% endmacro %}

{% macro rncItemBoxIcon(data) %}
  {% set dataDefault = {
    extendLabelClassDev: 'rnc-item-box',
    rncItemstyle: 'iconText',
    icon: {
      size: 'xls',
      extendClass: 'avatar-border-radius'
    }
  } %}
  {% set data = data | mergeDeep(dataDefault) %}
  {% set content %}
    {% if data.rncItemstyle == 'iconText' %}
      <div class="rnc-item-box-wrap">
        <div class="row row-12 align-items-center">
          <div class="col-auto">
            {{ base.icon(data.icon) }}
          </div>
          <div class="col">
            <div class="title ellipsis-2 weight5">{{ data.title }}</div>
            <div class="color-default-s">{{ data.sub }}</div>
          </div>
        </div>
      </div>
    {% endif %}
    {% if data.rncItemstyle == 'textBig' %}
      <div class="rnc-item-box-wrap rnc-item-box-wrap-text-big">
        <div class="checked-text">
          <div class="h3">{{ data.title }}</div>
        </div>
      </div>
      {% if data.sub %}
        <div class="h6 color-default-s mt4 text-center">
          {{ data.sub }}
        </div>
      {% endif %}
    {% endif %}
  {% endset %}
  {% set data = data | setAttribute('content', content) %}
  {{ rncInput(data) }}
{% endmacro %}

{% macro rncItemBoxIconGroup(data) %}
  {% set dataDefault = {
    gutterH: '24',
    gutterV: '24',
    col: 'col-md-4'
  } %}
  {% set data = data | mergeDeep(dataDefault) %}
  <div class="rnc-box-group">
    <div class="row {{ 'row-' + data.gutterH if data.gutterH }} {{ 'list-mb' + data.gutterV + ' list-crop' if data.gutterV }}">
      {% for item in data.data %}
        <div class="{{ data.col }}">
          {% set itemData = item | mergeDeep(data.itemOption) %}
          {{ rncItemBoxIcon(item) }}
        </div>
      {% endfor %}
    </div>
    <div class="errorBlock"></div>
  </div>
{% endmacro %}

