{% extends "_varibles.njk" %}

{% macro rnc(title, subTitle, color = 'base', fontSize, extendClass = '', extendAttr = '', type = 'radio', align = 'center', mr = '', checked, name = '', value = '', custom = '', icPos, id, style = '1', icSize) %}
  {% if checked %}
    {% set checkedText = 'checked' %}
  {% endif %}
  {% if id %}
    {% set idText = 'id="' + id + '"' %}
  {% endif %}
  {% if icPos == 'right' %}
    {% set order = 'order-1' %}
  {% endif %}
  {% if not custom == '' %}
    {% set customContent = custom %}
  {% else %}
    {% set customContent %}
    <span class="radio-text">
      <div class="txt-main">{{ title }}</div>
      {% if not subTitle == '' %}
        <div class="txt-sub h6">
          <span class="color-base-3">{{ subTitle }}</span>
        </div>
      {% endif %}
    </span>
    {% endset %}
  {% endif %}

  <label class="{{ type }} align-items-{{ align }} color-{{ color }} {{ extendClass }} {{ fontSize }}">
    <input type="{{ type }}" class="hidden" name="{{ name }}" {{ checkedText }} value="{{ value }}" {{ idText | safe }} {{ extendAttr }}>
    <div class="rnc-ic-wrap">
      <span class="{{ type }}-ic {{ type }}-size-{{ icSize }} {{ type }}-style-{{ style }} ripple-{{ type }} {{ mr }} {{order}}"></span>
    </div>
    {{ customContent | safe }}
  </label>
{% endmacro %}

{% macro checkbox(title, subTitle, color = 'base', extendClass = '', extendAttr = '', align = 'center', mr = '', checked, name = '', value = '', custom = '', icPos, id, style = settingRncDefault.checkboxStyle, fontSize, icSize = settingRncDefault.icSize, groupGutter = '20', groupCol = '12', groupSpace = '10') %}
  <!-- rnc.checkbox -->
  {% if (title | isStr) %}
    {{ rnc(title = title, subTitle = subTitle, color = color, extendClass = extendClass, extendAttr = extendAttr, type = 'checkbox', align = align, mr = mr, checked = checked, name = name, value = value, custom = custom, icPos = icPos, id = id, style = style, fontSize = fontSize, icSize = icSize) }}
  {% else %}
    <div class="form-group">
      <div class="row row-{{ groupGutter }} list-mb{{groupSpace}} list-last-mb">
        {% for item in title %}
          {% if item | string == '[object Object]' %}
            <div class="col-{{ groupCol }}">
              {{ rnc(title = item.main, subTitle = item.sub, color = color, extendClass = extendClass, extendAttr = extendAttr, type = 'checkbox', align = align, mr = mr, checked = checked, name = name, value = name + loop.index, custom = custom, icPos = icPos, id = id, style = style, fontSize = fontSize, icSize = icSize) }}
            </div>
          {% else %}
            <div class="col-{{ groupCol }}">
              {{ rnc(title = item, subTitle = subTitle, color = color, extendClass = extendClass, extendAttr = extendAttr, type = 'checkbox', align = align, mr = mr, checked = checked, name = name, value = name + loop.index, custom = custom, icPos = icPos, id = id, style = style, fontSize = fontSize, icSize = icSize) }}
            </div>
          {% endif %}
        {% endfor %}
      </div>
      <div class="errorBlock"></div>
    </div>
  {% endif %}
  <!-- end rnc.checkbox -->
{% endmacro %}

{% macro radio(title, subTitle, color = 'base', extendClass = '', extendAttr = '', align = 'center', mr = '', checked, name = '', value = '', custom = '', icPos, id, style = settingRncDefault.radioStyle, fontSize, icSize = settingRncDefault.icSize, groupGutter = '20', groupCol = '12', groupSpace = '10') %}
  <!-- rnc.radio -->
  {% if (title | isStr) %}
    {{ rnc(title = title, subTitle = subTitle, color = color, extendClass = extendClass, extendAttr = extendAttr, type = 'radio', align = align, mr = mr, checked = checked, name = name, value = value, custom = custom, icPos = icPos, id = id, style = style, fontSize = fontSize, icSize = icSize) }}
  {% else %}
    <div class="form-group">
      <div class="row row-{{ groupGutter }} list-mb{{groupSpace}} list-last-mb">
        {% for item in title %}
          {% if item | string == '[object Object]' %}
            <div class="col-{{ groupCol }}">
              {{ rnc(title = item.main, subTitle = item.sub, color = color, extendClass = extendClass, extendAttr = extendAttr, type = 'radio', align = align, mr = mr, checked = checked, name = name, value = name + loop.index, custom = custom, icPos = icPos, id = id, style = style, fontSize = fontSize, icSize = icSize) }}
            </div>
          {% else %}
            <div class="col-{{ groupCol }}">
              {{ rnc(title = item, subTitle = subTitle, color = color, extendClass = extendClass, extendAttr = extendAttr, type = 'radio', align = align, mr = mr, checked = checked, name = name, value = name + loop.index, custom = custom, icPos = icPos, id = id, style = style, fontSize = fontSize, icSize = icSize) }}
            </div>
          {% endif %}
        {% endfor %}
      </div>
      <div class="errorBlock"></div>
    </div>
  {% endif %}
  <!-- end rnc.radio -->
{% endmacro %}

{% macro switch (title, subTitle, color = 'base', fontSize, extendClass = '', extendAttr = '', align = 'center', checked, name = '', value = '', custom = '', icPos = 'right', id, custom, groupGutter = '10') %}
  <!-- rnc.switch -->
  {% if icPos == 'left' %}
    {% set order = 'order-1' %}
  {% endif %}
  {% if id %}
    {% set idText = 'id="' + id + '"' %}
  {% endif %}
  <label class="switch switch-stretch block switch-item-bg ripple {{ fontSize }} {{ extendClass }}">
    <input type="checkbox" class="hidden" name="{{ name }}" {{ extendAttr  | safe }} value="{{ value }}" {{ idText | safe }}>
    <div class="switch-inner">
      <div class="row row-{{ groupGutter }} align-items-{{ align }}">
        {% if title or subTitle %}
          <div class="col color-{{ color }} {{ order }}">
            {% if title %}
              <div class="txt-main">{{ title }}</div>
            {% endif %}
            {% if subTitle %}
              <div class="txt-sub h6">{{ subTitle }}</div>
            {% endif %}
          </div>
        {% endif %}
        <div class="col-auto">
          <div class="switch-wrap block-right">
            <div class="switch-ic"></div>
            <div class="switch-bg"></div>
          </div>
        </div>
      </div>
    </div>
    {{ custom | safe }}
  </label>
  <!-- end rnc.switch -->
{% endmacro %}