{% extends "_varibles.njk" %}

{% macro rncSymbol(data) %}
  {% set dataDefault = {
    type: 'checkbox',
    size: 'default',
    style: 'default'
  } %}

  {% set data = data | mergeDeep(dataDefault) %}

  {% set iconClass %}
  {{ data.type + '-ic' }}
  {{ data.type + '-ic-' + data.size }}
  {{ data.type + '-size-' + data.size }}
  {{ data.type + '-style-' + data.style }}
  {% endset %}

  {% if data.type == 'switch' %}
    <div class="switch-wrap">
      <div class="switch-ic"></div>
      <div class="switch-bg"></div>
    </div>
  {% else %}
    <span class="{{ iconClass }}"></span>
  {% endif %}

{% endmacro %}

{% macro rncInput(data) %}
  {% set dataDefault = {
    id: false,
    type: 'checkbox',
    checked: false,
    indeterminate: false,
    disabled: false,
    name: false,
    value: false,
    form: false,
    extendInputAttr: false,
    extendLabelClass: false,
    content: content,
    dataDump: false
  } %}

  {% set data = data | mergeDeep(dataDefault) %}

  {% set labelClass %}
  rnc
  {{ data.type }}
  {{ 'type-' + data.type }}
  {{ data.extendLabelClass }}
  {% endset %}

  {% set inputAttr %}
  {{ 'type="radio"' if data.type == 'radio' }}
  {{ 'type="checkbox"' if data.type == 'checkbox' }}
  {{ 'type="checkbox"' if data.type == 'switch' }}
  {{ 'id="' + data.id + '"' if data.id }}
  {{ 'name="' + data.name + '"' if data.name }}
  {{ 'value="' + data.value + '"' if data.value }}
  {{ 'required' if data.isRequired }}
  {{ 'checked' if data.checked }}
  {{ 'indeterminate' if data.indeterminate }}
  {{ 'disabled' if data.disabled }}
  {{ data.extendInputAttr if data.extendInputAttr }}
  {% endset %}

  {% set mainContent %}
  <label class="{{ labelClass }}">
    <input {{ inputAttr }} class="hidden">
    {{ data.content }}
  </label>
  {% endset %}
  <!-- rnc.{{data.type}} -->
  {% if data.form %}
    <div class="form-group">
      {{ mainContent }}
      <div class="errorBlock"></div>
    </div>
  {% else %}
    {{ mainContent }}
  {% endif %}
  {% if data.dataDump %}
    {{ data | dump }}
  {% endif %}
  <!-- end rnc.{{data.type}} -->
{% endmacro %}

{% macro rncIconOnly(data) %}
  {% set content %}
  {{ rncSymbol(data) }}
  {% endset %}

  {% set data = data | setAttribute('content', content) %}
  {{ rncInput(data) }}
{% endmacro %}

{% macro rncBox(data) %}
  {% set dataDefault = {
    space: '10'
  } %}
  {% set data = data | mergeDeep(dataDefault) %}

  {% set rncContentClass %}
  rnc-content
  {{ 'align-items-' + data.valign if data.valign }}
  {% endset %}

  {% set rncInnerClass %}
  rnc-inner
  {% endset %}

  {% set rncIcWrapClass %}
  rnc-ic-wrap
  {% if data.iconPos %}
    {{ 'pl' + data.space if data.space }}
  {% else %}
    {{ 'pr' + data.space if data.space }}
  {% endif %}
  {{ 'order-' + data.iconPos if data.iconPos }}
  {% endset %}

  {% set content %}
  <div class="{{ rncContentClass }}">
    <div class="{{ rncIcWrapClass }}">
      {{ rncSymbol(data) }}
    </div>
    <div class="{{ rncInnerClass }}">
      {{ data.content }}
    </div>
  </div>
  {% endset %}

  {% set data = data | setAttribute('content', content) %}
  {{ rncInput(data) }}
{% endmacro %}

{% macro rncText(data) %}
  {% set content %}
  <div class="rnc-text">
    {{ data.title }}
  </div>
  {% endset %}
  {% set data = data | setAttribute('content', content) %}
  {{ rncBox(data) }}
{% endmacro %}

{% macro checkbox(data) %}
  {% set dataDefault = {} %}
  {% set data = data | mergeDeep(dataDefault) %}
  {{ rncText(data) }}
{% endmacro %}

{% macro radio(data) %}
  {% set dataDefault = {} %}
  {% set data = data | mergeDeep(dataDefault) %}
  {% set data = data | setAttribute('type', 'radio') %}
  {{ rncText(data) }}
{% endmacro %}

{% macro switch (data) %}
  {% set dataDefault = {} %}
  {% set data = data | mergeDeep(dataDefault) %}
  {% set data = data | setAttribute('type', 'switch') %}
  {{ rncText(data) }}
{% endmacro %}

{% macro checkboxIcon(data) %}
  {% set dataDefault = {} %}
  {% set data = data | mergeDeep(dataDefault) %}
  {{ rncIconOnly(data) }}
{% endmacro %}

{% macro radioIcon(data) %}
  {% set dataDefault = {} %}
  {% set data = data | mergeDeep(dataDefault) %}
  {% set data = data | setAttribute('type', 'radio') %}
  {{ rncIconOnly(data) }}
{% endmacro %}

{% macro switchIcon(data) %}
  {% set dataDefault = {} %}
  {% set data = data | mergeDeep(dataDefault) %}
  {% set data = data | setAttribute('type', 'switch') %}
  {{ rncIconOnly(data) }}
{% endmacro %}