{% extends "_varibles.njk" %}

{% import "macros/forms/_forms.njk" as form %}
{% import "macros/forms/_buttons.njk" as button %}
{% import "macros/forms/_rnc.njk" as rnc %}

{% macro pagination(data) %}
  <!-- tables.pagination -->
  {% set dataDefault = {
    justify: 'center',
    page: '3'
  } %}
  {% if data == true %}
    {% set data = dataDefault %}
  {% else %}
    {% set data = data | mergeDeep(dataDefault) %}
  {% endif %}
  <div class="pagination justify-content-{{ data.justify }}">
    {% if data.page == 'multi' %}
      <div class="pagination-item pagination-back disabled"></div>
      <div class="pagination-item pagination-number">1</div>
      <div class="pagination-item pagination-number">2</div>
      <div class="pagination-item pagination-number pagination-active">3</div>
      <div class="pagination-item pagination-dots">...</div>
      <div class="pagination-item pagination-number">102</div>
      <div class="pagination-item pagination-next"></div>
    {% endif %}
    {% if data.page == '3' %}
      <div class="pagination-item pagination-back pagination-item-disabled"></div>
      <div class="pagination-item pagination-number pagination-active">1</div>
      <div class="pagination-item pagination-number">2</div>
      <div class="pagination-item pagination-number">3</div>
      <div class="pagination-item pagination-next"></div>
    {% endif %}
    {% if data.page == '1' %}
      <div class="pagination-item pagination-back pagination-item-disabled"></div>
      <div class="pagination-item pagination-number pagination-active">1</div>
      <div class="pagination-item pagination-next pagination-item-disabled"></div>
    {% endif %}
  </div>
  <!-- tables.pagination -->
{% endmacro %}

{% macro record(justify = 'end') %}
  <!-- tables.record -->
  <div class="record-number">
    <div class="row row-8 align-items-center justify-content-center">
      <div class="col-auto">
        Hiển thị
      </div>
      <div class="col-auto">
        {{ form.select({ size: 'xs', option: [5, 10, 15, 20, 25], selected: '1' }) }}
      </div>
      <div class="col-auto">
        bản ghi
      </div>
    </div>
  </div>
  <!-- tables.record -->
{% endmacro %}

{% macro tableUlt(data) %}
  <!-- tables.tableUlt -->
  <div class="ult-wrap">
    {% for item in data %}
      {% set dataDefault = {
        size: 'sm',
        icSize: 'md',
        btnIcon: true,
        color: 'transaprent',
        shape: 'square'
      } %}
      {% set dataButtonItem = item %}
      {% if item.type == 'blank' %}
        <div class="ubox-size-button-sm ubox-square ubox-holder"></div>
      {% else %}
        {% set dataButton = {} %}
        {% set dataDefault = dataDefault | mergeDeep(settingTableUltVal[item.type]) %}
        {% set dataButton = dataDefault | mergeDeep(item) %}
        {{ button.btn(dataButton) }}
      {% endif %}

    {% endfor %}
  </div>
  <!-- end tables.tableUlt -->
{% endmacro %}

{% macro tableRecordPagination(data) %}
  {% set dataDefault = {
    pagination: true,
    record: true
  } %}
  {% set data = data | mergeDeep(dataDefault) %}
  <div class="record-and-pagination">
    <div class="row align-items-center list-mb16 list-crop justify-content-between">
      <div class="col-md-auto">
        {{ record() }}
        {% if data.record %}{% endif %}
      </div>
      <div class="col-md-auto">
        {% if data.pagination %}
          {{ pagination(data.pagination) }}
        {% endif %}
      </div>
    </div>
  </div>
{% endmacro %}

{% macro tableRow(data, dataMain) %}
  {% set celltagname = 'td' %}
  {% if data.type == 'thead' %}
    {% set celltagname = 'th' %}
  {% endif %}
  <{{ data.type }}>
    {% for item in data.data %}
      <tr>
        {% if dataMain.rnc %}
          <{{celltagname}} class="checkbox-cell">
            {% if not loop.index in dataMain.rncFalse %}
              {% set checked = true if loop.index in dataMain.rncChecked and celltagname == 'td' else 
                false %}
              {% if not(data.type == 'thead' and not dataMain.checkAll) %}
                {# {{ rnc.rncIconOnly({ type: dataMain.rnc, checked: checked }) }} #}
              {% endif %}
            {% endif %}
          </{{celltagname}}>
        {% endif %}

        {% if dataMain.index %}
          <{{celltagname}}>
            {% if data.type == 'thead' %}
              {{ dataMain.indexText }}
            {% endif %}

            {% if data.type == 'tbody' %}
              {{ loop.index }}
            {% endif %}
          </{{celltagname}}>
        {% endif %}

        {% for item2 in item %}
          {% if dataMain.ult and loop.index == item.length and data.type == 'tbody' %}
            {% set stickyUltClass %}
              sticky-ult
              {{ item2.extendClass if item2.extendClass }}
            {% endset %}
          {% endif %}

          {% set cellAttr %}
            {{ 'colspan="' + item2.colspan + '"' if item2.colspan }}
            {{ 'rowspan="' + item2.rowspan + '"' if item2.rowspan }}
            {{ item2.extendAttr + '"' if item2.extendAttr }}
          {% endset %}

          {% set cellClass %}
            {% if dataMain.sort and data.type == 'thead' %}
              sort
              {{ 'sort-asc' if loop.index == 1 or loop.index == 0 }}
              {{ 'sort-desc' if loop.index == 2 }}
              {{ 'sort-no' if loop.index > 2 }}
            {% endif %}
            {{ item2.extendClass if item2.extendClass }}
            {{ stickyUltClass if stickyUltClass }}
            {% if condition %}{% endif %}
          {% endset %}

          <{{celltagname}} {{ cellAttr }} class="{{ cellClass }}">
            {% if item2 | string == '[object Object]' %}
              {{ item2.title }}
            {% else %}
              {{ item2 }}
            {% endif %}

            {% if item2.ult %}
              {{ tableUlt(item2.ult) }}
            {% endif %}
          </{{celltagname}}>
        {% endfor %}

        {% if dataMain.ult and data.type == 'thead' %}
          {% set class %}
            {{ 'sticky-ult' if dataMain.stickyUlt }}
          {% endset %}
          {% set celltagname = 'th' %}
          <{{celltagname}} class="{{ class }}">
            {{ dataMain.ultText }}
          </{{celltagname}}>
        {% endif %}
      </tr>
    {% endfor %}
  </{{ data.type }}>
{% endmacro %}

{% macro table(data) %}
  <!-- tables.table -->
  {% set dataDefault = {
    id: false,
    index: true,
    indexText: 'STT',
    ult: true,
    ultText: 'Thao tác',
    stickyUlt: true,
    strip: true,
    responsive: true,
    paginationRecord: {
      pagination: {
        page: 'multi'
      }
    },
    record: true,
    rnc: false,
    rncFalse: [],
    rncChecked: [],
    checkAll: true,
    hideTableTop: false,
    sort: true
  } %}
  {% set data = data | mergeDeep(dataDefault) %}

  {% set class %}
    table-wrap
    {{ 'table-responsive-new' if data.responsive }}
    {{ 'table-vertical-scroll' if data.viewmore }}
  {% endset %}

  {% set tableClass %}
    table
    {{ 'table-sticky-ult' if data.stickyUlt }}
    {{ 'table-striped' if data.strip }}
    {{ data.extendClass if data.extendClass }}
  {% endset %}

  <div class="{{ class }}">
    {% if not data.hideTableTop %}
      {% if data.record or data.button %}
        <div class="table-top {{ tableTopExtendClass if data.tableTopExtendClass }}">
          <div class="row align-items-center list-mb16 list-crop">
            <div class="col">
              Tổng số bản ghi:
              <span class="weight5 color-primary">1000</span>
            </div>
            {% if data.button %}
              {% for item in data.button %}
                <div class="col-auto">
                  {{ button.btn(item) }}
                </div>
              {% endfor %}
            {% endif %}
          </div>
        </div>
      {% endif %}
    {% endif %}
    <div class="table-wrap-inner">
      <table class="{{ tableClass }}">
        {% for item in data.data %}
          {{ tableRow(item, data) }}
        {% endfor %}
      </table>
      {% if data.viewmore %}
        <div class="table-wrap-inner-footer">
          <div class="row justify-content-center">
            <div class="col-auto">
              {{ button.btn({ title: 'Xem thêm bản ghi', color: 'tertiary', size: 'sm' }) }}
            </div>
          </div>
        </div>
      {% endif %}
    </div>
    {% if data.paginationRecord %}
      {{ tableRecordPagination(data.paginationRecord) }}
    {% endif %}
  </div>
  <!-- end tables.table -->
{% endmacro %}